[Desktop Entry]
Name=Space Fun
Name[fr]=Amusement Spatial
X-KDE-PluginInfo-Name=SpaceFun
X-KDE-PluginInfo-Author=Valessio Brito
X-KDE-PluginInfo-Email=valessio@debianart.org
X-KDE-PluginInfo-License=GPLv2
