[Desktop Entry]
Version=1.1
Name=Debian Reference Manual
Comment=An introduction and reference manual for Debian
Icon=emblem-debian
Type=Link
URL=https://www.debian.org/doc/manuals/reference/
