[Desktop Entry]
Version=1.1
Name=Debian Home Page
Comment=The official web site of the Debian Project
Icon=emblem-debian
Type=Link
URL=https://www.debian.org

