[Desktop Entry]
Name=Home Folder
Name[af]=Tuisgids
Name[am]=የ ቤት ፎልደር
Name[ar]=مجلّد المنزل
Name[as]=ব্যক্তিগত ফোল্ডাৰ
Name[ast]=Carpeta Home
Name[az]=Ev Qovluğu
Name[be]=Хатні каталог
Name[bg]=Домашна папка
Name[bn]=হোম ফোল্ডার
Name[bn_IN]=ব্যক্তিগত ফোল্ডার
Name[br]=Ma zeuliad din
Name[bs]=Početni direktorij
Name[ca]=Carpeta de l'usuari
Name[ca@valencia]=Carpeta de l'usuari
Name[cmn]=家目錄
Name[crh]=Ev Cilbenti
Name[cs]=Domovská složka
Name[cy]=Plygell gartref
Name[da]=Hjemmemappe
Name[de]=Persönlicher Ordner
Name[dz]=ཁྱིམ་གྱི་ སྣོད་འཛིན་ 
Name[el]=Προσωπικός φάκελος
Name[en_AU]=Home Folder
Name[en_CA]=Home Folder
Name[en_GB]=Home Folder
Name[eo]=Hejmujo
Name[es]=Carpeta personal
Name[es_AR]=Carpeta personal
Name[es_CO]=Carpeta personal
Name[et]=Kodukaust
Name[eu]=Karpeta nagusia
Name[fa]=پوشه‌ی آغازه
Name[fi]=Kotikansio
Name[fr]=Dossier personnel
Name[frp]=Cartâblo de reçua
Name[fur]=Cartele Home
Name[fy]=Thúsmap
Name[ga]=Fillteán Baile
Name[gl]=Cartafol persoal
Name[gu]=ઘર ફોલ્ડર
Name[ha]=Shamis na Gida
Name[he]=תיקיית הבית
Name[hi]=घर फोल्डर
Name[hr]=Osobna mapa
Name[hu]=Saját mappa
Name[hy]=Տուն Թղթապանակ
Name[id]=Folder Rumah
Name[ig]=Nsomebefaịlụ nke ụlọ
Name[is]=Heimamappa
Name[it]=Cartella home
Name[ja]=ホームフォルダ
Name[ka]=სახლის დასტა
Name[kk]=Үй бумасы
Name[kn]=ನೆಲೆ (Home) ಕಡತಕೋಶ
Name[ko]=홈 폴더
Name[ku]=Peldanka Mal
Name[ku_IQ]=بەخچەی ماڵەوە
Name[ky]=Үй папкасы
Name[la]=Forulus domi
Name[li]=Heimmap
Name[lt]=Namų aplankas
Name[lv]=Mājas mape
Name[mai]=घर फ़ोल्डर
Name[mg]=Laha-tahirin'ny fandraisana
Name[mi]=Kōpaki Kāinga
Name[mk]=Домашна папка
Name[ml]=ആസ്ഥാന അറ
Name[mn]=Гэр хавтас
Name[mr]=होम फोल्डर
Name[ms]=Folder Rumah
Name[nb]=Hjemmemappe
Name[nds]=Hemverteeknis
Name[ne]=गृह फोल्डर
Name[nl]=Persoonlijke map
Name[nn]=Heimemappe
Name[nso]=Sephuthedi sa Gae
Name[oc]=Dorsièr personal
Name[or]=ମୂଳ ଫୋଲଡର
Name[pa]=ਘਰ ਫੋਲਡਰ
Name[pl]=Folder domowy
Name[ps]=کور پوښۍ
Name[pt]=Pasta Pessoal
Name[pt_BR]=Pasta pessoal
Name[ro]=Dosar personal
Name[ru]=Домашний каталог
Name[si]=නිවාස බහලුම
Name[sk]=Domovský priečinok
Name[sl]=Domača mapa:
Name[sq]=Kartela personale
Name[sr]=Лична фасцикла
Name[sr@latin]=Lična fascikla
Name[sv]=Hemkatalog
Name[ta]=இல்ல அடைவு
Name[te]=నివాస సంచయం
Name[th]=โฟลเดอร์หลัก
Name[tk]=Öý Haltasy
Name[tr]=Ev Klasörü
Name[ug]=باش مۇندەرىجە
Name[uk]=Домашня тека
Name[ur]=گھر کا فولڈر
Name[uz]=Uy jildi
Name[vi]=Thư mục chính
Name[wa]=Ridant måjhon
Name[xh]=Isiqulathi -zifayili Sasekhaya
Name[yo]=Fódà Ilé
Name[zh_CN]=主文件夹
Name[zh_HK]=家目錄
Name[zh_TW]=家目錄
Name[zu]=Isibaya sasekhaya
Comment=Open your personal folder
Comment[af]=Open u persoonlike gids
Comment[am]=የ እርስዎን የ ግል ፎልደር መክፈቻ
Comment[ar]=أفتح مجلّدك الخاص
Comment[as]=ব্যক্তিগত ফোল্ডাৰ খোলক
Comment[ast]=Abrir la carpeta personal
Comment[be]=Адкрыць ваш асабісты каталог
Comment[bg]=Отваряне на личната Ви папка
Comment[bn]=আপনার ব্যক্তিগত ফোল্ডার খুলুন
Comment[bn_IN]=ব্যক্তিগত ফোল্ডার খুলুন
Comment[br]=Digeriñ ho teuliad personel
Comment[bs]=Otvori lični folder
Comment[ca]=Obriu la vostra carpeta personal
Comment[ca@valencia]=Obri la vostra carpeta personal
Comment[cmn]=開啟您的個人資料夾
Comment[crh]=Şahsiy cilbentiñizni aç
Comment[cs]=Otevřít osobní složku
Comment[cy]=Agor eich plygell bersonol
Comment[da]=Åbn din personlige mappe
Comment[de]=Ihren persönlichen Ordner öffnen
Comment[dz]=ཁྱོད་རའི་ སྒེར་དོན་གྱི་ སྣོད་འཛིན་ ཁ་ཕྱེ་ 
Comment[el]=Άνοιγμα του προσωπικού σας φακέλου
Comment[en_AU]=Open your personal folder
Comment[en_CA]=Open your personal folder
Comment[en_GB]=Open your personal folder
Comment[eo]=Malfermi vian personan dosierujon
Comment[es]=Abrir la carpeta personal
Comment[es_AR]=Abrir su carpeta personal
Comment[es_CO]=Abrir su carpeta personal
Comment[et]=Sinu isikliku kataloogi avamine
Comment[eu]=Ireki karpeta pertsonala
Comment[fa]=باز کردن پوشه‌ی شخصی شما
Comment[fi]=Avaa henkilökohtaisen kansiosi
Comment[fr]=Ouvrir votre dossier personnel
Comment[fur]=Vierç la cartele personâl
Comment[fy]=Jo persoanlike map openje
Comment[ga]=Oscail d'fhillteán pearsanta
Comment[gl]=Abrir o seu cartafol persoal
Comment[gu]=તમારું વ્યક્તિગત ફોલ્ડર ખોલો
Comment[he]=פתח את התיקייה האישית שלך
Comment[hi]=अपना निजी निर्देशिका खोलें
Comment[hr]=Otvorite svoju osobnu mapu
Comment[hu]=Saját mappa megnyitása
Comment[hy]=Բացել անձնական պանակը
Comment[id]=Buka folder pribadi Anda
Comment[is]=Opna einkamöppuna þína
Comment[it]=Apre la propria cartella personale
Comment[ja]=個人用フォルダーを開く
Comment[ka]=პირადი დასტის გახსნა
Comment[kk]=Жеке бумаңызды ашу
Comment[kn]=ನಿಮ್ಮ ವೈಯಕ್ತಿಕ ಕಡತಕೋಶವನ್ನು ತೆರೆಯಿರಿ
Comment[ko]=개인 폴더를 엽니다
Comment[ku]=Peldanka şexsî veke
Comment[ku_IQ]=کردنەوەی بوخچەی کەسی
Comment[ky]=Жеке папкаңызды ачуу
Comment[lt]=Atverti jūsų asmeninį aplanką
Comment[lv]=Atvērt jūsu privāto mapi
Comment[mai]=अपन निजी फ़ोल्डर खोलू
Comment[mk]=Отворете ја Вашата лична папка
Comment[ml]=നിങ്ങളുടെ സ്വകാര്യ അറ തുറക്കുക
Comment[mn]=Хувийн хавтсыг нээх
Comment[mr]=तुमची व्यक्तिगत फोल्डर उघडा
Comment[ms]=Buka folder peribadi anda
Comment[nb]=Åpne din personlige mappe
Comment[nds]=Hemverteeknis opmaken
Comment[ne]=तपाईँको व्यक्तिगत फोल्डर खोल्नुहोस्
Comment[nl]=Open uw persoonlijke map
Comment[nn]=Opna di personlige mappe
Comment[oc]=Dobrir vòstre dorsièr personal
Comment[or]=ଆପଣଙ୍କ ବ୍ୟକ୍ତିଗତ ଫୋଲଡର ଖୋଲନ୍ତୁ
Comment[pa]=ਆਪਣਾ ਨਿੱਜੀ ਫੋਲਡਰ ਖੋਲ੍ਹੋ
Comment[pl]=Otwórz katalog prywatny użytkownika
Comment[ps]=خپل ځاني پوښۍ پرانيستل
Comment[pt]=Abrir a sua pasta pessoal
Comment[pt_BR]=Abrir sua pasta pessoal
Comment[ro]=Deschide dosarul personal
Comment[ru]=Открыть вашу личную папку
Comment[si]=ඔබගේ පෞද්ගලික බහලුම් විවෘත කරන්න
Comment[sk]=Otvoriť osobný priečinok
Comment[sl]=Odpre vašo osebno mapo
Comment[sq]=Hap kartelën personale
Comment[sr]=Отворите вашу личну фасциклу
Comment[sr@latin]=Otvorite svoju ličnu fasciklu
Comment[sv]=Öppna din personliga mapp
Comment[ta]=உங்கள் அந்தரங்க அடைவை திறக்கவும்
Comment[te]=మీ వ్యక్తిగత సంచయాన్ని తెరువుము
Comment[th]=เปิดโฟลเดอร์ส่วนตัวของคุณ
Comment[tr]=Kişisel klasörünüzü açın
Comment[ug]=شەخسىي قىسقۇچىڭىزنى ئاچىدۇ
Comment[uk]=Відкрити Вашу особисту теку
Comment[ur]=اپنا ذاتی فولڈر کھولیں
Comment[uz]=Shaxsiy jildni ochish
Comment[vi]=Mở thư mục chính của bạn
Comment[zh_CN]=打开个人文件夹
Comment[zh_HK]=開啟你的個人資料夾
Comment[zh_TW]=開啟您的個人資料夾
TryExec=caja
Exec=caja --no-desktop
Icon=user-home
Terminal=false
StartupNotify=true
Type=Application
Categories=GTK;System;Core;
Keywords=home;personal;folder;open;MATE;
OnlyShowIn=MATE;
NoDisplay=true
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=caja
X-MATE-Bugzilla-Component=general
