[Desktop Entry]
Name=Computer
Name[af]=Rekenaar
Name[am]=ኮምፒዩተር
Name[ar]=الحاسوب
Name[as]=কম্পিউটাৰ
Name[ast]=Equipu
Name[az]=Kompüter
Name[be]=Камп'ютар
Name[bg]=Компютър
Name[bn]=কম্পিউটার
Name[bn_IN]=কম্পিউটার
Name[br]=Urzhiataer
Name[bs]=Računar
Name[ca]=Ordinador
Name[ca@valencia]=Ordinador
Name[cmn]=電腦
Name[crh]=Bilgisayar
Name[cs]=Počítač
Name[cy]=Cyfrifiadur
Name[da]=Computer
Name[de]=Rechner
Name[dz]=གློག་རིག
Name[el]=Υπολογιστής
Name[en_AU]=Computer
Name[en_CA]=Computer
Name[en_GB]=Computer
Name[eo]=Komputilo
Name[es]=Equipo
Name[es_AR]=Computadora
Name[es_CL]=Computador
Name[es_CO]=Computador
Name[es_MX]=Equipo
Name[et]=Arvuti
Name[eu]=Ordenagailua
Name[fa]=رایانه
Name[fi]=Tietokone
Name[fr]=Ordinateur
Name[frp]=Ordinator
Name[fur]=Ordenadôr
Name[fy]=Kompjûter
Name[ga]=Ríomhaire
Name[gl]=Computador
Name[gu]=કમ્પ્યૂટર
Name[ha]=Kwamfyuta
Name[he]=מחשב
Name[hi]=कम्प्यूटर
Name[hr]=Računalo
Name[hu]=Számítógép
Name[hy]=Համակարգիչ
Name[ia]=Computator
Name[id]=Komputer
Name[ig]=Kọmputa
Name[is]=Tölva
Name[it]=Computer
Name[ja]=コンピュータ
Name[ka]=კომპიუტერი
Name[kk]=Компьютер
Name[kn]=ಗಣಕ
Name[ko]=컴퓨터
Name[ku]=Komputer
Name[ku_IQ]=کۆمپیوتەر
Name[ky]=Компьютер
Name[la]=Numeror
Name[lt]=Kompiuteris
Name[lv]=Dators
Name[mai]=कम्प्यूटर
Name[mg]=solosaina
Name[mi]=Te Rorohiko
Name[mk]=Компјутер
Name[ml]=കമ്പ്യൂട്ടർ
Name[mn]=Цахимбар
Name[mr]=संगणक
Name[ms]=Komputer
Name[nb]=Datamaskin
Name[nds]=Computer
Name[ne]=कम्प्युटर
Name[nl]=Computer
Name[nn]=Datamaskin
Name[nso]=Khomphuthara
Name[oc]=Ordenador
Name[or]=କମ୍ପୁଟର
Name[pa]=ਕੰਪਿਊਟਰ
Name[pl]=Komputer
Name[pms]=Computer
Name[ps]=سولګر
Name[pt]=Computador
Name[pt_BR]=Computador
Name[ro]=Calculator
Name[ru]=Компьютер
Name[si]=පරිගණකය
Name[sk]=Počítač
Name[sl]=Računalnik
Name[sq]=Kompjuteri
Name[sr]=Рачунар
Name[sr@latin]=Računar
Name[sv]=Dator
Name[ta]=கணிணி
Name[te]=కంప్యూటర్
Name[th]=คอมพิวเตอร์
Name[tk]=_Kampýuter
Name[tr]=Bilgisayar
Name[ug]=كومپيۇتېر
Name[uk]=Комп'ютер
Name[ur]=کمپیوٹر
Name[uz]=Kompyuter
Name[vi]=Máy vi tính
Name[xh]=Ikhompyutha
Name[yi]=קאָמפּיוטער‬
Name[yo]=Kọ̀ǹpútà
Name[zh_CN]=计算机
Name[zh_HK]=電腦
Name[zh_TW]=電腦
Name[zu]=Isiga-nyezi
Comment=Browse all local and remote disks and folders accessible from this computer
Comment[af]=Blaai deur alle plaaslike en afgeleë skywe en gidse wat toeganklik is vanaf hierdie rekenaar
Comment[am]=በዚህ ኮምፒዩተር ላይ ሊደረስበት የሚችለውን ዲስኮች እና ፎልደሮች መቃኛ
Comment[ar]=تصفّح كل الأقراص المحلية والبعيدة والمجلّدات القابلة للدخول من هذا الحاسوب
Comment[as]=চিহ্নিত কম্পিউটাৰৰ পৰা ব্যবহাৰযোগ্য সকলো স্থানীয় আৰু দূৰবৰ্তী ডিস্ক আৰু ফোল্ডাৰ ব্ৰাউজ কৰক
Comment[ast]=Desamina tolos discos remotos y carpetes accesibles dende esti equipu
Comment[be]=Аглядаць усе лакальныя і адлеглыя дыскі і каталогі
Comment[bg]=Преглед на всички локални и отдалечени дискове и папки достъпни от този компютър.
Comment[bn]=চিহ্নিত কম্পিউটার থেকে ব্যবহারযোগ্য সকল স্থানীয় ও দূরবর্তী ডিস্ক ও ফোল্ডার ব্রাউজ করুন
Comment[bn_IN]=চিহ্নিত কম্পিউটার থেকে ব্যবহারযোগ্য সকল স্থানীয় ও দূরবর্তী ডিস্ক ও ফোল্ডার ব্রাউজ করুন
Comment[br]=Merdeiñ dre an holl gantennoù ha teuliadoù lec'hel pe a-bell a vez tizhet diouzh an urzhiataer-mañ
Comment[bs]=Pretraži sve lokalne i daljinske diskove i foldere pristupačne sa ovog računara
Comment[ca]=Navegueu per tots els discs i carpetes, locals o remots, que es poden accedir des d'aquest ordinador
Comment[ca@valencia]=Navegueu per tots els discos i carpetes, locals o remots a què es pot accedir des d'aquest ordinador
Comment[cmn]=從本電腦瀏覽所有本機及遠端磁碟及資料夾
Comment[crh]=Bu bilgisayardan irişilebilgen episi yerli ve uzaqtaki disklerde ve cilbentlerde keziniñiz
Comment[cs]=Procházet všechny místní a vzdálené disky a složky dostupné z tohoto počítače
Comment[da]=Gennemse alle lokale og eksterne diske og mapper der kan tilgås fra denne computer
Comment[de]=Alle lokalen und entfernten Datenträger und Ordner, die für diesen Rechner verfügbar sind, durchsuchen
Comment[dz]=འ་ནི་གློག་རིག་འདི་ལས་འཛུལ་སྤྱོད་འབད་བཏུབ་པའི་ ཉེ་གནས་དང་ཐག་རིང་གི་ཌིཀསི་དང་ སྣོད་འཛིན་ཚུ་ བརྡ་འཚོལ་འབད་
Comment[el]=Περιήγηση σε όλους τους τοπικούς ή απομακρυσμένους δίσκους και φακέλους στους οποίους έχει πρόσβαση ο υπολογιστής
Comment[en_AU]=Browse all local and remote disks and folders accessible from this computer
Comment[en_CA]=Browse all local and remote disks and folders accessible from this computer
Comment[en_GB]=Browse all local and remote disks and folders accessible from this computer
Comment[eo]=Foliumu ĉiujn lokajn kaj forajn diskojn kaj dosierujojn atingeblajn de ĉi tiu komputilo.
Comment[es]=Examinar los discos locales y remotos y las carpetas accesibles desde este equipo
Comment[es_CO]=Examinar todos los discos remotos y carpetas accesibles desde este equipo
Comment[et]=Kõikide kohalike ja kaugkaustade ning -ketaste sirvimine
Comment[eu]=Arakatu ordenagailu honetatik atzi daitezkeen lokaleko eta urruneko disko eta karpeta guztiak
Comment[fa]=مرور تمام دیسک‌ها و پوشه‌های محلی و ریموت که از این کامپیوتر قابل دسترسی می‌باشند.
Comment[fi]=Selaa käytettävissä olevia paikallis- ja etäkansioita
Comment[fr]=Parcourir tous les disques locaux et distants ainsi que les dossiers accessibles depuis cet ordinateur
Comment[fur]=Sgarfe in ducj i discs, cartelis locâls e remotis acessibilis di chest ordenadôr
Comment[ga]=Brábhsáil gach diosca logánta agus cianda agus fillteáin inrochtana ón ríomhaire seo
Comment[gl]=Explorar todos os ficheiros locais e remotos e cartafoles accesíbeis desde este computador
Comment[gu]=આ કમ્પ્યૂટરમાંથી સુલભ બધી સ્થાનિક અને દૂરસ્થ ડિસ્કો અને ફોલ્ડરો બ્રાઉઝ કરો
Comment[he]=עיין בכל הדיסקים המקומיים והמרוחקים, ובתיקיות הניתנות לגישה אליהן ממחשב זה
Comment[hi]=इस कंप्यूटर से पहुंच योग्य सभी स्थानीय डिस्क व फोल्डर ब्रॉउज करें
Comment[hr]=Pregledaj sve lokalne i udaljene diskove i mape dostupne s ovog računala
Comment[hu]=A számítógépről elérhető összes helyi és távoli lemez és mappa tallózása
Comment[hy]=Թերթել բոլոր տեղական և հեռավոր սկավառակները և թղթապանակները, որոնք հասանելի են այս համակարգչում
Comment[id]=Buka semua disk dan folder lokal dan remote yang dapat diakses dari komputer ini
Comment[is]=Flakka um alla staðværa og fjartengda diska (og möppur) sem aðgengilegir eru frá þessari tölvu
Comment[it]=Esplora tutti i dischi e cartelle locali e remoti accessibili da questo computer
Comment[ja]=このコンピューターからアクセスできるすべてのローカルとリモートにあるディスクとフォルダーを閲覧する
Comment[ka]=თქვენი კომპიუტერიდან ლოკალური ან დაშორებული დისკების, დასტების დათვალიერება
Comment[kk]=Бұл компьютерден қолжетерлік барлық жергілікті және қашықтағы дисктер және бумаларды шолу
Comment[kn]=ಈ ಗಣಕಿದಿಂದ ನಿಲುಕಿಸಿಕೊಳ್ಳಬಹುದಾದಂತಹ ಸ್ಥಳೀಯ ಹಾಗು ದೂರಸ್ಥ ಡಿಸ್ಕುಗಳನ್ನು ಮತ್ತು ಕಡತಕೋಶಗಳನ್ನು ವೀಕ್ಷಿಸು
Comment[ko]=이 컴퓨터에서 접근할 수 있는 모든 로컬 및 원격 디스크와 폴더를 살펴봅니다
Comment[lt]=Naršyti visus vietinius ir nuotolinius diskus ir aplankus, prieinamus iš šio kompiuterio
Comment[lv]=Pārlūkot visus no šīs mašīnas pieejamos lokālos un attālinātos diskus un mapes
Comment[mai]=एहि कंप्यूटर सँ पहुँच योग्य सबहि स्थानीय डिस्क आ फोल्डर ब्रॉउज करू
Comment[mk]=Разгледај ги сите локални, далечни дискови и папки пристапливи од овој компјутер
Comment[ml]=ലഭ്യമായ പ്രാദേശികവും വിദൂരവുമായ എല്ലാ ഡിസ്ക്കുകളും അറകളും പരതുക.
Comment[mr]=सर्व स्थानीय व दुरस्थ डीस्क व या संगणकावरील प्रवेश प्राप्तीय संचयीकांचे संचार करा
Comment[ms]=Layar semua cakera jauh dan setempat serta folder boleh capai dari komputer ini
Comment[nb]=Bla gjennom alle lokale og eksterne disker og mapper som kan nås fra denne datamaskinen
Comment[nds]=Gah dör all lokalen un ofgelegenen Spiekers un Verteknissen, waar vun deesem Reekner antokomen is
Comment[ne]=सबै स्थानीय र टाढाको डिस्कहरू र यो क्मप्युटरबाट पहुँचयोग्य फोल्डरहरू ब्राउज गर्नुहोस्
Comment[nl]=Doorzoek alle schijven en mappen die benaderbaar zijn vanuit deze computer, ook als ze op afstand zijn
Comment[nn]=Bla gjennom alle lokale og eksterne diskar og mapper som kan nåast frå denne datamaskina
Comment[oc]=Explorar totes los discs e repertòris locals e distants que son accessibles a partir de l'ordenador
Comment[or]=ଏହି କମ୍ପୁଟରରୁ ପ୍ରବେଶ କରାଯାଇପାରୁଥିବା ସମସ୍ତ ସ୍ଥାନୀୟ ଏବଂ ସୁଦୂର ଡ଼ିସ୍କ ଏବଂ ପୋଲଡ଼ରଗୁଡ଼ିକୁ ବ୍ରାଉଜ କରନ୍ତୁ
Comment[pa]=ਸਭ ਲੋਕਲ ਅਤੇ ਰਿਮੋਟ ਡਿਸਕਾਂ ਅਤੇ ਇਸ ਕੰਪਿਊਟਰ ਤੋਂ ਵਰਤੋਂਯੋਗ ਫੋਲਡਰ ਦੀ ਝਲਕ
Comment[pl]=Przeglądaj wszytkie lokalne i zdalne dyski oraz katalogi dostępne z tego komputera
Comment[pt]=Explorar todos os discos e pastas acessíveis, locais e remotos, a partir deste computador
Comment[pt_BR]=Navegar em todos os discos e pastas, locais e remotos, acessíveis a partir deste computador
Comment[ro]=Navighează toate discurile locale și la distanță și dosarele accesibile de pe acest calculator
Comment[ru]=Просмотреть все локальные и удалённые диски и папки, доступные с этого компьютера
Comment[sk]=Prehliadať všetky miestne a vzdialené disky a priečinky dostupné z tohto počítača
Comment[sl]=Brskanje po vseh krajevnih in oddaljenih diskih in mapah, ki so dostopni s tega računalnika
Comment[sq]=Shfleton të gjithë disqet dhe kartelat lokale dhe në distancë të arritshme nga ky kompjutër
Comment[sr]=Разгледајте све месне и удаљене дискове и фасцикле којима се може приступити са овог рачунара
Comment[sr@latin]=Razgledaj sve lokalne i udaljene diskove i fascikle dostupne sa ovog računara
Comment[sv]=Bläddra bland lokala och fjärrdiskar samt mappar som är åtkomliga från den här datorn
Comment[ta]=இந்த கணினியிலிருந்து எல்லா உள்ளமை/தொலை வட்டுகள் மற்றும் அடைவுகளை அணுக உலாவு.
Comment[te]=ఈ కంప్యూటర్ నుండి వాడుకొనగల అన్ని దూరస్థ మరియు స్థానిక డిస్కులను అన్వేషించండి
Comment[th]=ท่องดูดิสก์และโฟลเดอร์ทั้งหมดในเครื่องและในเครือข่ายที่เข้าถึงได้จากคอมพิวเตอร์นี้
Comment[tr]=Bu bilgisayardan erişilebilen tüm yerel ve uzaktaki disklere ve klasörlere göz atın
Comment[ug]=بۇ كومپيۇتېردا زىيارەت قىلغىلى بولىدىغان ھەممە يەرلىك ۋە يىراقتىكى دىسكا ۋە قىسقۇچقا كۆز يۈگۈرت
Comment[uk]=Переглянути усі локальні та віддалені диски і теки, доступні з цього комп’ютера
Comment[ur]=اس کمپیوٹر سے قابلِ رسائی تمام مقامی اور بعید ڈسک اور فولڈر دیکھیں
Comment[vi]=Duyệt mọi đĩa cục bộ và đĩa từ xa cũng như các thư mục có thể truy cập từ máy này
Comment[zh_CN]=浏览可从本机访问的所有本地和远程磁盘和文件夹
Comment[zh_HK]=從本電腦瀏覽所有本機及遠端磁碟及資料夾
Comment[zh_TW]=從本電腦瀏覽所有本機及遠端磁碟及資料夾
TryExec=caja
Exec=caja --no-desktop computer:
Icon=computer
Terminal=false
StartupNotify=true
Type=Application
Categories=GTK;System;Core;
Keywords=browse;disks;folders;local;remote;computer;MATE;
OnlyShowIn=MATE;
NoDisplay=true
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=caja
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.20.3
