#!/usr/bin/env xdg-open

[Desktop Entry]
Name=comgt
Name[fr]=comgt
Comment=Tool for analyse control data Vodafone card
Comment[fr]=Outil pour analyser les cartes de contrôle Vodafone
Exec=terminator -e "zsh -c 'sudo comgt help;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NetworkSecurity
