#!/usr/bin/env xdg-open

[Desktop Entry]
Name=hexedit
Name[fr]=hexedit
Comment=Tool for edit hexadecimal
Comment[fr]=Outil pour éditer en hexadécimal
Exec=terminator -e "zsh -c 'hexedit;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SystemSecurity
