#!/usr/bin/env xdg-open

[Desktop Entry]
Name=safecopy
Name[fr]=safecopy
Comment=Tool for recovery data in damaged disks
Comment[fr]=Outils de récupération de données sur des disques endommagés
Exec=terminator -e "zsh -c 'safecopy -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Recovery
