#!/usr/bin/env xdg-open

[Desktop Entry]
Name=iftop
Name[fr]=iftop
Comment=Tool for monitoring networks
Comment[fr]=Outil pour monitorer les réseaux
Exec=terminator -e "zsh -c 'sudo iftop;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Monitoring
X-Kaisen-Package=iftop;kaisen-network-tools
