#!/usr/bin/env xdg-open

[Desktop Entry]
Name=clonezilla
Name[fr]=clonezilla
Comment=Tool for cloning disk in device/image or device/device
Comment[fr]=Outil pour cloner un disque/image ou disque/disque
Exec=terminator -e "zsh -c 'sudo clonezilla;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Cloning
X-Kaisen-Package=clonezilla;kaisen-cloning;kaisen-technicians-tools
