#!/usr/bin/env xdg-open

[Desktop Entry]
Name=tmux
Name[fr]=tmux
Comment=Tool for launch alternative system
Comment[fr]=Outil pour lancer un système alternatif
Exec=terminator -e "zsh -c 'tmux --help;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=ConsolePort
X-Kaisen-Package=tmux;kaisen-network-tools
