#!/usr/bin/env xdg-open

[Desktop Entry]
Name=lft
Name[fr]=lft
Comment=An alternative as traceroute tool
Comment[fr]=Une alternantive à l'outil traceroute
Exec=terminator -e "zsh -c 'lft;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Scanner
X-Kaisen-Package=lft;kaisen-network-tools;
