#!/usr/bin/env xdg-open

[Desktop Entry]
Name=btrfs-map-logical
Name[fr]=btrfs-map-logical
Comment=Tool for manage BTRFS
Comment[fr]=Outil pour gérer BTRFS
Exec=terminator -e "zsh -c 'btrfs-map-logical;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=BTRFS
X-Kaisen-Package=btrfs-progs;kaisen-filesystems
