#!/usr/bin/env xdg-open

[Desktop Entry]
Name=docker-disable
Name[fr]=docker-désactivé
Comment=Disable docker daemon
Comment[fr]=Désactiver service docker
Exec=terminator -e "zsh -c '/opt/services/docker-disable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SDocker
X-Kaisen-Package=docker;kaisen-services-management;kaisen-sysadmin-tools
