#!/usr/bin/env xdg-open

[Desktop Entry]
Name=DWAgent
Name[fr]=DWAgent
Comment=Open-source tool for remote maintenance 
Comment[fr]=Outil de télémaintenance open-source
Exec=/opt/dwagent.sh
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=RemoteMaintenance
