#!/usr/bin/env xdg-open

[Desktop Entry]
Name=duplicity
Name[fr]=duplicity
Comment=Tool for create encrypt backup 
Comment[fr]=Outil pour créer des sauvegardes chiffrées
Exec=terminator -e "zsh -c 'duplicity --help;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Backup
X-Kaisen-Package=duplicity;kaisen-sysadmin-tools
