#!/usr/bin/env xdg-open

[Desktop Entry]
Name=pwgen
Name[fr]=pwgen
Comment=Tool for generate passwords
Comment[fr]=Outil pour générer des mots de passe
Exec=terminator -e "zsh -c 'pwgen -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Passwords
