#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ext4magic
Name[fr]=ext4magic
Comment=Tool for recovery data at ext3 and ext4 partitions
Comment[fr]=Outil pour récupérer des données sur des partitions ext3 et ext4 
Exec=terminator -e "zsh -c 'sudo ext4magic;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Recovery
X-Kaisen-Package=kaisen-data-recovery;kaisen-technicians-tools;ext4magic
