#!/usr/bin/env xdg-open

[Desktop Entry]
Name=smartctl
Name[fr]=smartctl
Comment=Tool for analyse HDD or SSD 
Comment[fr]=Outil pour analyser un HDD ou SSD
Exec=terminator -e "zsh -c 'sudo smartctl -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DisksAnalysis
