#!/usr/bin/env xdg-open

[Desktop Entry]
Name=etcsetserial-disable
Name[fr]=etcsetserial-désactivé
Comment=Disable etcsetserial daemon
Comment[fr]=Désactiver service etcsetserial
Exec=terminator -e "zsh -c '/opt/services/etcserial-disable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SETCSetSerial
X-Kaisen-Package=statserial;kaisen-services-management;kaisen-network-tools
