#!/usr/bin/env xdg-open

[Desktop Entry]
Name=lockfile-create
Name[fr]=lockfile-create
Comment=Tool for create protected file
Comment[fr]=Outil pour creér un fichier protégé
Exec=terminator -e "zsh -c 'lockfile-create;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Dataprotection
X-Kaisen-Package=kaisen-data-protection;lockfile;kaisen-technicians-tools
