#!/usr/bin/env xdg-open

[Desktop Entry]
Name=docker.io
Name[fr]=docker.io
Comment=Execution environment in Linux containers
Comment[fr]=Environnement d'exécution de conteneurs Linux
Exec=terminator -e "zsh -c 'sudo docker --help;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Docker
X-Kaisen-Package=docker.io;kaisen-sysadmin-tools
