#!/usr/bin/env xdg-open

[Desktop Entry]
Name=VSCodium
Name[fr]=VSCodium
Comment=Code Editing. Redefined.
Comment[fr]=Code édition. Redéfinition.
Exec=/usr/share/codium/codium --no-sandbox --unity-launch %F
Icon=/usr/share/pixmaps/vscodium.png
Type=Application
StartupNotify=false
StartupWMClass=VSCodium
Categories=Microsoft
MimeType=text/plain;inode/directory;
Actions=new-empty-window;
Keywords=vscode;

X-Desktop-File-Install-Version=0.23

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/usr/share/codium/codium --no-sandbox --new-window %F
Icon=/usr/share/pixmaps/vscodium.png
