#!/usr/bin/env xdg-open

[Desktop Entry]
Name=testdisk
Name[fr]=testdisk
Comment=Tool for advanced testing disk 
Comment[fr]=Outil pour une analyse avancée d'un disque  
Exec=terminator -e "zsh -c 'sudo /opt/testdisk-7.1/testdisk_static;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DisksAnalysis
