#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ncdu
Name[fr]=ncdu
Comment=Tool for viewing disk usage
Comment[fr]=Outil pour visualiser l'espace disque utilisé
Exec=terminator -e "zsh -c 'ncdu -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DisksAnalysis
X-Kaisen-Package=ncdu;kaisen-disks-analysis;kaisen-technicians-tools
