#!/usr/bin/env xdg-open

[Desktop Entry]
Name=socat
Name[fr]=socat
Comment=Tool for related datas at TCP sockets
Comment[fr]=Outil pour relayer des sockets TCP
Exec=terminator -e "zsh -c 'socat -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=TCP
