#!/usr/bin/env xdg-open

[Desktop Entry]
Name=umount
Name[fr]=umount
Comment=Tool for unmount filesystems
Comment[fr]=Outil pour démonter des systèmes de fichiers
Exec=terminator -e "zsh -c 'umount -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Mount
X-Kaisen-Package=kaisen-mount;kaisen-technicians-tools
