#!/usr/bin/env xdg-open

[Desktop Entry]
Name=traceroute6
Name[fr]=traceroute6
Comment=Tool for trace on ipv6 packet in route
Comment[fr]=Outil pour tracer un paquet ipv6 sur le réseau
Exec=terminator -e "zsh -c 'traceroute6 --help;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Scanner
X-Kaisen-Package=traceroute6;kaisen-network-tools
