#!/usr/bin/env xdg-open

[Desktop Entry]
Name=sswap
Name[fr]=sswap
Comment=Tool for delete securely swap partition
Comment[fr]=Outil pour effacer de facon sécurisée une partition swap
Exec=terminator -e "zsh -c 'sudo sswap -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Partitioning
X-Kaisen-Package=secure-delete;kaisen-partitioning-erase;kaisen-technicians-tools
