#!/usr/bin/env xdg-open

[Desktop Entry]
Name=masscan
Name[fr]=masscan
Comment=Tool for TCP port scan
Comment[fr]=Outil pour scanner les ports TCP
Exec=terminator -e "zsh -c 'masscan -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=TCP
