#!/usr/bin/env xdg-open

[Desktop Entry]
Name=srm
Name[fr]=srm
Comment=Tool for secure delete file
Comment[fr]=Outil pour effacer de facon sécurisée un fichier
Exec=terminator -e "zsh -c 'sudo srm -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Partitioning
X-Kaisen-Package=secure-delete;kaisen-partitioning-erase;kaisen-technicians-tools
