#!/usr/bin/env xdg-open

[Desktop Entry]
Name=xfreerdp
Name[fr]=xfreerdp
Comment=Tool for remote administration Windows Server with Kerberos authentification
Comment[fr]=Outil pour administer à distance Windows Server avec une authentification Kerberos
Exec=terminator -e "zsh -c 'xfreerdp --help;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=RemoteAdministration
