#!/usr/bin/env xdg-open

[Desktop Entry]
Name=tcpbridge
Name[fr]=tcpbridge
Comment=Tool for bridge network trafic
Comment[fr]=Outil pour mettre en pond une connexion
Exec=terminator -e "zsh -c 'tcpbridge;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=TCP
