#!/usr/bin/env xdg-open

[Desktop Entry]
Name=vmfs-fuse
Name[fr]=vmfs-fuse
Comment=Tool for manage VMFS (VMWare volumes)
Comment[fr]=Outil pour gérer VMFS (VMWare volumes)
Exec=terminator -e "zsh -c 'sudo vmfs-fuse -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=VMFS
X-Kaisen-Package=vmfs-fuse;kaisen-filesystems
