#!/usr/bin/env xdg-open

[Desktop Entry]
Name=fsck
Name[fr]=fsck
Comment=Tool for verify and repair filesystems
Comment[fr]=Outil pour vérifier et réparer des systèmes de fichiers
Exec=terminator -e "zsh -c 'sudo fsck --help;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=DisksAnalysis
X-Kaisen-Package=kaisen-technicians-tools;kaisen-disks-analysis
