#!/usr/bin/env xdg-open

[Desktop Entry]
Name=fdisk
Name[fr]=fdisk
Comment=Tool for partitioning 
Comment[fr]=Outil de partitionnement
Exec=terminator -e "zsh -c 'sudo fdisk -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Partitioning
X-Kaisen-Package=kaisen-partitioning-erase;kaisen-technicians-tools
