#!/usr/bin/env xdg-open

[Desktop Entry]
Name=scp
Name[fr]=scp
Comment=Tool for send a file at remote computer
Comment[fr]=Outil pour envoyer dses fichiers sur un ordinateur distant
Exec=terminator -e "zsh -c 'scp;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SystemSecurity
