#!/usr/bin/env xdg-open

[Desktop Entry]
Name=netsniff-ng
Name[fr]=netsniff-ng
Comment=Tool for sniffing network trafic
Comment[fr]=Outil pour scanner le trafic réseau
Exec=terminator -e "zsh -c 'sudo netsniff-ng;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Scanner
X-Kaisen-Package=netsniff-ng;kaisen-network-tools
