#!/usr/bin/env xdg-open

[Desktop Entry]
Name=unp
Name[fr]=unp
Comment=Tool for facilitate extract archive file
Comment[fr]=Outil pour faciliter l'extraction d'une archive
Exec=terminator -e "zsh -c 'unar;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=ZIP
