#!/usr/bin/env xdg-open

[Desktop Entry]
Name=hashcat
Name[fr]=hashcat
Comment=Tool for cracking lost password
Comment[fr]=Outil pour retrouver un mot de passe perdu
Exec=terminator -e "zsh -c 'hashcat --help;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Passwords
X-Kaisen-Package=hashcat;kaisen-password-tools;kaisen-technicians-tools
