[Desktop Entry]
Name=MATE System Monitor
Name[am]=ሜት ስርአት መቆጣጠሪያ 
Name[ar]=مرقاب نظام متّة
Name[ast]=Monitor del sistema de MATE
Name[be]=Сістэмны назіральнік MATE
Name[bg]=Наблюдение на системата на MATE
Name[ca]=Monitor del sistema de MATE
Name[ca@valencia]=Monitor del sistema del MATE
Name[cs]=Sledování systému MATE
Name[da]=MATE - systemovervågning
Name[de]=MATE-Systemüberwachung
Name[el]=Παρακολούθηση Συστήματος MATE
Name[en_AU]=MATE System Monitor
Name[en_GB]=MATE System Monitor
Name[es]=Monitor del sistema de MATE
Name[es_AR]=Monitor del sistema de MATE
Name[et]=MATE süsteemijälgija
Name[fi]=MATE Järjestelmän valvonta
Name[fr]=Moniteur système MATE
Name[gl]=Monitor do sistema do MATE
Name[hr]=MATE nadzor sustava
Name[hu]=MATE rendszerfigyelő
Name[hy]=MATE Համակարգային Հսկում
Name[id]=MATE System Monitor
Name[it]=Monitor di Sistema MATE
Name[ja]=MATE システムモニター
Name[kk]=MATE жүйелік бақылаушысы
Name[kn]=MATE ಗಣಕ ಮೇಲ್ವಿಚಾರಕ
Name[ko]=마테 시스템 모니터
Name[lt]=MATE sistemos monitorius
Name[ms]=Pemantau Sistem MATE
Name[nb]=MATE Systemovervåking
Name[nl]=MATE Systeembewaking
Name[oc]=Monitor sistèma MATE
Name[pl]=Monitor systemu MATE
Name[pt]=Monitor do Sistema MATE
Name[pt_BR]=Monitor do sistema MATE
Name[ro]=Monitor sistem MATE
Name[ru]=Системный монитор MATE
Name[sk]=Monitor systému prostredia MATE
Name[sl]=MATE Sistemski Nadzornik
Name[sq]=MATE Monitori i sistemit 
Name[sr]=Мејтов пратилац система
Name[sv]=Systemövervakare för MATE
Name[tr]=MATE Sistem Gözlemcisi
Name[uk]=Системний монітор MATE
Name[uz]=MATE Tizim Nazorati
Name[zh_CN]=MATE 系统监视器
Name[zh_TW]=MATE 系統監控程式
GenericName=System Monitor
GenericName[af]=Stelselmonitor
GenericName[am]=ስርአት መቆጣጠሪያ 
GenericName[ar]=مراقب النظام
GenericName[as]=System Monitor
GenericName[ast]=Monitor del Sistema
GenericName[az]=Sistem İzləyicisi
GenericName[be]=Сістэмны назіральнік
GenericName[bg]=Наблюдение на системата
GenericName[bn]=সিস্টেম পর্যবেক্ষক
GenericName[bn_IN]=System Monitor
GenericName[bs]=Nadzor sistema
GenericName[ca]=Monitor del sistema
GenericName[ca@valencia]=Monitor del sistema
GenericName[cmn]=系統監控
GenericName[crh]=Sistem İzleyici
GenericName[cs]=Sledování systému
GenericName[cy]=Arsylwr System
GenericName[da]=Systemovervågning
GenericName[de]=Systemüberwachung
GenericName[dz]=རིམ་ལུགས་ལྟ་རྟོག་པ།
GenericName[el]=Παρακολούθηση συστήματος
GenericName[en_AU]=System Monitor
GenericName[en_CA]=System Monitor
GenericName[en_GB]=System Monitor
GenericName[eo]=Sistemmonitoro
GenericName[es]=Monitor del sistema
GenericName[es_AR]=Monitor del sistema
GenericName[es_CL]=Monitor del sistema
GenericName[es_CO]=Monitor del Sistema
GenericName[es_CR]=Monitor del sistema
GenericName[es_DO]=Monitor del sistema
GenericName[es_EC]=Monitor del sistema
GenericName[es_ES]=Monitor del sistema
GenericName[es_MX]=Monitor del Sistema
GenericName[es_NI]=Monitor del sistema
GenericName[es_PA]=Monitor del sistema
GenericName[es_PE]=Monitor del sistema
GenericName[es_PR]=Monitor del sistema
GenericName[es_SV]=Monitor del sistema
GenericName[es_UY]=Monitor del sistema
GenericName[es_VE]=Monitor del sistema
GenericName[et]=Süsteemijälgija
GenericName[eu]=Sistemako monitorea
GenericName[fa]=پایشگر دستگاه
GenericName[fi]=Järjestelmän valvonta
GenericName[fr]=Moniteur système
GenericName[ga]=Monatóir Córais
GenericName[gl]=Monitor do sistema
GenericName[gu]=સિસ્ટમ મૉનિટર
GenericName[he]=מנטר המערכת
GenericName[hi]=तंत्र मॉनीटर
GenericName[hr]=Nadzor sustava
GenericName[hu]=Rendszerfigyelő
GenericName[hy]=Համակարգի ստուգում
GenericName[id]=Monitor Sistem
GenericName[is]=Kerfisvakt
GenericName[it]=Monitor di sistema
GenericName[ja]=システムモニター
GenericName[ka]=სისტემის მონიტორი
GenericName[kk]=Жүйелік бақылаушы
GenericName[kn]=ಗಣಕ ಮೇಲ್ವಿಚಾರಕ
GenericName[ko]=시스템 정보
GenericName[ku]=Temaşekerê Pergalê
GenericName[ky]=Системалык монитор
GenericName[li]=Prosesbeheer
GenericName[lt]=Sistemos monitorius
GenericName[lv]=Sistēmas pārraugs
GenericName[mai]=सिस्टम मानीटर
GenericName[mg]=Mpanara-maso ny rafitra
GenericName[mk]=Надгледувач на системот
GenericName[ml]=സിസ്റ്റം നിരീക്ഷകന്‍
GenericName[mn]=Системийн монитор
GenericName[mr]=प्रणाली मॉनिटर
GenericName[ms]=Pemantau Sistem
GenericName[nah]=Sistema Tlachiani
GenericName[nb]=Systemovervåkning
GenericName[nds]=Sysmonitor
GenericName[ne]=प्रणाली मनिटर
GenericName[nl]=Systeembewaking
GenericName[nn]=Systemovervakar
GenericName[oc]=Monitor sistèma
GenericName[or]=ତନ୍ତ୍ର ପ୍ରଦର୍ଶିକା
GenericName[pa]=ਸਿਸਟਮ ਮਾਨੀਟਰ
GenericName[pl]=Monitor systemu
GenericName[ps]=غونډال ليدانی
GenericName[pt]=Monitor do Sistema
GenericName[pt_BR]=Monitor do sistema
GenericName[ro]=Monitorizare sistem
GenericName[ru]=Системный монитор
GenericName[si]=පද්ධති නිරීක්‍ෂකය
GenericName[sk]=Monitor systému
GenericName[sl]=Nadzornik sistema
GenericName[sq]=Monitori i sistemit
GenericName[sr]=Праћење система
GenericName[sr@latin]=Praćenje sistema
GenericName[sv]=Systemövervakare
GenericName[ta]=அமைப்புக் கண்காணி
GenericName[te]=వ్యవస్థ పర్యవేక్షకి
GenericName[th]=เครื่องมือเฝ้าสังเกตระบบ
GenericName[tr]=Sistem Gözlemcisi
GenericName[ug]=سىستېما كۆزەتكۈچ
GenericName[uk]=Системний монітор
GenericName[ur]=نظام کا مانیٹر
GenericName[uz]=Tizim Nazorati
GenericName[vi]=Bộ theo dõi hệ thống
GenericName[wa]=Corwaitoe do sistinme
GenericName[xh]=iMonitha yeNkqubo
GenericName[zh_CN]=系统监视器
GenericName[zh_HK]=系統監控
GenericName[zh_TW]=系統監控
Comment=View current processes and monitor system state
Comment[am]=የአሁኑን ሂደት እና የስርአት መቆጣጠሪያ ሁኔታ መመልኬክቻ 
Comment[ar]=اعرض العمليات الحالية و راقب حالة النظام
Comment[as]=চলমান প্ৰসেস চাওক চাওক সিস্টেমেৰ অবস্থা নিৰীক্ষণ কৰক
Comment[ast]=Ver los procesos actuales y monitorizar l'estáu'l sistema
Comment[az]=Hazırda baş verən gedişatları göstər və sistemin vəziyyətinə nəzarət et
Comment[be]=Паказвае актыўныя працэсы і назірае за станам сістэмы
Comment[bg]=Показване на текущите процеси и следене на състоянието на системата
Comment[bn]=বর্তমান প্রসেস দেখুন ও সিস্টেমের অবস্থা পর্যবেক্ষন করুন
Comment[bn_IN]=চলমান প্রসেস দেখুন ও সিস্টেমের অবস্থা নিরীক্ষণ করুন
Comment[bs]=Pregled trenutnih procesa i nadzor stanja sistema
Comment[ca]=Visualitzeu els processos actuals i monitoreu l'estat del sistema
Comment[ca@valencia]=Visualitza els processos actuals i supervisa l'estat del sistema
Comment[cmn]=顯示目前的程序並監控系統的狀態
Comment[cs]=Zobrazit aktuální procesy a sledovat stav systému
Comment[cy]=Gweld prosesau cyfredol ac arsylwi cyflwr y system
Comment[da]=Vis aktive processer og overvåg systemstatus
Comment[de]=Momentan laufende Prozesse betrachten und den Systemzustand überwachen
Comment[dz]=ད་ལྟོའི་ལས་སྦྱོར་དང་ ལྟ་རྟོག་རིམ་ལུགས་ཀྱི་ གནས་ལུགས་སྟོན།
Comment[el]=Προβολή τρεχουσών διεργασιών και παρακολούθηση κατάστασης συστήματος
Comment[en_AU]=View current processes and monitor system state
Comment[en_CA]=View current processes and monitor system state
Comment[en_GB]=View current processes and monitor system state
Comment[eo]=Montras aktualajn procezojn kaj sistemstaton
Comment[es]=Vea los procesos actuales y monitorice el estado del sistema
Comment[es_MX]=Ver los procesos actuales y monitorear el estado del sistema
Comment[et]=Süsteemi oleku ja protsesside jälgimine
Comment[eu]=Ikusi uneko prozesuak eta monitorizatu sistemako egoera
Comment[fi]=Katsele aktiivisia prosesseja ja valvo järjestelmän tilaa
Comment[fr]=Afficher les processus en cours et surveiller l'état du système
Comment[gl]=Ver os procesos actuais e monitorizar o estado do sistema
Comment[gu]=વર્તમાન પ્રક્રિયાને જુઓ અને સિસ્ટમની સ્થિતિનું ધ્યાન રાખો
Comment[he]=הצג את התהליכים הנוכחיים ונטר את מצב המערכת
Comment[hi]=वर्तमान प्रक्रिया दिखाता है और तंत्र अवस्था मॉनीटर करता है
Comment[hr]=Pregled trenutnih procesa i nadzor stanja sustava
Comment[hu]=A jelenlegi folyamatok megtekintése és a rendszerállapot figyelése
Comment[hy]=Դիտել ընթացիկ գործընթացներն ու հսկել համակարգի վիճակը
Comment[id]=Melihat proses yang sedang berjalan serta memonitor kinerja sistem
Comment[it]=Visualizza i processi correnti e controlla lo stato del sistema
Comment[ja]=現在のプロセスを表示してシステムの状態を監視します。
Comment[ka]=მიმდინარე პროცესებისა და თვალყურის სისტემის ნახვა
Comment[kk]=Ағымдағы үрдістерді қарау және жүйе қалып-күйін бақылау
Comment[kn]=ಪ್ರಸಕ್ತ ಪ್ರಕ್ರಿಯೆಗಳು ಹಾಗು ಮೇಲ್ವಿಚಾರಣ ವ್ಯವಸ್ಥೆಯ ಸ್ಥಿತಿಯನ್ನು ನೋಡಿ
Comment[ko]=현재 프로세스와 시스템 상태를 봅니다
Comment[ky]=Кезектеги процесстерди көрүү жана системанын абалын мониторинг кылуу
Comment[li]=Tuin huijig proses en bekiek systeemtoesjtandj
Comment[lt]=Parodo paleistus procesus ir sistemos būklę
Comment[lv]=Skatīt pašreizējos procesus un pārraudzīt sistēmas stāvokli
Comment[mai]=वर्तमान प्रक्रिया देखबैत अछि आओर सिस्टम अवस्था मानीटर करैत अछि
Comment[mg]=Hijery ireo asa mandeha sy ny toetry ny rafitr'ilay mpanara-maso amin'izao fotoana izao
Comment[mk]=Погледни ги моментално активните процеси и состојбата на системот
Comment[ml]=നിലവിലുളള പ്രക്രിയകള്‍ വീക്ഷിക്കുകയും സിസ്റ്റത്തിന്റെ അവസ്ഥ നിരീക്ഷിക്കുകയും ചെയ്യുന്നു
Comment[mn]=Идэвхитэй процессуудыг харах ба системын төлвийг шалгах
Comment[mr]=चालू प्रक्रिया पहा आणि प्रणाली स्थिती मॉनिटर करा
Comment[ms]=Lihat proses semasa dan pantau keadaan sistem
Comment[nah]=Tlachia axkan wilistlahtolme iwan yelistli ipan sistema tlachiani
Comment[nb]=Vis aktive prosesser og overvåk systemets tilstand
Comment[nds]=Aktuelle Prozesse un Systemtostandsmonitor opwiesen
Comment[nl]=Bekijk de huidige processen en bewaak de systeemtoestand
Comment[nn]=Vis aktive prosessar og overvak systemtilstanden
Comment[oc]=Afichar los processus en cors e survelhar l'estat del sistèma
Comment[or]=ପ୍ରଚଳିତ ପ୍ରକ୍ରିୟାକୁ ଦେଖନ୍ତୁ ଏବଂ ତନ୍ତ୍ର ସ୍ଥିତି ଉପରେ ଦୃଷ୍ଟି ରଖନ୍ତୁ
Comment[pa]=ਮੌਜੂਦਾ ਪਰੋਸੈੱਸ ਵੇਖੋ ਅਤੇ ਸਿਸਟਮ ਹਾਲਤ ਦੀ ਨਿਗਰਾਨੀ
Comment[pl]=Wyświetlanie istniejących procesów i monitorowanie stanu systemu
Comment[ps]=اوسني بهيرونه ليدل او غونډال انکړ څارل
Comment[pt]=Ver os processos atuais e monitorizar o estado do sistema
Comment[pt_BR]=Veja os processos atuais e monitore o estado do sistema
Comment[ro]=Arată procesele actuale și monitorizează starea sistemului
Comment[ru]=Программа для просмотра текущих процессов и мониторинга состояния системы
Comment[si]=දැනට ඇති සැකසුම් දර්ශනය සහ පද්ධති තත්වය නිරීක්‍ෂණය
Comment[sk]=Zobrazuje aktuálne procesy a monitoruje stav systému
Comment[sl]=Ogled trenutnih opravil in nadzor stanja sistema
Comment[sq]=Shfaq proçeset aktualë dhe monitoron gjëndjen e sistemit
Comment[sr]=Прегледајте текуће процесе и пратите стање система
Comment[sr@latin]=Pregled tekućih procesa i praćenje stanja sistema
Comment[sv]=Visa aktuella processer och övervaka systemtillståndet
Comment[ta]=தற்போதைய செயல் மற்றும் கணினியின் நிலையை பார்க்கவும்
Comment[te]=ప్రస్తుత క్రమణములు దర్శించు మరియు వ్యవస్థ స్థితిని పర్యవేక్షించు
Comment[th]=แสดงโพรเซสปัจจุบันและเฝ้าสังเกตสถานะของระบบ
Comment[tr]=Çalışan süreçleri ve sistem durumunu gösterir
Comment[ug]=View current processes and monitor system state
Comment[uk]=Перегляд поточних процесів та контроль стану системи
Comment[ur]=حالیہ عمل کاریاں اور نظام کی حالت دیکھیں
Comment[vi]=Xem các tiến trình hiện thời và theo dõi tình trạng hệ thống
Comment[zh_CN]=查看当前进程及监视系统状态
Comment[zh_HK]=顯示目前的程序並監控系統的狀態
Comment[zh_TW]=顯示目前的程序並監控系統的狀態
TryExec=mate-system-monitor
Exec=mate-system-monitor
Icon=utilities-system-monitor
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;System;Monitor;
Keywords=MATE;system;monitor;process;list;view;current;resources;
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=system-monitor
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.20.2

