[Desktop Entry]
Name=Power Management
Name[am]=የ ሐይል አስተዳዳሪ 
Name[ar]=إدارة الطاقة
Name[as]=বিদ্যুত্‌ পৰিচালনা ব্যৱস্থা
Name[ast]=Alministración d'Enerxía
Name[be]=Кіраванне сілкаваннем
Name[bg]=Управление на захранването
Name[bn]=বিদ্যুৎ  পরিচালনা ব্যবস্থা
Name[bn_IN]=বিদ্যুৎ  পরিচালনা ব্যবস্থা
Name[ca]=Gestor d'energia
Name[ca@valencia]=Gestor d'energia
Name[cmn]=電源管理程式
Name[cs]=Správa napájení
Name[cy]=Rheoli Pŵer
Name[da]=Strømstyring
Name[de]=Energieverwaltung
Name[dz]=ནུས་ཤུགས་འཛིན་སྐྱོང་།
Name[el]=Διαχείριση ενέργειας
Name[en_AU]=Power Management
Name[en_CA]=Power Management
Name[en_GB]=Power Management
Name[es]=Gestor de energía
Name[et]=Vooluhaldus
Name[eu]=Energia kudeatzailea
Name[fa]=مدیریت برق
Name[fi]=Virransäästö
Name[fr]=Gestionnaire d'énergie
Name[ga]=Bainistíocht Cumhachta
Name[gl]=Xestión de enerxía
Name[gu]=પાવર મેનેજમેન્ટ
Name[he]=ניהול צריכת החשמל
Name[hi]=शक्ति प्रबंधन
Name[hr]=Energetsko upravljanje
Name[hu]=Energiagazdálkodás
Name[hy]=Էներգիայի կառավարում
Name[id]=Manajemen Daya
Name[is]=Aflstjórnun
Name[it]=Gestione alimentazione
Name[ja]=電源管理
Name[ka]=ენერგიის მმართველი
Name[kk]=Эл. қорегін басқару
Name[kn]=ವಿದ್ಯುಚ್ಚಕ್ತಿಯ ನಿರ್ವಹಣೆ
Name[ko]=전원 관리
Name[ku]=Rêveberiya hêzê
Name[lt]=Energijos valdymas
Name[lv]=Barošanas pārvaldība
Name[mai]=पावर मैनेजमेंट
Name[mg]=Fitantanana angovo
Name[mk]=Менаџмент за енергија
Name[ml]=വൈദ്യുതി നടത്തിപ്പ്
Name[mr]=पावर व्यवस्थापन
Name[ms]=Pengurusan Kuasa
Name[nb]=Strømstyring
Name[nl]=Energiebeheer
Name[nn]=Straumstyring
Name[oc]=Gestion de l'alimentacion
Name[or]=ବିଦ୍ଯୁତପ୍ରବନ୍ଧନ
Name[pa]=ਪਾਵਰ ਪਰਬੰਧ
Name[pl]=Zarządzanie zasilaniem
Name[pt]=Gestão de Energia
Name[pt_BR]=Gerenciamento de energia
Name[ro]=Administrare consum
Name[ru]=Управление питанием
Name[sk]=Správa napájania
Name[sl]=Upravljanje porabe energije
Name[sr]=Управљање напајањем
Name[sr@latin]=Upravnik potrošnjom energije
Name[sv]=Strömhantering
Name[ta]=மின் மேலாண்மை
Name[te]=పవర్ నిర్వహణ
Name[th]=การใช้พลังงาน
Name[tr]=Güç Yönetimi
Name[uk]=Керування живленням
Name[ur]=توانائی منیجر
Name[vi]=Quản lý Điện năng
Name[zh_CN]=电源管理
Name[zh_HK]=電源管理程式
Name[zh_TW]=電源管理程式
Comment=Configure power management
Comment[am]=የ ሐይል አስተዳዳሪ ማሰናጃ
Comment[ar]=اضبط إدارة الطاقة
Comment[as]=বিদ্যুত্‌ পৰিচালনব্যৱস্থা কনফিগাৰ কৰক
Comment[ast]=Configurar l'alministración d'enerxía
Comment[be]=Наставіць кіраванне сілкаваннем
Comment[bg]=Настройки на управлението на захранването
Comment[bn]=বিদ্যুৎ পরিচালনব্যবস্থা কনফিগার করুন
Comment[bn_IN]=বিদ্যুৎ পরিচালনব্যবস্থা কনফিগার করুন
Comment[ca]=Configureu la gestió de l'energia
Comment[ca@valencia]=Configureu la gestió d'energia
Comment[cmn]=設定電源管理程式
Comment[cs]=Nastavit správu napájení
Comment[cy]=Cyflunio rheoli pŵer
Comment[da]=Konfigurer strømstyring
Comment[de]=Energieverwaltung konfigurieren
Comment[dz]=ནུས་ཤུགས་འཛིན་སྐྱོང་རིམ་སྒྲིག་འབད།
Comment[el]=Ρύθμιση διαχείρισης ενέργειας
Comment[en_AU]=Configure power management
Comment[en_CA]=Configure power management
Comment[en_GB]=Configure power management
Comment[es]=Configure la gestión de energía
Comment[et]=Vooluhalduse sätete määramine
Comment[eu]=Konfiguratu energia kudeatzailea
Comment[fa]=پیکربندی مدیریت برق
Comment[fi]=Virransäästöasetusten hallinta
Comment[fr]=Configure la gestion d'énergie
Comment[ga]=Cumraigh bainistíocht cumhachta
Comment[gl]=Configurar a xestión de enerxía
Comment[gu]=પાવર મેનેજમેન્ટ રૂપરેખાંકિત કરો
Comment[he]=הגדרת צריכת החשמל
Comment[hi]=शक्ति प्रबंधन विन्यस्त करें
Comment[hr]=Postavi energetsko upravljanje
Comment[hu]=Energiagazdálkodás beállítása
Comment[hy]=Կարգավորել էներգիայի կառավարումը
Comment[id]=Atur manajemen daya
Comment[is]=Stilla aflstjórnun
Comment[it]=Configura la gestione dell'alimentazione
Comment[ja]=電源管理の設定を行います
Comment[ka]=ენერგიის მართვის კონფიგურირება
Comment[kk]=Эл. қорегін басқаруды баптау
Comment[kn]=ವಿದ್ಯುಚ್ಚಕ್ತಿಯ ನಿರ್ವಹಣೆಯನ್ನು ಸಂರಚಿಸು
Comment[ko]=전원 관리 설정
Comment[ku]=Mîhengkirina rêvebiriya hêzê
Comment[lt]=Konfigūruokite energijos valdymą
Comment[lv]=Konfigurēt barošanas pārvaldību
Comment[mai]=पावर मैनेजमेंट विन्यस्त करू
Comment[mg]=Mikirakira ny fitantanana ny angovo
Comment[mk]=Конфигурирајте менаџмент за енергија
Comment[ml]=വൈദ്യുതി നടത്തിപ്പ് ക്രമീകരിയ്ക്കുക
Comment[mr]=पावर व्यवस्थापन संयोजीत करा
Comment[ms]=Konfigur pengurusan kuasa
Comment[nb]=Sett opp strømstyring
Comment[nl]=Energiebeheer instellen
Comment[nn]=Set opp straumstyring
Comment[or]=ବିଦ୍ଯୁତ ପ୍ରବନ୍ଧନ କନଫିଗର କର
Comment[pa]=ਪਾਵਰ ਪਰਬੰਧ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja zarządzania zasilaniem
Comment[pt]=Configurar o gestor de energia
Comment[pt_BR]=Configurar gerenciamento de energia
Comment[ro]=Configurare administrare consum
Comment[ru]=Настройка управления питанием
Comment[sk]=Nastavuje správu napájania
Comment[sl]=Nastavi upravljanje porabe energije
Comment[sr]=Подесите управљање напајањем
Comment[sr@latin]=Podesite upravljanje potrošnjom električne energije
Comment[sv]=Konfigurera strömhantering
Comment[ta]=மின் மேலாண்மையை கட்டமை
Comment[te]=పవర్ నిర్వహణను ఆకృతీకరించుము
Comment[th]=ปรับแต่งการใช้พลังงาน
Comment[tr]=Güç yönetimini yapılandır
Comment[uk]=Налаштовування керування живленням
Comment[ur]=توانائی کی ادارت کی تشکیل کریں
Comment[vi]=Cấu hình quản lý điện năng
Comment[zh_CN]=配置电源管理
Comment[zh_HK]=設定電源管理程式
Comment[zh_TW]=設定電源管理程式
Icon=mate-power-manager
Exec=mate-power-preferences
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
Keywords=MATE;power;management;preferences;settings;
OnlyShowIn=MATE;
StartupNotify=true
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-power-manager
X-MATE-Bugzilla-Component=mate-power-preferences
X-MATE-Bugzilla-Version=1.20.3
