[Desktop Entry]
Name=Assistive Technologies
Name[af]=Helpende Tegnologieë
Name[am]=የ ቴክኖሎጂ እርዳታ
Name[ar]=التقنيات المُعِينة
Name[as]=সহায়ক প্ৰযুক্তি
Name[ast]=Teunoloxíes d'asistencia
Name[be]=Дапаможныя тэхналогіі
Name[bg]=Помощни технологии
Name[bn]=সহায়ক প্রযুক্তি
Name[bn_IN]=সহায়ক প্রযুক্তি
Name[br]=Kalvezerezhioù ameilañ
Name[ca]=Tecnologies assistides
Name[ca@valencia]=Tecnologies assistides
Name[cmn]=輔助科技
Name[crh]=Yardımcıl Tehnologiyalar
Name[cs]=Technologie usnadnění
Name[da]=Hjælpeteknologier
Name[de]=Hilfstechnologien
Name[dz]=ཕན་ཐབས་ཅན་གྱི་འཕྲུལ་རིག་ཚུ་ 
Name[el]=Βοηθητικές τεχνολογίες
Name[en_AU]=Assistive Technologies
Name[en_GB]=Assistive Technologies
Name[es]=Tecnologías de asistencia
Name[et]=Abistav tehnika
Name[eu]=Laguntza-teknologiak
Name[fi]=Esteettömyystekniikat
Name[fr]=Outils d'accessibilité
Name[ga]=Teicneolaíochtaí Oiriúnaitheacha
Name[gl]=Tecnoloxías adaptadas
Name[gu]=સહાયક ટેક્નોલોજીઓ
Name[he]=טכנולוגיות מסייעות
Name[hi]=सहायक तकनालॉज़ी
Name[hr]=Pomoćne tehnologije
Name[hu]=Akadálymentesítési technológiák
Name[hy]=Օժանդակ Տեխնոլոգիաներ
Name[id]=Teknologi Pemandu
Name[is]=Aðgengi
Name[it]=Tecnologie assistive
Name[ja]=支援技術
Name[ka]=<b>დამხმარე ტექნოლოგიები</b>
Name[kk]=Көмекші технологиялар
Name[kn]=ಸಹಾಯಕ ತಂತ್ರಜ್ಞಾನಗಳು
Name[ko]=보조 기술
Name[ky]=Жардамчы технологиялар
Name[lt]=Pagalbinės technologijos
Name[lv]=Asistējošās tehnoloģijas
Name[mk]=Помошни технологии
Name[ml]=സഹായകമായ സാങ്കേതികവിദ്യകള്‍
Name[mr]=सहाय्यक तंत्रज्ञाण
Name[ms]=Aplikasi Teknologi Penolong
Name[nb]=Hjelpeteknologier
Name[nl]=Assisterende technologieën
Name[nn]=Hjelpeteknologi
Name[oc]=Aisinas d'accessibilitat
Name[or]=ସହକାରୀ ପ୍ରଯୁକ୍ତିବିଜ୍ଞାନ
Name[pa]=ਸਹਾਇਕ ਤਕਨਾਲੋਜੀ ਯੋਗ
Name[pl]=Technologie wspierające
Name[pt]=Tecnologias Assistivas
Name[pt_BR]=Tecnologias Assistivas
Name[ro]=Tehnologii asistative
Name[ru]=Вспомогательные технологии
Name[sk]=Asistenčné technológie
Name[sl]=Pomožne tehnologije
Name[sq]=Teknollogjitë asistuese
Name[sr]=Технологије за испомоћ
Name[sr@latin]=Tehnologije za ispomoć
Name[sv]=Hjälpmedelsteknik
Name[ta]=உதவி தொழில்நுட்பங்கள்
Name[te]=సహాయక సాంకేతికతలు
Name[th]=เทคโนโลยีสิ่งอำนวยความสะดวก
Name[tr]=Yardımcı Teknolojiler
Name[ug]=ياردەمچى تېخنىكىلار
Name[uk]=Можливости доступности
Name[ur]=معاون کار ٹینالوجیاں
Name[uz]=Yordamchi Texnologiyalar
Name[vi]=Công nghệ Giúp đỡ
Name[zh_CN]=辅助技术
Name[zh_HK]=輔助科技
Name[zh_TW]=輔助科技
Comment=Choose which accessibility features to enable when you log in
Comment[af]=Kies watter toeganklikheidseienskappe by aanmelding geaktiveer moet word
Comment[am]=እርስዎ በሚገቡ ጊዜ ማስጀመር የሚፈልጉትን ገጽታ ያስችሉ
Comment[ar]=اختر صلاحيات الإعانة عند تسجيل الدخول
Comment[as]=প্ৰৱেশ কৰাৰ সময়, বিশেষ ব্যবহাৰৰ কোনো ব্যবস্থাসমূহ সক্ৰিয় কৰা হ'ব সেইটো নিৰ্বাচন কৰক
Comment[ast]=Escueyi qué carauterístiques d'accesibilidá activar al aniciar sesión
Comment[be]=Выбраць, якія тэхналогіі даступнасці ўключыць пры ўваходзе
Comment[bg]=Изберете кои помощни технологии да се включат при влизане
Comment[bn]=লগ-ইন করার সময়, বিশেষ ব্যবহারের কোনো ব্যবস্থাগুলি সক্রিয় করা হবে তা নির্বাচন করুন
Comment[bn_IN]=লগ-ইন করার সময়, বিশেষ ব্যবহারের কোনো ব্যবস্থাগুলি সক্রিয় করা হবে তা নির্বাচন করুন
Comment[br]=Dibabit ar c'heweriusterioù haezadusted da weredekat pa gennaskot
Comment[ca]=Seleccioneu quines funcionalitats d'accessibilitat s'han d'habilitar quan inicieu la sessió
Comment[ca@valencia]=Seleccioneu quines funcionalitats d'accessibilitat s'han d'habilitar quan inicieu la sessió
Comment[cmn]=選擇當您登入時要啟用哪個無障礙功能
Comment[crh]=İçeri imzalanğanıñızda angi irişilebilirlik hususiyetleriniñ qabilleştirilecegini saylañız
Comment[cs]=Vyberte vlastnosti zpřístupnění, které mají být zapnuty po přihlášení
Comment[da]=Vælg hvilke tilgængelighedsfaciliteter der skal aktiveres når der logges ind
Comment[de]=Die beim Anmelden zu startenden Hilfsmittel für die Barrierefreiheit auswählen
Comment[el]=Επιλέξτε ποιες λειτουργίες προσιτότητας θα είναι ενεργές όταν συνδέεστε στο σύστημα
Comment[en_AU]=Choose which accessibility features to enable when you log in
Comment[en_GB]=Choose which accessibility features to enable when you log in
Comment[es]=Elija qué características de accesibilidad activar al iniciar sesión
Comment[et]=Sisselogimisel kasutatavate hõlbustuste valimine
Comment[eu]=Aukeratu erabilgarritasunaren zein eginbide gaitu saioa hastean
Comment[fi]=Valitse sisäänkirjauduttaessa käyttöön otettavat esteettömyysominaisuudet
Comment[fr]=Choix des fonctionnalités d'accessibilité à activer au moment de la connexion
Comment[ga]=Roghnaigh na gnéithe inrochtaineachta le cumasú nuair a logálann tú isteach
Comment[gl]=Escoller as características de accesibilidade
Comment[gu]=જ્યારે તમે પ્રવેશો છે ત્યારે ક્યાં સુલભ લક્ષણોને સક્રિય કરવા માટે પસંદ કરો
Comment[he]=נא לבחור אילו תכונות נגישות יופעלו עם הכניסה
Comment[hi]=चुनें कि आपकी लॉगिन के दौरान किस पहुँच फीचर को सक्रिय करना है
Comment[hr]=Odaberi koje značajke pristupačnosti omogućiti prigodom tvoje prijave
Comment[hu]=A bejelentkezéskor bekapcsolandó akadálymentesítési szolgáltatások kiválasztása
Comment[hy]=Ընտրել այն հասանելիության հատկանիշները, որը թույլ է տալիս մուք գործել
Comment[id]=Pilih fitur kemudahan akses yang Anda inginkan untuk aktif saat login
Comment[is]=Velja hvaða stillingar þú vilt velja til að auka aðgengi þegar þú skráir þig inn
Comment[it]=Sceglie quali funzioni di accessibilità abilitare all'accesso
Comment[ja]=ログインした時にアクセシビリティの機能を有効にするかどうかを選択します
Comment[kk]=Сіз жүйеге кіргенде қандай қолжетерлілік мүмкіндіктері іске қосылатынын таңдау
Comment[kn]=ನೀವು ಪ್ರವೇಶಿಸಿದಾಗ ಯಾವ ನಿಲುಕಣಾ ಸವಲತ್ತುಗಳನ್ನು ಶಕ್ತಗೊಳಿಸಬೇಕು ಎಂದು ಆಯ್ಕೆ ಮಾಡಿ
Comment[ko]=로그인할 때 어느 접근성 기능을 사용할 지 선택
Comment[lt]=Pasirinkti, kurias pritaikymo neįgaliesiems savybes įjungti prisijungiant
Comment[lv]=Izvēlieties, kādas pieejamības iespējas aktivizēt, kad jūs pieslēdzaties sistēmai
Comment[mk]=Изберете која опција за пристапност да биде вклучена кога ќе се најавите
Comment[ml]=ലോഗിന്‍ ചെയ്യമ്പോള്‍ ഏതു് ആക്സസിബിളിറ്റി വിശേഷതയാണു് തെരഞ്ഞെടുക്കേണ്ടതു്
Comment[mr]=दाखलनवेळी कोणते प्रवेशीय गुणविशेष कार्यान्वीत करायचे ते निवडा
Comment[ms]=Pilih fitur kebolehcapaian mankah yang hendak dibenarkan bila anda mendaftar masuk
Comment[nb]=Velg hvilke funksjoner for tilgjengelighet som skal aktiveres når du logger inn
Comment[nl]=Kies welke toegankelijkheidsfunctionaliteit in te schakelen bij het aanmelden
Comment[nn]=Vel kva for tilgjengefunksjonar som skal slåast på når du loggar inn
Comment[oc]=Causida de las foncionalitats d'accessibilitat d'activar al moment de la connexion
Comment[or]=ଆପଣ ଲଗଇନ ହେବା ସମୟରେ କେଉଁ ଅଭିଗମ୍ୟ ବିଶେଷଗୁଣକୁ ସକ୍ରିୟ କରିବେ ବାଛନ୍ତୁ
Comment[pa]=ਜਦੋਂ ਤੁਸੀਂ ਲਾਗ ਕਰੋ ਤਾਂ ਅਸੈੱਸਬਿਲਟੀ ਫੀਚਰ ਯੋਗ ਕਰਨਾ ਚੁਣੋ
Comment[pl]=Wybór funkcji dostępności do włączenia podczas logowania się
Comment[pt]=Escolher quais funções de acessibilidade a ativar ao iniciar sessão
Comment[pt_BR]=Escolha quais recursos de acessibilidade habilitar ao fazer login
Comment[ro]=Alegeți ce opțiuni de accesibilitate să fie activate la autentificare
Comment[ru]=Выбрать вспомогательные технологии, запускаемые при входе в систему
Comment[sk]=Zvoľte si, ktoré druhy sprístupnenia majú byť aktivované po prihlásení
Comment[sl]=Izbor pomožnih tehnologij, ki naj se omogočijo ob zagonu
Comment[sq]=Zgjidh çfarë karakteristika përshtatshmërie të akivizohen në hyrje
Comment[sr]=Изаберите које ће технологије за испомоћ бити укључене када се пријавите
Comment[sr@latin]=Izaberite koje tehnologije za ispomoć za pokretanje sa sistemom
Comment[sv]=Välj vilka hjälpmedelsfunktioner som ska aktiveras när du loggar in
Comment[ta]=தேர்வு செய்க:  உள் நுழையும்போது எந்த அணுகல் சிறப்பியல்பை செயல் ஆக்க வேண்டும் 
Comment[te]=మీరు లాగిన్ అయినప్పుడు యెటువంటి యాక్సిస్‌బిలిటి సౌలభ్యాలు చేతనపరచబడాలో యెంచుకొనుము
Comment[th]=เลือกเทคโนโลยีสิ่งอำนวยความสะดวกที่จะเปิดใช้เมื่อเข้าระบบ
Comment[tr]=Giriş yaptığınızda hangi erişilebilirlik özelliklerinin etkinleştirileceğini seçin
Comment[ug]=سىستېمىغا كىرگەن ۋاقتىڭىزدا قايسى قوشۇمچە ئىقتىدارنى قوزغىتىدىغانلىقىڭىزنى تاللاڭ.
Comment[uk]=Вибрати можливості доступності, що запускаються при вході до системи
Comment[ur]=منتخب کریں کہ رسائی پذیری کی کون سی خاصیت آپ کے لاگ ان ہونے پر فعال کردی جائے
Comment[vi]=Chọn tính năng khả năng truy cập cần dùng khi đăng nhập
Comment[zh_CN]=选择您登录时想要启用的辅助特性
Comment[zh_HK]=選擇當你登入時要啟用哪個無障礙功能
Comment[zh_TW]=選擇當您登入時要啟用哪個無障礙功能
Exec=mate-at-properties
Icon=preferences-desktop-accessibility
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;Accessibility;
Keywords=mate-control-center;MATE;accessibility;features;
OnlyShowIn=MATE;
