[Desktop Entry]
Name=Power Statistics
Name[am]=የ ሐይል ስታትስቲክስ
Name[ar]=إحصاءات الطاقة
Name[as]=পৰিসংখ্যান
Name[ast]=Estadístiques d'enerxía
Name[be]=Статыстыка сілкавання
Name[bg]=Статистика на захранването
Name[bn]=বিদ্যুৎ সংক্রান্ত পরিসংখ্যান
Name[bn_IN]=বিদ্যুৎ সংক্রান্ত পরিসংখ্যান
Name[ca]=Estadístiques de l'energia
Name[ca@valencia]=Estadístiques de l'energia
Name[cmn]=電源統計
Name[cs]=Statistika napájení
Name[cy]=Ystadegau Pŵer
Name[da]=Strømstatistik
Name[de]=Energiestatistiken
Name[dz]=ནུས་ཤུགས་ཚད་རྩིས་
Name[el]=Στατιστικά ενέργειας
Name[en_AU]=Power Statistics
Name[en_GB]=Power Statistics
Name[es]=Estadísticas de energía
Name[et]=Voolustatistika
Name[eu]=Energiaren estatistikak
Name[fi]=Virrankäytön tilastot
Name[fr]=Statistiques de l'alimentation
Name[ga]=Staitisticí Cumhachta
Name[gl]=Estatísticas de enerxía
Name[gu]=પાવર પરિસ્થિતિ
Name[he]=סטטיסטיקת חשמל
Name[hi]=शक्ति सांख्यिकी
Name[hr]=Energetska statistika
Name[hu]=Energiastatisztika
Name[hy]=Սնուցման Վիճակագրություն
Name[id]=Statistik Daya
Name[it]=Statistiche energetiche
Name[ja]=電源使用率の統計
Name[kk]=Эл. қорегі статистикасы
Name[kn]=ವಿದ್ಯುಚ್ಛಕ್ತಿಯ ಅಂಕಿಅಂಶಗಳು
Name[ko]=전원 통계
Name[lt]=Energijos statistika
Name[lv]=Barošanas statistika
Name[mai]=पावर सांख्यिकी
Name[mk]=Статистики за енергијата
Name[ml]=വൈദ്യുതിസ്ഥിതിവിവരം
Name[mr]=पावर आकडेवारी
Name[ms]=Statistik Kuasa
Name[nb]=Strømstatistikk
Name[nl]=Spanningsstatistieken
Name[nn]=Straumstatistikk
Name[or]=ବିଦ୍ଯୁତ ପରିସଂଖ୍ଯାନ
Name[pa]=ਪਾਵਰ ਅੰਕੜੇ
Name[pl]=Statystyki zasilania
Name[pt]=Estatísticas de Energia
Name[pt_BR]=Estatísticas de energia
Name[ro]=Statistici consum
Name[ru]=История потребления
Name[sk]=Štatistika napájania
Name[sl]=Statistika porabe energije
Name[sr]=Статистика напајања
Name[sr@latin]=Dijagram potrošnje električne energije
Name[sv]=Strömstatistik
Name[ta]=மின் புள்ளிவிவரங்கள்
Name[te]=పవర్ గణాంకములు
Name[th]=กราฟการใช้พลังงาน
Name[tr]=Güç İstatistikleri
Name[uk]=Статистика живлення
Name[ur]=توانائی کی شماریات
Name[vi]=Thống kê điện năng
Name[zh_CN]=电源统计
Name[zh_HK]=電源統計
Name[zh_TW]=電源統計
Comment=Observe power management
Comment[am]=የ ሐይል _አስተዳዳሪ መመልከቻ
Comment[ar]=راجع إدارة الطاقة
Comment[as]=Observe power management
Comment[ast]=Adicar la xestión d'enerxía
Comment[be]=Назіранне за сілкаваннем
Comment[bg]=Спазване на управлението на захранването
Comment[bn]=বিদ্যুৎ পরিচালনা নিরীক্ষণ করুন
Comment[bn_IN]=বিদ্যুৎ পরিচালনা নিরীক্ষণ করুন
Comment[ca]=Observeu la gestió d'energia
Comment[ca@valencia]=Observeu la gestió d'energia
Comment[cmn]=監控電源管理程式
Comment[cs]=Sledovat správu napájení
Comment[cy]=Arsylwi'r rheoli pŵer
Comment[da]=Overvåg strømstyring
Comment[de]=Energieverwaltung überwachen
Comment[dz]=ནུས་ཤུགས་འཛིན་སྐྱོང་ཞིབ་རྟོག་འབད་
Comment[el]=Παρακολούθηση διαχείρισης ενέργειας
Comment[en_AU]=Observe power management
Comment[en_GB]=Observe power management
Comment[es]=Observe la gestión de energía
Comment[et]=Vooluhalduse vaatlemine
Comment[eu]=Begiratu energia kudeatzailea
Comment[fi]=Tarkkaile virrankäytön hallintaa
Comment[fr]=Surveille la gestion d'énergie
Comment[ga]=Breathnaigh ar bhainistíocht na cumhachta
Comment[gl]=Observar a xestión de enerxía
Comment[gu]=પાવર વ્યવસ્થાપનનું નીરિક્ષણ કરો
Comment[he]=צפה בניהול צריכת החשמל
Comment[hi]=शक्ति प्रबंधन निरीक्षण करें
Comment[hr]=Promotri energetsko upravljanje
Comment[hu]=Energiagazdálkodás megfigyelése
Comment[hy]=Դիտարկել էներգիայի կառավարումը
Comment[id]=Amati manajemen tenaga
Comment[it]=Osserva la gestione dell'alimentazione
Comment[ja]=電源管理を監視します
Comment[kn]=ವಿದ್ಯುಚ್ಛಕ್ತಿ ನಿರ್ವಹಣೆಯನ್ನು ಗಮನಿಸು
Comment[ko]=전원 관리 관찰
Comment[lt]=Stebėkite energijos valdymą
Comment[lv]=Pārlūkot barošanas pārvaldību
Comment[mai]=पावर मैनेजमेंट निरीक्षण करू
Comment[mk]=Надгледувај го менаџментот на енергијата
Comment[ml]=വൈദ്യുതി നടത്തിപ്പ് നോക്കിക്കാണുക
Comment[mr]=पावर व्यवस्थापन पहा
Comment[ms]=Pantau pengurusan kuasa
Comment[nb]=Overvåk strømstyring
Comment[nl]=Energiebeheer observeren
Comment[nn]=Overvak straumstyring
Comment[or]=ବିଦ୍ଯୁତ ପ୍ରବନ୍ଧନ ପାଳନ କର
Comment[pa]=ਪਾਵਰ ਪਰਬੰਧ ਨਿਗਰਾਨੀ
Comment[pl]=Podgląd zarządzania zasilaniem
Comment[pt]=Observar a gestão de energia
Comment[pt_BR]=Observe o gerenciamento de energia
Comment[ro]=Examinează administrarea consumului
Comment[ru]=Обзор системы управления питанием
Comment[sk]=Pozoruje správu napájania
Comment[sl]=Opazovanje upravljanja porabe energije
Comment[sr]=Посматрајте потрошњу електричне енергије
Comment[sr@latin]=Posmatranje potrošnje električne energije
Comment[sv]=Observera strömhantering
Comment[ta]=மின் மேலாண்மையை அனுசரி
Comment[te]=పవర్ నిర్వహణను గమనించుము
Comment[th]=ตรวจสอบการใช้พลังงาน
Comment[tr]=Güç yönetimini izle
Comment[uk]=Стеження за керуванням живленням
Comment[ur]=توانائی ادارت کا مشاہدہ کریں
Comment[vi]=Theo dõi sự quản lý điện năng
Comment[zh_CN]=监控电源管理
Comment[zh_HK]=監控電源管理程式
Comment[zh_TW]=監控電源管理程式
Icon=mate-power-statistics
Exec=mate-power-statistics
Terminal=false
Type=Application
Categories=GTK;System;Monitor;
OnlyShowIn=MATE;
NoDisplay=false
StartupNotify=true
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-power-manager
X-MATE-Bugzilla-Component=mate-power-statistics
X-MATE-Bugzilla-Version=1.20.3
X-Desktop-File-Install-Version=0.10
