[Desktop Entry]
Name=Theme Installer
Name[af]=Tema-installeerder
Name[am]=ገጽታ መግጠሚያ 
Name[ar]=مُثبِّت السِمات
Name[as]=থিম সংস্থাপক
Name[ast]=Instalador de temes
Name[be]=Усталяванне тэм
Name[bg]=Инсталатор на теми
Name[bn]=থিম ইনস্টলার
Name[bn_IN]=থিম ইনস্টলার
Name[br]=Staliader neuz
Name[ca]=Instal·lador de temes
Name[ca@valencia]=Instal·lador de temes
Name[cmn]=布景主題安裝程式
Name[crh]=Tema Yükleyici
Name[cs]=Instalační program motivů
Name[da]=Temainstalleringsprogram
Name[de]=Themeninstallation
Name[dz]=བརྗོད་དོན་གཞི་བཙུགས་པ་
Name[el]=Εγκαταστάτης θέματος
Name[en_AU]=Theme Installer
Name[en_GB]=Theme Installer
Name[es]=Instalador de temas
Name[et]=Teemapaigaldaja
Name[eu]=Gai-instalatzailea
Name[fi]=Teema-asennin
Name[fr]=Programme d'installation de thème
Name[ga]=Suiteálaí Téamaí
Name[gl]=Instalador de temas
Name[gu]=થીમ સ્થાપક
Name[he]=מתקין ערכות הנושא
Name[hi]=प्रसंग स्थापक
Name[hr]=Ugradnik teme
Name[hu]=Tématelepítő
Name[hy]=Թեմայի տեղադրիչ
Name[id]=Pemasang Tema
Name[is]=Setja upp útlit
Name[it]=Installatore dei temi
Name[ja]=テーマインストーラー
Name[ka]=გაფორმების დამყენებელი
Name[kk]=Темаларды орнату
Name[kn]=ಪರಿಸರವಿನ್ಯಾಸ ಅನುಸ್ಥಾಪಕ
Name[ko]=테마 설치
Name[ky]=Тема орноткучу
Name[lt]=Temų diegimo programa
Name[lv]=Tēmu instalators
Name[mk]=Инсталер на теми
Name[ml]=രംഗവിതാനത്തിന്റെ ഇന്‍സ്റ്റാളര്‍
Name[mr]=सुत्रयोजना प्रतिष्ठापक
Name[ms]=Pemasang Tema
Name[nb]=Installering av drakt
Name[nds]=Themen installerer
Name[ne]=विषयवस्तु स्थापक
Name[nl]=Thema-installatie
Name[nn]=Installering av drakt
Name[oc]=Installador de tèma
Name[or]=ପ୍ରସଙ୍ଗ ସ୍ଥାପକ
Name[pa]=ਥੀਮ ਇੰਸਟਾਲਰ
Name[pl]=Instalator motywów
Name[pt]=Instalador de Temas
Name[pt_BR]=Instalador de temas
Name[ro]=Instalator teme
Name[ru]=Установщик тем
Name[sk]=Inštalátor tém
Name[sl]=Namestitveni program za teme
Name[sq]=Instaluesi i temave
Name[sr]=Постављање теме
Name[sr@latin]=Postavljanje teme
Name[sv]=Temainstallerare
Name[ta]=கருப்பொருள் நிறுவி
Name[te]=థీమ్ సంస్థాపకి
Name[th]=เครื่องมือติดตั้งชุดตกแต่ง
Name[tr]=Tema Yükleyici
Name[ug]=باش تېما ئورناتقۇچ
Name[uk]=Встановлення теми
Name[ur]=تھیم تنصیب کار
Name[uz]=Mavzu oʻrnatgich
Name[vi]=Trình cài đặt sắc thái
Name[zh_CN]=主题安装程序
Name[zh_HK]=佈景主題安裝程式
Name[zh_TW]=布景主題安裝程式
Comment=Installs themes packages for various parts of the desktop
Comment[af]=Installeer temapakkette vir verskillende dele van die werkarea
Comment[am]=ለ ዴስክቶፕ አካሎች የ ተለያዩ ገጽታዎች መግጠሚያ
Comment[ar]=ثبِّت حزم السِمات لأجزاء سطح المكتب المختلفة
Comment[as]=ডেস্কটপৰ বিভিন্ন অংশৰ বাবে থিমৰ সৰঞ্জাম সংস্থাপন কৰক
Comment[ast]=Instala paquetes de temes pa delles partes del escritoriu
Comment[be]=Усталяванне пакункаў з тэмамі для разнастайных элементаў стала
Comment[bg]=Инсталиране на пакети с теми за различни компоненти на работния плот
Comment[bn]=ডেস্কটপের বিভিন্ন অংশের জন্য থিমের প্যাকেজ ইনস্টল করে
Comment[bn_IN]=ডেস্কটপের বিভিন্ন অংশের জন্য থিমের প্যাকেজ ইনস্টল করে
Comment[br]=Staliañ pakadoù neuz evit rannoù bennak ar burev
Comment[ca]=Instal·la paquets de temes per a diferents parts de l'escriptori
Comment[ca@valencia]=Instal·la paquets de temes per a diferents parts de l'escriptori
Comment[cmn]=安裝布景主題套件供桌面不同的部分使用
Comment[crh]=Masaüstünün farklı noktaları için tema yükler
Comment[cs]=Instaluje balíčky motivů k různým částem pracovního prostředí
Comment[da]=Installerer temapakker til forskellige dele af skrivebordet
Comment[de]=Themenpakete für verschiedene Teile des Schreibtischs installieren
Comment[dz]=ཌེཀསི་ཊོཔ་གི་ ཡན་ལག་སོ་སོའི་དོན་ལུ་ བརྗོད་དོན་གྱི་ཐུམ་སྒྲིལ་ཚུ་ གཞི་བཙུགས་འབད་
Comment[el]=Εγκαθιστά πακέτα θεμάτων για διάφορα κομμάτια της επιφάνειας εργασίας
Comment[en_AU]=Installs themes packages for various parts of the desktop
Comment[en_GB]=Installs themes packages for various parts of the desktop
Comment[es]=Instala paquetes de temas para varias partes del escritorio
Comment[et]=Töölaua välimuse muutmise teemapakkide paigaldamine
Comment[eu]=Mahaigaineko hainbat zatiren gaiak instalatzen ditu
Comment[fi]=Asentaa työpöydän eri osien teemapaketteja
Comment[fr]=Installer les paquets de thèmes pour les diverses parties du bureau
Comment[gl]=Instala paquetes de temas para diferentes partes do escritorio
Comment[gu]=ડેસ્કટોપના વિવિધ ભાગો માટે થીમો પેકેજો સ્થાપિત કરે છે
Comment[he]=התקנת חבילות ערכות נושא לחלקים שונים בשולחן העבודה
Comment[hi]=डेस्कटॉप के विभिन्न भाग हेतु प्रसंग संस्थापित करें
Comment[hr]=Ugrađuje pakete tema za razne dijelove radne površine
Comment[hu]=Témacsomagok telepítése az asztal különböző összetevőihez
Comment[hy]=Տեղադրված թեմաների փաթեթները աշխատասեղանի տարբեր մասերի համար են։
Comment[id]=Pasang paket tema untuk berbagai bagian desktop
Comment[is]=Setja inn þema-pakka fyrir ýmsa hluta skjáborðsins
Comment[it]=Installa i pacchetti di temi per varie parti dell'ambiente grafico
Comment[ja]=デスクトップのさまざまな部分に適用するテーマパッケージをインストールします
Comment[ka]=აყენებს სამუშაო მაგიდის სხვადასხვა ნაწილების თემებს
Comment[kk]=Жұмыс үстелінің әр түрлі бөліктері үшін темалар дестелерін орнатады
Comment[kn]=ಗಣಕತೆರೆಯ ವಿವಿಧ ಭಾಗಗಳಿಗೆ ಪ್ಯಾಕೇಜುಗಳ ಪರಿಸರವಿನ್ಯಾಸ‍ಗಳನ್ನು ಅನುಸ್ಥಾಪಿಸಿ
Comment[ko]=바탕 화면의 여러 곳에 쓰일 테마를 설치합니다
Comment[lt]=Įdiegia įvairių darbalaukio dalių temų paketus
Comment[lv]=Instalē tēmas dažādām darbvirsmas daļām
Comment[mk]=Инсталира пакети со теми за разни делови на работната околина
Comment[ml]=പണിയിടത്തിന്റെ വിവിധ ഭാഗങ്ങള്‍ക്കുള്ള രംഗവിതാന പാക്കേജുകള്‍ തെരഞ്ഞെടുക്കുക
Comment[mr]=डेस्कटॉपच्या विविध भाग करीता सुत्रयोजना संकुल प्रतिष्ठापीत करा
Comment[ms]=Pasang pakej tema untuk pelbagai bahagian dekstop
Comment[nb]=Installerer draktpakker for forskjellige deler av skrivebordet
Comment[ne]=डेक्सटपको विभिन्न भागहरुका लागि विषयवस्तु प्याकेजहरू स्थापना गर्दछ
Comment[nl]=Installeert themapakketten voor diverse onderdelen van de werkomgeving
Comment[nn]=Installerer draktpakkar for ulike deler av skrivebordet
Comment[oc]=Installar los paquets de tèmas per las divèrsas partidas del burèu
Comment[or]=ଡେସ୍କଟପର ବିଭିନ୍ନ ଅଂଶ ପାଇଁ ପ୍ରସଙ୍ଗର ପ୍ୟାକେଜଗୁଡ଼ିକୁ ସ୍ଥାପନ କରନ୍ତୁ
Comment[pa]=ਡੈਸਕਟਾਪ ਦੇ ਵੱਖ-ਵੱਖ ਹਿੱਸਿਆਂ ਲਈ ਥੀਮ ਪੈਕੇਜ ਇੰਸਟਾਲ ਕਰਦਾ ਹੈ
Comment[pl]=Instalacja motywów dla różnych części środowiska
Comment[pt]=Instala pacotes de temas para várias partes da área de trabalho
Comment[pt_BR]=Instala pacotes de temas para várias partes da área de trabalho
Comment[ro]=Instalează pachete cu teme pentru diverse părți ale desktopului
Comment[ru]=Устанавливает пакеты тем для различных элементов рабочего стола
Comment[sk]=Inštaluje balíčky tém pre rôzne časti prostredia
Comment[sl]=Namesti pakete tem za različne dele namizja
Comment[sq]=Instalon paketat e temave për pjesë të ndryshme të «desktop»
Comment[sr]=Инсталира пакет теме који покрива разне делове радне површи
Comment[sr@latin]=Instalira paket teme koji pokriva razne delove radne površine
Comment[sv]=Installerar temapaket för diverse delar av skrivbordet
Comment[ta]=கணினிமேசையின் பல பகுதிகளுக்கு கருப்பொருள்  பொதிகளை நிறுவுகிறது
Comment[te]=డెస్కుటాప్ యొక్క వేర్వేరు భాగాలకు థీమ్స్ ప్యాకేజీలను సంస్థాపిస్తుంది
Comment[th]=ติดตั้งแพกเกจชุดตกแต่งสำหรับส่วนต่างๆ ของพื้นที่ทำงาน
Comment[tr]=Masaüstünün farklı noktaları için tema yükler
Comment[ug]=ئۈستەل ئۈستى بۆلەكلىرى ئۈچۈن باش تېما بوغچىسى ئورنىتىدۇ
Comment[uk]=Встановлює пакунки тем для різних елементів стільниці
Comment[ur]=ڈیسک ٹاپ کے مختلف حصوں کے لیے تھیموں کے پیکج نصب کرتا ہے
Comment[vi]=Cài đặt sắc thái cho các phần khác nhau của giao diện
Comment[zh_CN]=为桌面的各部分安装主题包
Comment[zh_HK]=安裝佈景主題套件供桌面不同的部份使用
Comment[zh_TW]=安裝布景主題包供桌面不同的部分使用
Exec=mate-appearance-properties -i %u
Icon=preferences-desktop-theme
Terminal=false
Type=Application
MimeType=application/x-mate-theme-package;
StartupNotify=true
Categories=GTK;Settings;
Keywords=mate-control-center;MATE;install;desktop;themes;
NoDisplay=true
OnlyShowIn=MATE;
