[Desktop Entry]
Name=Log File Viewer
Name[am]=የ መግቢያ መመልከቻ
Name[ar]=معاين السجلات 
Name[as]=লগ নথিপত্ৰ প্ৰদৰ্শন ব্যৱস্থা
Name[ast]=Visor de ficheros de rexistros
Name[be]=Прагляднік файлаў логаў
Name[bg]=Преглед на системните дневници
Name[bn]=লগ ফাইল প্রদর্শন ব্যবস্থা
Name[bn_IN]=লগ ফাইল প্রদর্শন ব্যবস্থা
Name[br]=Gwelerez kerzhlevrioù
Name[ca]=Visualitzador de fitxers de registres
Name[ca@valencia]=Visualitzador de registres
Name[cmn]=紀錄檔檢視器
Name[crh]=Kütük Dosyesi Körüntileyicisi
Name[cs]=Prohlížeč souborů protokolů
Name[da]=Logfilsfremviser
Name[de]=Systemprotokollbetrachter
Name[el]=Παρακολούθηση αρχείων καταγραφών
Name[en_AU]=Log File Viewer
Name[en_GB]=Log File Viewer
Name[es]=Visor de archivos de sucesos
Name[et]=Logifailide näitaja
Name[eu]=Egunkari-fitxategien ikustailea
Name[fi]=Lokitiedostojen katselin
Name[fr]=Visionneuse de journaux système
Name[ga]=Amharcán Comhad Loga
Name[gl]=Visor de ficheiros de rexistro
Name[gu]=લોગ ફાઇલ દર્શક
Name[he]=מציג קבצי יומן
Name[hi]=लॉग फ़ाइल प्रदर्शक
Name[hu]=Naplómegjelenítő
Name[hy]=Մուտք ֆայլի Դիտող
Name[id]=Penilik Berkas Log
Name[it]=Visualizzatore di file di registro
Name[ja]=ログ・ビューア
Name[kk]=Логтар көрсетушісі
Name[kn]=ದಾಖಲೆ ಕಡತದ ವೀಕ್ಷಕ
Name[ko]=로그 파일 보기
Name[ky]=Журнал файлынын көрсөткүчү
Name[lt]=Žurnalų failų žiūryklė
Name[lv]=Žurnāla failu skatītājs
Name[ml]=ലോഗ് ഫയല്‍ ദര്‍ശിനി
Name[mr]=लॉग फाइल दर्शिका
Name[ms]=Pelihat Fail Log
Name[nb]=Loggvisning
Name[nl]=Logboekweergave
Name[or]=ଲଗ ଫାଇଲ ପ୍ରଦର୍ଶିକା
Name[pa]=ਲਾਗ ਫਾਇਲ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka dzienników systemowych
Name[pt]=Visualizador de Ficheiros de Registo
Name[pt_BR]=Visualizador de arquivos de log
Name[ro]=Vizualizator fișier înregistrări
Name[ru]=Программа просмотра журналов
Name[sk]=Prehliadač systémových záznamov
Name[sl]=Pregledovalnik dnevnikov
Name[sr]=Прегледач системског дневника
Name[sr@latin]=Pregledač sistemskog dnevnika
Name[sv]=Loggfilsvisare
Name[ta]=பதிவு கோப்பு காட்டி
Name[te]=లాగ్ దస్త్రపు దర్శిని
Name[th]=โปรแกรมอ่านแฟ้มปูม
Name[tr]=Günlük Dosyası Görüntüleyicisi
Name[ug]=خاتىرە ھۆججەت كۆرگۈچ
Name[uk]=Перегляд журналів
Name[ur]=لاگ فائل ناظر
Name[vi]=Bộ Xem Tập Tin Ghi Lưu
Name[zh_CN]=系统日志查看器
Name[zh_HK]=紀錄檔檢視器
Name[zh_TW]=紀錄檔檢視器
Comment=View or monitor system log files
Comment[am]=የ ስርአት መግቢያ ፋይሎች መመልከቻ ወይንም መቆጣጠሪያ
Comment[ar]=اعرض أو راقب ملفات سجلات النظام
Comment[as]=প্ৰণালী লগ নথিপত্ৰ পড়ুন বা পৰ্যবেক্ষণ কৰক
Comment[ast]=Ver o monitorizar el rexistru d'actividá de los ficheros del sistema
Comment[be]=Прагляд ці назіранне сістэмных логаў
Comment[bg]=Преглед или наблюдение системните дневници
Comment[bn]=সিস্টেম লগ ফাইল পড়ুন অথবা পর্যবেক্ষণ করুন
Comment[bn_IN]=সিস্টেম লগ ফাইল পড়ুন অথবা পর্যবেক্ষণ করুন
Comment[br]=Gwelout pe deurel evezh ouzh kerzhlevrioù ar reizhiad
Comment[ca]=Visualitzeu o monitoreu els fitxers de registre del sistema
Comment[ca@valencia]=Visualitza o fes un seguiment dels fitxers de registre del sistema
Comment[cmn]=顯示或監察系統日誌檔案
Comment[crh]=Sistem kütük dosyelerine baq ya da közet
Comment[cs]=Prohlížet nebo sledovat soubory systémových protokolů
Comment[cy]=Gweld neu fonitro'r ffeiliau cofnod system
Comment[da]=Gennemse eller overvåg systemets logfiler
Comment[de]=Systemprotokolle anzeigen oder überwachen
Comment[dz]=རིམ་ལུགས་དྲན་དེབ་ཡིག་སྣོད་ལུ་བལྟ་ ཡང་ན་ ལྟ་རྟོག་འབད།
Comment[el]=Εμφάνιση ή παρακολούθηση των αρχείων καταγραφής συστήματος
Comment[en_AU]=View or monitor system log files
Comment[en_GB]=View or monitor system log files
Comment[es]=Vea o monitorice los archivos de sucesos del sistema
Comment[et]=Süsteemsete logifailide sirvimine või jälgimine
Comment[eu]=Ikusi edo monitorizatu sistemaren egunkari-fitxategiak
Comment[fa]=نمایش یا پایش پرونده‌های ثبت وقایع سیستم
Comment[fi]=Näytä ja tarkkaile järjestelmän lokitiedostoja
Comment[fr]=Afficher ou surveiller les journaux système
Comment[gl]=Ver ou monitorizar os ficheiros de rexistro do sistema
Comment[gu]=સિસ્ટમ લોગ ફાઈલો જુઓ અથવા મોનીટર કરો
Comment[he]=הצג או נטר את קבצי דו"ח מערכת
Comment[hi]=तंत्र लॉग फ़ाइल दिखाएँ व मॉनीटर करें
Comment[hu]=Rendszernapló-fájlok megtekintése vagy megfigyelése
Comment[hy]=Դիտել կամ վերահսկել համակարգի log ֆայլերը
Comment[id]=Lihat atau pantau berkas log sistem
Comment[it]=Visualizza o monitora i file di registro di sistema
Comment[ja]=システム・ログを表示したり監視します
Comment[kn]=ವ್ಯವಸ್ಥೆಯ ದಾಖಲೆ ಕಡತಗಳನ್ನು ನೋಡಿ ಅಥವ ಮೇಲ್ವಿಚಾರಣೆ ನಡೆಸಿ
Comment[ko]=시스템의 로그 파일을 보거나 상태 변화를 봅니다
Comment[lt]=Peržiūrėti ar stebėti sistemos žurnalų failus
Comment[lv]=Skatīt vai novērot sistēmas žurnāla failu
Comment[mai]=सिस्टम लॉग फ़ाइल देखाबू आ मॉनीटर करू
Comment[mk]=Прегледај или набљудувај системски лог датотеки
Comment[ml]=സിസ്റ്റം ലോഗ് ഫയലുകള്‍ കാണുക അല്ലെങ്കില്‍ നിരീക്ഷിക്കുക
Comment[mr]=प्रणाली लॉग फाइली पहा किंवा निरिक्षीत करा
Comment[ms]=Lihat atau pantau fail log sistem
Comment[nb]=Vis eller overvåk systemets loggfiler
Comment[ne]=प्रणाली लग फाइल हेर्नुहोस् वा अनुगमन गर्नुहोस्
Comment[nl]=Systeemlogboeken bekijken of bewaken
Comment[nn]=Vis eller overvak systemets loggfiler
Comment[or]=ତନ୍ତ୍ର ଲଗ ଫାଇଲ ମାନଙ୍କୁ ଦେଖାନ୍ତୁ କିମ୍ବା ସେଗୁଡିକ ଉପରେ ଦ୍ରୁଷ୍ଟି ରଖନ୍ତୁ
Comment[pa]=ਸਿਸਟਮ ਲਾਗ ਫਾਇਲਾਂ ਵੇਖੋ ਜਾਂ ਨਿਗਰਾਨੀ ਕਰੋ
Comment[pl]=Wyświetlanie plików dzienników systemowych
Comment[ps]=غونډال خبرال دوتنې کتل يا څارل
Comment[pt]=Ver ou monitorizar ficheiros de registo do sistema
Comment[pt_BR]=Ver ou monitorar arquivos de log do sistema
Comment[ro]=Vizualizează sau monitorizează fișierele cu înregistrările de sistem
Comment[ru]=Просмотр и наблюдение за системными журналами
Comment[sk]=Zobrazuje, alebo sleduje súbory systémových záznamov
Comment[sl]=Pregledovanje ali nadzor sistemskih dnevniških datotek
Comment[sr]=Разгледајте или пратите системске дневике
Comment[sr@latin]=Razgleda ili pratiti sistemske dnevike
Comment[sv]=Visa eller övervaka systemloggfiler
Comment[ta]=கணினி பதிவு கோப்புகளை பார்வையிடு அல்லது கண்காணி
Comment[te]=దర్శించు లేదా దర్శిని వ్యవస్థ log దస్త్రములు
Comment[th]=อ่านหรือเฝ้าสังเกตปูมของระบบ
Comment[tr]=Sistem günlük dosyalarını göster ya da izle
Comment[ug]=سىستېما خاتىرە ھۆججىتى كۆرسەت ياكى كۆزەت
Comment[uk]=Перегляд та контроль системних журналів
Comment[ur]=نظام کے لاگ کی فائلیں دیکھیں اور ان پر نظر رکھیں
Comment[vi]=Xem hay theo dõi tập tin bản ghi hệ thống
Comment[zh_CN]=查看或监视系统日志文件
Comment[zh_HK]=顯示或監察系統日誌檔案
Comment[zh_TW]=顯示或監察系統日誌檔案
Exec=mate-system-log
Icon=mate-system-log
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;System;Monitor;
Keywords=MATE;monitor;view;system;log;files;logviewer;
OnlyShowIn=MATE;
X-MATE-DocPath=mate-system-log/mate-system-log.xml
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-utils
X-MATE-Bugzilla-Component=logview
X-MATE-Bugzilla-Version=1.20.2
