[Desktop Entry]
Type=Application
Name=Help
Name[af]=Hulp
Name[am]=እርዳታ 
Name[ar]=مساعدة
Name[as]=সহায়তা
Name[ast]=Aida
Name[az]=Yardım
Name[be]=Даведка
Name[bg]=Помощ
Name[bn]=সহায়তা
Name[bn_IN]=সাহায্য
Name[br]=Skoazell
Name[bs]=Pomoć
Name[ca]=Ajuda
Name[ca@valencia]=Ajuda
Name[cmn]=求助
Name[crh]=Yardım
Name[cs]=Nápověda
Name[cy]=Cymorth
Name[da]=Hjælp
Name[de]=Hilfe
Name[dz]=གྲོགས་རམ་
Name[el]=Βοήθεια
Name[en_AU]=Help
Name[en_CA]=Help
Name[en_GB]=Help
Name[eo]=Helpo
Name[es]=Ayuda
Name[es_AR]=Ayuda
Name[es_CL]=Ayuda
Name[es_CO]=Ayuda
Name[es_ES]=Ayuda
Name[es_MX]=Ayuda
Name[es_PR]=Ayuda
Name[et]=Abi
Name[eu]=Laguntza
Name[fa]=راهنما
Name[fi]=Ohje
Name[fr]=Aide
Name[fr_CA]=Aide
Name[frp]=Èda
Name[fur]=Jutori
Name[fy]=Help
Name[ga]=Cabhair
Name[gl]=Axuda
Name[gu]=મદદ
Name[he]=עזרה
Name[hi]=मदद
Name[hr]=Pomoć
Name[hu]=Súgó
Name[hy]=Օգնություն
Name[ia]=Adjuta
Name[id]=Bantuan
Name[is]=Hjálp
Name[it]=Aiuto
Name[ja]=ヘルプ
Name[jv]=Tetulungan
Name[ka]=დახმარება
Name[kk]=Көмек
Name[kn]=ಸಹಾಯ
Name[ko]=도움말
Name[ku]=Alîkarî
Name[ku_IQ]=یارمەتی
Name[ky]=Жардам
Name[lt]=Žinynas
Name[lv]=Palīdzība
Name[mai]=मद्दति 
Name[mg]=Tor-làlana
Name[mk]=Помош
Name[ml]=സഹായം
Name[mn]=Тусламж
Name[mr]=मदत
Name[ms]=Bantuan
Name[nb]=Hjelp
Name[nds]=Hölp
Name[ne]=सहायता
Name[nl]=Hulp
Name[nn]=Hjelp
Name[oc]=Ajuda
Name[or]=ସହାୟତା
Name[pa]=ਮੱਦਦ
Name[pl]=Pomoc
Name[pms]=Agiut
Name[ps]=مرسته
Name[pt]=Ajuda
Name[pt_BR]=Ajuda
Name[ro]=Ajutor
Name[ru]=Справка
Name[rw]=Ifashayobora
Name[sc]=Agiudu
Name[si]=උදව්
Name[sk]=Pomocník
Name[sl]=Pomoč
Name[sq]=Ndihmë
Name[sr]=Помоћ
Name[sr@latin]=Pomoć
Name[sv]=Hjälp
Name[ta]=உதவி
Name[te]=సహాయం
Name[th]=วิธีใช้
Name[tr]=Yardım
Name[ug]=ياردەم
Name[uk]=Довідка
Name[ur]=ہدایات
Name[uz]=Yordam
Name[vi]=Hỗ trợ 
Name[wa]=Aidance
Name[xh]=uNcedo
Name[zh_CN]=帮助
Name[zh_HK]=協助
Name[zh_TW]=說明
Comment=Get help with MATE
Comment[am]=ስለ ሜት እርዳታ ያግኙ
Comment[ar]=أحصل على مساعدة مع متّة
Comment[be]=Атрымаць даведку пра MATE
Comment[bg]=Получаване на помощ за MATE
Comment[br]=Kaout skoazell digant MATE
Comment[bs]=Dobij pomoć sa MATE
Comment[ca]=Obteniu ajuda amb MATE
Comment[ca@valencia]=Obteniu ajuda del MATE
Comment[cs]=Získat nápovědu pro MATE
Comment[cy]=Mynnwch gymorth â MATE
Comment[da]=Få hjælp til MATE
Comment[de]=Hilfe für MATE erhalten
Comment[el]=Βοήθεια για το MATE
Comment[en_AU]=Get help with MATE
Comment[en_GB]=Get help with MATE
Comment[eo]=Ricevu helpon kun MATE
Comment[es]=Obtener ayuda con MATE
Comment[es_AR]=Conseguí ayuda con MATE
Comment[es_CL]=Obtener ayuda con MATE
Comment[es_CO]=Obtener ayuda con MATE
Comment[es_ES]=Obtener ayuda con MATE
Comment[et]=MATE abiteabe näitamine
Comment[eu]=Eskuratu MATEri buruzko laguntza
Comment[fa]=درباره ماته راهنمایی دریافت کنید
Comment[fi]=Etsi neuvoja MATEn käyttöön
Comment[fr]=Obtenir de l'aide sur MATE
Comment[fy]=Krij help mei MATE
Comment[gl]=Obter axuda con MATE
Comment[he]=קבל עזרה עם MATE
Comment[hi]=मैटे उपयोग संबंधी मदद
Comment[hr]=Pribavi pomoć za MATE
Comment[hu]=Segítség kérése a MATE-hez
Comment[hy]=Տեղեկություն MATE-ի մասին
Comment[id]=Dapatkan bantuan dengan MATE
Comment[is]=Fá hjálp með MATE
Comment[it]=Ottieni aiuto con MATE
Comment[ja]=MATE のヘルプを取得
Comment[jv]=Kasingunan titulung karo MATE
Comment[kk]=MATE бойынша көмекті алу
Comment[kn]=MATE ಒಂದಿಗೆ ಸಹಾಯ ಪಡೆ
Comment[ko]=마테 도움말 얻기
Comment[ku_IQ]=یارمەتی بەدەست بێنە لە MATE
Comment[lt]=Pagalba naudojantis MATE
Comment[lv]=Iegūt palīdzību ar MATE
Comment[mr]=मेटसाठी मदत
Comment[ms]=Dapatkan bantuan dengan MATE
Comment[nb]=Få hjelp med MATE
Comment[ne]=MATE का लागि सहायता प्राप्त गर्नुहोस्
Comment[nl]=Hulp krijgen bij MATE
Comment[pl]=Pomoc środowiska MATE
Comment[pms]=Oten agiut con MATE
Comment[pt]=Obter ajuda no MATE
Comment[pt_BR]=Obter ajuda com o MATE
Comment[ro]=Obținere ajutor pentru MATE 
Comment[ru]=Получить справку по MATE
Comment[sk]=Dostať pomoc od MATE
Comment[sl]=Dobi pomoč z MATE
Comment[sq]=Merr ndihmë me MATE
Comment[sr]=Набавите помоћ са Мејтом
Comment[sv]=Få hjälp med MATE
Comment[te]=మేట్ కి సంబంధించి సహాయం
Comment[th]=รับความช่วยเหลือเกี่ยวกับ MATE
Comment[tr]=MATE hakkında yardım al
Comment[uk]=Отримати довідку по MATE
Comment[uz]=MATE ga oid yordam olish
Comment[vi]=Trợ giúp về MATE
Comment[zh_CN]=获取 MATE 帮助
Comment[zh_HK]=取得關於 MATE 的協助
Comment[zh_TW]=取得 MATE 說明
Keywords=documentation;information;manual;
Icon=help-browser
Exec=yelp help:mate-user-guide
StartupNotify=true
Terminal=false
Categories=GTK;Core;Documentation;
OnlyShowIn=MATE;
