[Desktop Entry]
Name=Joy Inksplat
Name[fr]=Joie Tâche d'Encre
X-KDE-PluginInfo-Name=JoyInksplat
X-KDE-PluginInfo-Author=Adrien Aubourg
X-KDE-PluginInfo-Email=adrien.aubourg@gmail.com
X-KDE-PluginInfo-License=GPLv2+
