[Desktop Entry]
Name=Moonlight
Name[fr]=Clair de Lune
X-KDE-PluginInfo-Name=Moonlight
X-KDE-PluginInfo-Author=Juliette Taka Belin
X-KDE-PluginInfo-Email=juliettetaka.belin@gmail.com
X-KDE-PluginInfo-License=GPLv2+
