[Desktop Entry]
Name=Pop art squares
Name[ar]=المربعات الفنية
Name[as]=পপ আৰ্ট স্কোয়াৰ
Name[ast]=Cuadraos pop art
Name[be]=Каляровыя квадраты
Name[bg]=Квадрати поп-арт
Name[bn]=পপ আর্ট বর্গক্ষেত্র
Name[bn_IN]=পপ আর্ট স্কোয়ার
Name[ca]=Quadrats pop-art
Name[ca@valencia]=Quadrats pop-art
Name[cmn]=閃方陣
Name[crh]=Pop art kareleri
Name[cs]=Pop-artové čtverce
Name[cy]=Sgwariau 'pop art'
Name[da]=Firkantet popkunst
Name[de]=Pop-Art-Felder
Name[dz]=པོཔ་ཨརཊི་གྲུ་བཞི།
Name[el]=Τετράγωνα pop-art
Name[en_AU]=Pop art squares
Name[en_CA]=Pop art squares
Name[en_GB]=Pop art squares
Name[es]=Cuadrados pop art
Name[et]=Popkunstist inspireeritud ristkülikud
Name[eu]=Pop arteko karratuak
Name[fa]=مربع‌های پاپ
Name[fi]=Poptaide-neliöt
Name[fr]=Carrés « Pop Art »
Name[ga]=Cearnóga pop-ealaíne
Name[gl]=Cadrados de arte pop
Name[gu]=ઝબૂકતા ચોકઠાઓ
Name[he]=ריבועי פופ־ארט
Name[hi]=पॉप अप वर्ग
Name[hr]=Pop-artistički četverokuti
Name[hu]=Pop art négyzetek
Name[hy]=Պոպ արվեստի հրապարակները
Name[id]=Lapangan pop art
Name[is]=Popplista-reitir
Name[it]=Quadrati Pop-art
Name[ja]=ポップな矩形のアート
Name[ka]=კვადრატები პოპ-არტ სტილში
Name[kn]=ಕಲಾ ಚೌಕಗಳನ್ನು ಪುಟಿಸು
Name[ko]=팝 아트 사각형
Name[ku]=Qada hunera Pop
Name[lt]=Meniški kvadratėliai
Name[lv]=Popārta kvadrāti
Name[mai]=पॉप आर्ट वर्ग
Name[mg]=Efamira Pop art
Name[mk]=Pop art квадрати
Name[ml]=പോപ് കലാ ചതുരങ്ങള്‍
Name[mn]=Тэгш өнцөгтийн pop хэлбэр
Name[mr]=पॉप कला चौकोन
Name[ms]=Segi empat seni pop
Name[nb]=Popkunstfirkanter
Name[nds]=Popkunstruten
Name[ne]=पप आर्ट वर्ग
Name[nl]=Pop-art blokken
Name[nn]=Popkunstfirkantar
Name[oc]=Carrats « Pop Art »
Name[or]=ପପ କଳା ବର୍ଗକ୍ଷେତ୍ରଗୁଡିକ
Name[pa]=ਪੋਪ ਆਰਟ ਵਰਗ
Name[pl]=Kolorowe kwadraty
Name[pt]=Quadrados pop-arte
Name[pt_BR]=Quadrados pop
Name[ro]=Pătrate pop-art
Name[ru]=Пульсирующие ячейки
Name[si]=චිත්‍ර කොටු මතු කරන්න
Name[sk]=Pop-artistické štvorce
Name[sl]=Kvadrati pop-arta
Name[sq]=Kuadrate arti pop
Name[sr]=Поп арт квадрати
Name[sr@latin]=Pop art kvadrati
Name[sv]=Popart-rutor
Name[ta]=Pop art சதுரங்கள்
Name[te]=పాప్ ఆర్ట్ స్కేర్స్
Name[th]=จัตุรัสศิลปะแนวป๊อป
Name[tr]=Pop art kareleri
Name[uk]=Пульсуючі комірки
Name[ur]=پوپ آرٹ مربع
Name[vi]=Vuông nghệ thuật phổ biến
Name[zh_CN]=流行艺术方块
Name[zh_HK]=閃方陣
Name[zh_TW]=閃方陣
Comment=A pop-art-ish grid of pulsing colors.
Comment[ar]=شَبَكَة شبه فنية للألوان النابضة.
Comment[as]=A pop-art-ish grid of pulsing colors.
Comment[ast]=Una rede pop-artística de colores rescamplantes.
Comment[be]=Папулярныя сеткі пульсуючых колераў.
Comment[bg]=Мрежа от пулсиращи цветове в стил поп-арт.
Comment[bn]=পপ-আর্টের মত একটি স্পন্দনরত রঙের গ্রিড
Comment[bn_IN]=A pop-art-ish grid of pulsing colors.
Comment[ca]=Una xarxa de colors de pulsació d'estil pop-art.
Comment[ca@valencia]=Una graella de colors de pulsació d'estil pop-art.
Comment[cmn]=一個交替轉換深淺色的方陣。
Comment[crh]=Bir pop-art-ish nabız gibi atan renklerin ızgarası.
Comment[cs]=Pop-artová mřížka pulzujících barev.
Comment[cy]=Dangos grid o liwiau sy'n pefrio, tebyg i 'pop-art'
Comment[da]=Et popkunstagtigt net af pulserende farver.
Comment[de]=Ein Raster mit pulsierenden Farben im Pop-Art-Stil.
Comment[dz]=འགྱུར་བའི་ཚོས་གཞིའི་ པོཔ་-ཨརཊི་-ཨིཤ་ གིརིཌི།
Comment[el]=Ένα πλέγμα παλλόμενων εικόνων pop-art
Comment[en_AU]=A pop-art-ish grid of pulsing colours.
Comment[en_CA]=A pop-art-ish grid of pulsing colours.
Comment[en_GB]=A pop-art-ish grid of pulsing colours.
Comment[es]=Esto dibuja una rejilla de cuadros pop-art de colores pulsantes.
Comment[et]=Popkunstilik pulseerivate värvidega ristkülikute maatriks.
Comment[eu]=Pop-art-dun sareta kolorezko taupadekin.
Comment[fa]=چهارخانه‌ای با رنگ‌های تپنده به سبک هنر پاپ.
Comment[fi]=Pop-Art-tyylinen ruudukko sykkiviä värejä.
Comment[fr]=Dessine une grille de couleurs pulsées ressemblant à du Pop art.
Comment[gl]=Unha grade de cadros pop-art de cores pulsantes.
Comment[gu]=રંગોના કંપન માટે pop-art-ish જાળી.
Comment[he]=רשת פופ־ארטית של פעימות צבע
Comment[hi]=पल्सिंग रंग का एक pop-art-ish ग्रिड
Comment[hr]=Pop-artistička matrica pulsirajućih boja.
Comment[hu]=Pulzáló színek pop-artos rácsa
Comment[hy]=Բաբախուն գույների pop-art-ish ցանց
Comment[id]=Warna pulsa baris pop-art-ish
Comment[is]=Net af popplistarlegum flökktandi litum
Comment[it]=Una griglia in stile Pop-art di colori pulsanti.
Comment[ja]=四角形が脈打つように見えるポップアートを表示します
Comment[ka]=მფეთქავი ფერები პოპ-არტ-სტილში
Comment[kn]=ಮಿನುಗುವ ಬಣ್ಣಗಳ ಕಲಾತ್ಮಕ ಚೌಕಗಳನ್ನು ಹೊಂದಿರುವ ಪುಟಿಕೆ ಚೌಕುಳಿಗಳು.
Comment[ko]=고동치는 색깔의 팝아트 형식 격자 모양.
Comment[ku]=Pop-hunera-ish a tora lêxistina rengan
Comment[lt]=Pulsuojančių spalvų kvadratėliai.
Comment[lv]=Pulsējošu krāsu popārtisks režģis.
Comment[mai]=पल्सिंग रँग क' एकटा pop-art-ish ग्रिड
Comment[mg]=Makarakara misy loko marevaka mitovy amin'ny lokona Pop art.
Comment[mk]=pop-art-ish мрежа од пулсирачки бои
Comment[ml]=ഒരു പോപ് കലാപരമായ സ്പന്ദിയ്ക്കുന്ന നിറങ്ങളുടെ ഗ്രിഡ്
Comment[mn]=Шаргал өнгийн pop-art-ish grid хүснэг
Comment[mr]=पल्सींग रंगाचे पॉप-कला ग्रीड.
Comment[ms]=Grid bergaya seni pop dengan warna-warna berdenyut.
Comment[nb]=Et popkunst-aktig rutenett med pulserende farger.
Comment[nds]=Een net vun dollen Klöörs, de as Popart utsehn.
Comment[ne]=पल्सिङ रङको pop-art-ish ग्रिड ।
Comment[nl]=Dit toont pop-art-achtige blokken in pulserende kleuren.
Comment[nn]=Eit popkunst-aktig rutenett med pulserande fargar.
Comment[or]=ଗୋଟିଏ ପପ-କଳା-ୟୁକ୍ତ ପଲ୍ସିଙ୍ଗ ରଙ୍ଗଗୁଡିକର ଗ୍ରୀଡ
Comment[pa]=ਧੜਕਦੇ ਰੰਗਾਂ ਦਾ ਪੋਪ-ਆਰਟ ਗਰਿੱਡ ਹੈ।
Comment[pl]=Wyświetla siatkę kwadratów o pulsujących kolorach.
Comment[pt]=Uma grelha estilo pop-arte de cores pulsantes.
Comment[pt_BR]=Uma grade de arte pop de cores pulsantes.
Comment[ro]=O grilă de culori care pulsează într-un stil pop-art.
Comment[ru]=Сеть из пульсирующих цветных ячеек
Comment[sk]=Pop-artistická matica pulzujúcich farieb
Comment[sl]=Mreža utripajočih barv v slogu pop-arta.
Comment[sq]=Një rrjetë me ngjyra pulsuese.
Comment[sr]=Поп арт мрежа светлећих боја.
Comment[sr@latin]=Pop art mreža svetlećih boja
Comment[sv]=En popartigt rutnät med pulserande färger.
Comment[ta]=நிறங்களின் துடிப்பில் ஒரு pop-art-ish கட்டம்.
Comment[te]=ప్రచురిత వర్ణముల యొక్క pop-art-ish గ్రిడ్.
Comment[th]=ตารางไฟกะพริบแบบศิลปะแนวป๊อป
Comment[tr]=Bir pop-art-ish nabız gibi atan renklerin ızgarası.
Comment[uk]=Мережа з пульсуючих кольорових комірок.
Comment[vi]=Vẽ lưới các màu đập kiểu dáng nghệ thuật phổ biến.
Comment[zh_CN]=一个由跳动的颜色组成的流行艺术栅格
Comment[zh_HK]=一個交替轉換深淺色的方陣。
Comment[zh_TW]=一個交替轉換深淺色的方陣。
Exec=/usr/lib/mate-screensaver/mate-screensaver/popsquares
TryExec=/usr/lib/mate-screensaver/mate-screensaver/popsquares
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
Keywords=MATE;screensaver;grid;pulsing;colors;
OnlyShowIn=MATE;
