[Desktop Entry]
Type=Application
Name=MATE Settings Daemon
Name[am]=የ ሜት ማሰናጃ ረዳት
Name[ar]=محثّ إعدادات متّة
Name[as]=MATE Settings ডেমন
Name[ast]=Degorriu d'axustes de MATE
Name[be]=Дэман настáўленняў MATE
Name[bg]=Сървър за настройките на MATE
Name[bn]=MATE Settings ডেমন
Name[bn_IN]=MATE Settings ডেমন
Name[ca]=Dimoni dels ajusts de MATE
Name[ca@valencia]=Dimoni de paràmetres del MATE
Name[cmn]=MATE 設定值守護程式
Name[crh]=MATE Ayarları Cını
Name[cs]=Démon nastavení MATE
Name[da]=MATE-indstillingsdæmon
Name[de]=MATE-Einstellungsdienst
Name[el]=Δαίμονας ρυθμίσεων MATE
Name[en_AU]=MATE Settings Daemon
Name[en_GB]=MATE Settings Daemon
Name[es]=Administrador de preferencias de MATE
Name[et]=MATE sätetedeemon
Name[eu]=MATEren ezarpenen daemon-a
Name[fi]=MATEn asetuspalvelin
Name[fr]=Service des paramètres MATE
Name[ga]=Deamhan Socruithe MATE
Name[gl]=Servizo de configuracións do MATE
Name[gu]=MATE સુયોજનો ડેઇમન
Name[he]=מנוע ההגדרות של MATE
Name[hi]=गनोम सेटिंग डेमॉन
Name[hu]=MATE beállításdémon
Name[hy]=MATE Կարգաբերման պարամետրերի օժանդակ ծրագիր
Name[id]=Daemon Penataan MATE
Name[it]=Demone di impostazioni per MATE
Name[ja]=MATE 設定デーモン
Name[kk]=MATE баптаулар қызметі
Name[kn]=MATE ಸಂಯೋಜನೆಗಳ ಡೀಮನ್(Daemon)
Name[ko]=마테 설정 데몬
Name[lt]=MATE nustatymų tarnyba
Name[lv]=MATE iestatījumu dēmons
Name[mk]=Демонот за поставувања на MATE
Name[ml]=ഗ്നോമിലെ സജ്ജീകരണങ്ങളുടെ നിരന്തരപ്രവൃത്തി
Name[mr]=MATE संयोजना डीमन
Name[ms]=Daemon Tetapan MATE
Name[nb]=MATE oppsettstjenestenisse
Name[nl]=Mate Achtergronddienst voor instellingen
Name[nn]=MATE innstillingsnisse
Name[or]=MATE ବିନ୍ୟାସ ଡେମନ
Name[pa]=ਗਨੋਮ ਸੈਟਿੰਗ ਡੈਮਨ
Name[pl]=Usługa ustawień środowiska MATE
Name[pt]=Servidor de Definições MATE
Name[pt_BR]=Daemon de configurações do MATE
Name[ro]=Serviciul de configurări MATE
Name[ru]=Демон параметров MATE
Name[sk]=Démon nastavení MATE
Name[sl]=Ozadnji program nastavitev MATE
Name[sr]=Мејтов услужник подешавања
Name[sr@latin]=Uslužni program za podešavanje Gnoma
Name[sv]=MATE-inställningsdemon
Name[ta]=MATE அமைவுகள் கிங்கரன்
Name[te]=MATE అమర్పుల డెమోన్
Name[th]=ดีมอนค่าตั้ง MATE
Name[tr]=MATE Ayarlar Servisi
Name[uk]=Служба параметрів MATE
Name[ur]=میٹ ترتیبات ڈیمن
Name[vi]=Trình nền Thiết lập MATE
Name[zh_CN]=MATE 设置守护程序
Name[zh_HK]=MATE 設定值伺服程式
Name[zh_TW]=MATE 設定值守護程式
Exec=/usr/bin/mate-settings-daemon
OnlyShowIn=MATE;
X-MATE-Autostart-Phase=Initialization
X-MATE-Autostart-Notify=true
X-MATE-AutoRestart=true
