[Desktop Entry]
Name=PolicyKit Authentication Agent
Name[am]=የ አሰራር ጥቅል ማረጋገጫ ወኪል
Name[ar]=مدير الاستيثاق PolicyKit
Name[be]=PolicyKit, агент аўтэнтыфікацыі
Name[bg]=Програма за идентификация PolicyKit
Name[bn_IN]=PolicyKit অনুমোদনের এজেন্ট
Name[ca]=Agent d'autenticació PolicyKit
Name[ca@valencia]=Agent d'autenticació PolicyKit
Name[cmn]=PolicyKit 驗證代理程式
Name[cs]=Ověřovací agent PolicyKit
Name[da]=Godkendelsesprogrammet PolicyKit
Name[de]=PolicyKit-Legitimationsagent
Name[el]=Πράκτορας πιστοποίησης PolicyKit
Name[en_AU]=PolicyKit Authentication Agent
Name[en_GB]=PolicyKit Authentication Agent
Name[es]=Agente de autenticación de PolicyKit
Name[es_AR]=Agente de Autenticación PolicyKit
Name[es_CO]=Agente de autenticación PolicyKit
Name[et]=Autentimisagent PolicyKit
Name[eu]=PolicyKit autentifikatzeko agentea
Name[fi]=PolicytKit-tunnistautumisohjelma
Name[fr]=Agent d'authentification de PolicyKit
Name[gl]=Axente de autenticación PolicyKit
Name[gu]=PolicyKit સત્તાધિકરણ એજન્ટ
Name[he]=סוכן האימון PolicyKit
Name[hi]=PolicyKit प्रमाणीकरण प्रतिनिधि
Name[hr]=Programski izvršitelj pravila ovjere
Name[hu]=PolicyKit hitelesítési ügynök
Name[hy]=PolicyKit Նույնականացման գործակալը
Name[id]=PolicyKit Authentication Agent
Name[is]=PolicyKit auðkenningarþjónn
Name[it]=Agente di autenticazione per PolicyKit
Name[ja]=PolicyKit 認証エージェント
Name[kk]=PolicyKit аутентификация агенті
Name[kn]=PolicyKit ದೃಢೀಕರಣ ಮಧ್ಯವರ್ತಿ
Name[ko]=PolicyKit 인증 에이전트
Name[lt]=PolicyKit tapatybės nustatymo agentas
Name[lv]=PolicyKot Apliecinājuma Aģents
Name[ml]=പോളിസിക്കിറ്റ് ഓഥന്റിക്കേഷന്‍ ഏജന്റ്
Name[mr]=PolicyKit ऑथेंटीकेशन एजेंट
Name[ms]=Ejen Pengesahihan PolicyKit
Name[nb]=Agent for fodkjennelsesprogrammet PolicyKit
Name[nl]=PolicyKit Authenticatie-agent
Name[oc]=Agent d'autentificacion de PolicyKit
Name[or]=PolicyKit ବୈଧିକରଣ ସଦସ୍ୟ
Name[pa]=ਪਾਲਸੀਕਿੱਟ ਪਰਮਾਣਕਿਤਾ ਏਜੰਟ
Name[pl]=Agent uwierzytelniania PolicyKit
Name[pt]=Agente de Autenticação PolicyKit
Name[pt_BR]=Agente de autenticação PolicyKit
Name[ro]=Agent de autentificare PolicyKit
Name[ru]=Агент аутентификации PolicyKit
Name[sk]=Agent PolicyKit na overovanie totožnosti
Name[sl]=Posrednik overjanja PolicyKit
Name[sr]=Агент потврђивања идентитета Прибор политике
Name[sv]=Autentiseringsagent för PolicyKit
Name[ta]=PolicyKit அங்கீகார முகவர்
Name[te]=పాలసీకిట్ ధృవీకరణ ప్రతినిధి
Name[th]=ตัวกลางสำหรับยืนยันตัวบุคคล PolicyKit
Name[tr]=PolicyKit Kimlik Doğrulama Aracı
Name[uk]=Агент розпізнання PolicyKit
Name[ur]=پالیسی کِٹ PolicyKit توثیقی ایجنٹ
Name[vi]=PolicyKit Authentication Agent
Name[zh_CN]=PolicyKit 认证代理
Name[zh_HK]=PolicyKit 驗證代理程式
Name[zh_TW]=PolicyKit 驗證代理程式
Comment=PolicyKit Authentication Agent for the MATE Desktop
Comment[am]=የ አሰራር ጥቅል ማረጋገጫ ወኪል ለ ሜት ዴስክቶፕ
Comment[ar]=عميل الاستيثاق PolicyKit لسطح مكتب متّة
Comment[be]=PolicyKit, агент аўтэнтыфікацыі для асяроддзя MATE
Comment[bg]=Програма за идентификация PolicyKit за MATE
Comment[ca]=Agent d'autenticació PolicyKit per a l'escriptori MATE
Comment[ca@valencia]=Agent d'autenticació PolicyKit per a l'escriptori MATE
Comment[cs]=Ověřovací agent PolicyKit pro MATE Desktop 
Comment[da]=Godkendelsesprogrammet PolicyKit for MATE-skrivebordet
Comment[de]=PolicyKit-Legitimationsagent für die MATE-Arbeitsumgebung
Comment[el]=Πράκτορας πιστοποίησης PolicyKit για το MATE Desktop
Comment[en_AU]=PolicyKit Authentication Agent for the MATE Desktop
Comment[en_GB]=PolicyKit Authentication Agent for the MATE Desktop
Comment[es]=Agente de autenticación de PolicyKit para escritorio MATE
Comment[es_AR]=Agente de Autenticación PolicyKit para el escritorio MATE
Comment[es_CO]=Agente de autenticación PolicyKit para el entorno MATE
Comment[et]=MATE töölaua autentimisagent PolicyKit
Comment[fi]=PolicyKit-tunnistautumisagentti MATE-työpöydälle
Comment[fr]=Agent d'authentification PolicyKit pour MATE Desktop
Comment[gl]=Axente de autenticación PolicyKit para o escritorio MATE
Comment[he]=סוכן האימון PolicyKit עבור שולחן העבודה MATE
Comment[hi]=माटे डेस्कटॉप के लिए पोलिसीकिट प्रमाणीकरण घटक
Comment[hr]=Programski izvršitelj pravila ovjere za radno okruženje MATE
Comment[hu]=PolicyKit hitelesítési ügynök a MATE Desktophoz
Comment[hy]=PolicyKit Նույնականացման գործակալը MATE աշխատանքային սեղանի համար
Comment[id]=Agen Autentikasi PolicyKit untuk MATE Desktop
Comment[is]=PolicyKit auðkenningarþjónn fyrir MATE-skjáborðið
Comment[it]=Agente di autenticazione per PolicyKit di MATE Desktop
Comment[ja]=PolicyKit 認証エージェント
Comment[kk]=MATE жұмыс үстелі үшін PolicyKit аутентификация агенті
Comment[ko]=마테 데스크톱용 정책키트 인증 에이전트
Comment[lt]=PolicyKit tapatybės nustatymo agentas MATE darbalaukiui
Comment[mr]=MATE डेस्कटाॅपसाठी PolicyKit ऑथेंटीकेशन एजेंट
Comment[ms]=Ejen pengesahihan PolicyKit untuk Desktop MATE
Comment[nb]=Godkjennelsesprogrammet PolicyKit for MATE-skrivebordet
Comment[nl]=PolicyKit Authenticatie-agent voor de MATE-werkomgeving
Comment[oc]=Agent d'autentificacion PolicyKit per MATE Desktop
Comment[pl]=Agent uwierzytelniania PolicyKit dla MATE
Comment[pt]=Agente de Autenticação PolicyKit do Ambiente MATE
Comment[pt_BR]=Agente de autenticação PolicyKit para o ambiente de trabalho MATE
Comment[ro]=Agent de autentificare PolicyKit
Comment[ru]=Агент аутентификации PolicyKit для рабочей среды MATE
Comment[sk]=PolicyKit Authentication Agent pre MATE Desktop
Comment[sl]=Posrednik overitve PolicyKit za namizje MATE
Comment[sr]=Прибор политике је агент за потврђивање идентитета за Мејтову радну површ
Comment[sv]=PolicyKit autentiseringsagent för MATE skrivbordsmiljön
Comment[th]=ตัวกลางสำหรับยืนยันตัวบุคคล PolicyKit สำหรับพื้นโต๊ะของ MATE
Comment[tr]=MATE Masaüstü için PolicyKit Kimlik Doğrulama Aracı
Comment[uk]=Агент розпізнання PolicyKit для стільниці MATE
Comment[vi]=PolicyKit Authentication Agent cho môi trường MATE
Comment[zh_CN]=MATE 桌面的 PolicyKit 认证代理
Comment[zh_TW]=MATE 桌面環境的 PolicyKit 驗證代理程式
Exec=/usr/lib/x86_64-linux-gnu/polkit-mate/polkit-mate-authentication-agent-1
Terminal=false
Type=Application
Categories=
NoDisplay=true
OnlyShowIn=MATE;
X-MATE-AutoRestart=true
