[Desktop Entry]
Name=Caja
Name[af]=Caja
Name[am]=ካጃ
Name[ar]=كاجا
Name[as]=Caja
Name[ast]=Caja
Name[az]=Caja
Name[be]=Caja
Name[bg]=Файлов мениджър (Caja)
Name[bn]=Caja
Name[bn_IN]=Caja
Name[br]=Caja
Name[bs]=Caja
Name[ca]=Caja
Name[ca@valencia]=Caja
Name[cmn]=Caja
Name[crh]=Caja
Name[cs]=Caja
Name[cy]=Caja
Name[da]=Caja
Name[de]=Caja
Name[dz]=ནའུ་ཊི་ལཱསི།
Name[el]=Caja
Name[en_AU]=Caja
Name[en_CA]=Caja
Name[en_GB]=Caja
Name[eo]=Naŭtilo
Name[es]=Caja
Name[es_AR]=Caja
Name[es_CO]=Caja
Name[et]=Caja
Name[eu]=Caja
Name[fa]=ناتیلوس
Name[fi]=Caja
Name[fr]=Caja
Name[fur]=Caja
Name[fy]=Caja
Name[ga]=Caja
Name[gl]=Caja
Name[gu]=નોટિલસ
Name[ha]=Caja
Name[he]=Caja
Name[hi]=नॉटिलस
Name[hr]=Caja
Name[hu]=Caja
Name[hy]=Նաուտիլիուս
Name[id]=Caja
Name[ig]=Caja
Name[is]=Caja
Name[it]=Caja
Name[ja]=Caja
Name[ka]=ნაუტილუსი
Name[kk]=Caja
Name[km]=Caja
Name[kn]=Caja‍
Name[ko]=카하
Name[ku]=Caja
Name[ku_IQ]=کاخا
Name[ky]=Caja
Name[li]=Caja
Name[lt]=Caja
Name[lv]=Caja
Name[mai]=नाटिलस
Name[mg]=Caja
Name[mi]=Paua
Name[mk]=Caja
Name[ml]=നോട്ടിലസ്
Name[mn]=Наутилус
Name[mr]=नॉटीलस
Name[ms]=Caja
Name[nb]=Caja
Name[nds]=Caja
Name[ne]=नटलस
Name[nl]=Caja
Name[nn]=Caja
Name[nso]=Caja
Name[oc]=Caja
Name[or]=ନଟିଲସ
Name[pa]=ਨਟੀਲਸ
Name[pl]=Caja
Name[ps]=ناوټېلس
Name[pt]=Caja
Name[pt_BR]=Caja
Name[ro]=Caja
Name[ru]=Caja
Name[si]=Caja
Name[sk]=Caja
Name[sl]=Caja
Name[sq]=Caja
Name[sr]=Цаја
Name[sr@latin]=Caja
Name[sv]=Caja
Name[ta]=Caja
Name[te]=నాటిలస్
Name[th]=Caja
Name[tk]=Caja
Name[tr]=Caja
Name[ug]=Caja
Name[uk]=Caja
Name[ur]=Caja
Name[uz]=Caja
Name[vi]=Caja
Name[wa]=Caja.
Name[xh]=i-Caja
Name[yo]=Caja
Name[zh_CN]=Caja
Name[zh_HK]=Caja
Name[zh_TW]=Caja
Name[zu]=Caja
GenericName=Open Folder
GenericName[af]=Open gids
GenericName[am]=ፎልደር መክፈቻ 
GenericName[ar]=افتح مجلّدا
GenericName[as]=ফোল্ডাৰ খোলক
GenericName[ast]=Abrir Carpeta
GenericName[az]=Qovluğu Aç
GenericName[be]=Адкрывае каталог
GenericName[bg]=Отваряне на папка
GenericName[bn]=ফোল্ডার খুলুন
GenericName[bn_IN]=ফোল্ডার খুলুন
GenericName[br]=Digeriñ an teuliad
GenericName[bs]=Otvori Folder
GenericName[ca]=Obre la carpeta
GenericName[ca@valencia]=Obri una carpeta
GenericName[cmn]=開啟資料夾
GenericName[crh]=Cilbent Aç
GenericName[cs]=Otevřít složku
GenericName[cy]=Agor y blygell
GenericName[da]=Åbn mappe
GenericName[de]=Ordner öffnen
GenericName[dz]=སྣོད་འཛིན་ཁ་ཕྱེ།
GenericName[el]=Άνοιγμα φακέλου
GenericName[en_AU]=Open Folder
GenericName[en_CA]=Open Folder
GenericName[en_GB]=Open Folder
GenericName[eo]=Malfermi dosierujon
GenericName[es]=Abrir carpeta
GenericName[es_AR]=Abrir Carpeta
GenericName[es_CO]=Abrir Carpeta
GenericName[es_MX]=Abrir Carpeta
GenericName[et]=Avatakse kaust
GenericName[eu]=Ireki karpeta
GenericName[fa]=باز کردن پوشه
GenericName[fi]=Avaa kansio
GenericName[fr]=Ouvrir un dossier
GenericName[fur]=Vierç cartele
GenericName[fy]=Iepen Map
GenericName[ga]=Oscail Fillteán
GenericName[gl]=Abrir o cartafol
GenericName[gu]=ફોલ્ડર ખોલો
GenericName[he]=פתיחת תיקיה
GenericName[hi]=फ़ोल्डर खोलें
GenericName[hr]=Otvori mapu
GenericName[hu]=Mappa megnyitása
GenericName[hy]=Բացել թղթապանակ
GenericName[id]=Buka Folder
GenericName[is]=Opna Möppu
GenericName[it]=Apertura cartella
GenericName[ja]=フォルダーを開く
GenericName[ka]=გახსენი საქაღალდე
GenericName[kk]=Буманы ашу
GenericName[kn]=ಕಡತಕೋಶವನ್ನು ತೆರೆ
GenericName[ko]=폴더 열기
GenericName[ks]=फ़ोल्डर खोलें
GenericName[ku]=Peldankê veke
GenericName[ku_IQ]=کردنەوەی بوخچە
GenericName[ky]=Папканы ачуу
GenericName[la]=Aperire Forulus
GenericName[lt]=Atverti aplanką
GenericName[lv]=Atvērt mapi
GenericName[mai]=फोल्डर खोलू
GenericName[mg]=Sokafy ny lahatahiry
GenericName[mk]=Отвори папка
GenericName[ml]=അറ തുറക്കുക
GenericName[mn]=Хавтас нээх
GenericName[mr]=संचयीका उघडा
GenericName[ms]=Buka Folder
GenericName[nb]=Åpne mappe
GenericName[nds]=Verteeknis opmaken
GenericName[ne]=फोल्डर खोल्नुहोस्
GenericName[nl]=Map openen
GenericName[nn]=Opna mappe
GenericName[nso]=Bula Sephuthedi
GenericName[oc]=Dobrir un repertòri
GenericName[or]=ଫୋଲଡର ଖୋଲନ୍ତୁ
GenericName[pa]=ਫੋਲਡਰ ਖੋਲ੍ਹੋ
GenericName[pl]=Otwarcie katalogu
GenericName[ps]=پوښۍ پرانيستل
GenericName[pt]=Abrir pasta
GenericName[pt_BR]=Abrir pasta
GenericName[ro]=Deschide dosar
GenericName[ru]=Открыть папку
GenericName[sc]=Aberi Cartella
GenericName[si]=බහලුම විවෘත කරන්න
GenericName[sk]=Otvoriť priečinok
GenericName[sl]=Odpri mapo
GenericName[sq]=Hap kartelën
GenericName[sr]=Отворите фасциклу
GenericName[sr@latin]=Otvori fasciklu
GenericName[sv]=Öppna mapp
GenericName[ta]=அடைவை திறக்கவும்
GenericName[te]=సంచయమును తెరువుము
GenericName[th]=เปิดโฟลเดอร์
GenericName[tk]=Haltany Aç
GenericName[tr]=Dizin Aç
GenericName[ug]=فولدېرنى ئېچىش
GenericName[uk]=Відкрити теку
GenericName[ur]=فولڈر کھولیں
GenericName[uz]=Jildni ochish
GenericName[vi]=Mở thư mục
GenericName[wa]=Drovi ridant
GenericName[xh]=Vula Isiqulathi Seefayili
GenericName[zh_CN]=打开文件夹
GenericName[zh_HK]=開啟資料夾
GenericName[zh_TW]=開啟資料夾
GenericName[zu]=Vula isibaya
TryExec=caja
Exec=caja --no-desktop %U
NoDisplay=true
Terminal=false
Icon=folder-open
StartupNotify=false
Type=Application
MimeType=inode/directory;application/x-mate-saved-search;
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=caja
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.20.3
