#!/usr/bin/env xdg-open

[Desktop Entry]
Name=nmap
Name[fr]=nmap
Comment=Tool for scanning all ports using in NDD or IP address
Comment[fr]=Outil pour scanner tous les ports sur un NDD ou une adresse IP 
Exec=terminator -e "zsh -c 'nmap -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Scanner
