#!/usr/bin/env xdg-open

[Desktop Entry]
Name=f2fstat
Name[fr]=f2fstat
Comment=Tool for manage F2FS
Comment[fr]=Outil pour gérer F2FS
Exec=terminator -e "zsh -c 'sudo f2fstat;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=F2FS
X-Kaisen-Package=kaisen-filesystems
