#!/usr/bin/env xdg-open

[Desktop Entry]
Name=baculafd-enable
Name[fr]=baculafd-activé
Comment=Enable baculafd daemon
Comment[fr]=Activer service baculafd
Exec=terminator -e "zsh -c '/opt/services/baculafd-enable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SBacula
