#!/usr/bin/env xdg-open

[Desktop Entry]
Name=tcptrace
Name[fr]=tcptrace
Comment=Tool for analysing tcpdump output
Comment[fr]=Outil pour analyser la sortie de tcpdump
Exec=terminator -e "zsh -c 'tcptrace -hargs;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=TCP
