#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ethtool
Name[fr]=ethtool
Comment=Tool for display ethernet informations
Comment[fr]=Outil pour afficher les informations ethernet
Exec=terminator -e "zsh -c 'sudo ethtool -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Ethernet
X-Kaisen-Package=ethtool;kaisen-network-tools
