#!/usr/bin/env xdg-open

[Desktop Entry]
Name=lsof
Name[fr]=lsof
Comment=Tool for listing files opens
Comment[fr]=Outil pour lister les fichiers ouverts
Exec=terminator -e "zsh -c 'lsof -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SystemSecurity
