#!/usr/bin/env xdg-open

[Desktop Entry]
Name=udp-sender
Name[fr]=udp-sender
Comment=Tool for send udp packets
Comment[fr]=Outil pour envoyer des paquets udp
Exec=terminator -e "zsh -c 'udp-sender;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=UDP
X-Kaisen-Package=udpcast;kaisen-network-tools
