#!/usr/bin/env xdg-open

[Desktop Entry]
Name=clamav-freshclam-disable
Name[fr]=clamav-freshclam-désactivé
Comment=Disable clamav freshclam
Comment[fr]=Désactiver clamav freshclam
Exec=terminator -e "zsh -c '/opt/services/clamav-freshclam-disable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SClamAV
X-Kaisen-Package=clamav-freshclam;kaisen-services-management;kaisen-technicians-tools;kaisen-virus-analysis
