#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ifconfig
Name[fr]=ifconfig
Comment=Tool for display information network configuration
Comment[fr]=Outil pour afficher les informations de connexions
Exec=terminator -e "zsh -c 'sudo ifconfig;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=IP

