#!/usr/bin/env xdg-open

[Desktop Entry]
Name=rkhunter
Name[fr]=rkhunter
Comment=Tool for scanning rootkit presence
Comment[fr]=Outil pour scanner la présence de rootkit
Exec=terminator -e "zsh -c 'rkhunter;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=VirusAnalysis
X-Kaisen-Package=rkhunter;kaisen-virus-analysis;kaisen-technicians-tools
