#!/usr/bin/env xdg-open

[Desktop Entry]
Name=etcsetserial-enable
Name[fr]=etcsetserial-activé
Comment=Enable etcsetserial daemon
Comment[fr]=Activer service etcsetserial
Exec=terminator -e "zsh -c '/opt/services/etcserial-enable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SETCSetSerial
