#!/usr/bin/env xdg-open

[Desktop Entry]
Name=iw
Name[fr]=iw
Comment=Tool for configuration wireless card
Comment[fr]=Outil pour configurer les cartes wifi
Exec=terminator -e "zsh -c 'sudo iw;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=WIFI
X-Kaisen-Package=iw;kaisen-hardware;kaisen-technicians-tools
