#!/usr/bin/env xdg-open

[Desktop Entry]
Name=nethogs
Name[fr]=nethogs
Comment=Tool for network process moniroting
Comment[fr]=Outil pour monitorer les processus réseaux 
Exec=terminator -e "zsh -c 'sudo nethogs;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Monitoring
X-Kaisen-Package=nethogs;kaisen-network-tools
