#!/usr/bin/env xdg-open

[Desktop Entry]
Name=gfs2jadd
Name[fr]=gfs2jadd
Comment=Tool for manage GFS2
Comment[fr]=Outil pour gérer GFS2
Exec=terminator -e "zsh -c 'sudo gfs2_jadd -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=GFS2
X-Kaisen-Package=kaisen-filesystems
