#!/usr/bin/env xdg-open

[Desktop Entry]
Name=cups
Name[fr]=cups
Comment=Tool for printing gestion in your system
Comment[fr]=Outil pour la gestion d'impression sur votre système
Exec=firefox %u localhost:631
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SystemSecurity
X-Kaisen-Package=cups;kaisen-sysadmin-tools
