#!/usr/bin/env xdg-open

[Desktop Entry]
Name=openssh-server
Name[fr]=openssh-server
Comment=Tool for administration UNIX systems with openssh
Comment[fr]=Outil pour l'administration des systèmes UNIX avec openssh
Exec=terminator -e "zsh -c 'ssh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=RemoteAdministration
