#!/usr/bin/env xdg-open

[Desktop Entry]
Name=btrfs-balance-least-used
Name[fr]=btrfs-balance-least-used
Comment=Tool for manage BTRFS
Comment[fr]=Outil pour gérer BTRFS
Exec=terminator -e "zsh -c 'btrfs-balance-least-used;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=BTRFS
X-Kaisen-Package=btrfs-progs;kaisen-filesystems
