#!/usr/bin/env xdg-open

[Desktop Entry]
Name=measurefs.reiser4
Name[fr]=measurefs.reiser4
Comment=Tool for manage REISER4 partition
Comment[fr]=Outil pour gérer une partition REISER4
Exec=terminator -e "zsh -c 'sudo measurefs.reiser4;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=REISER4
X-Kaisen-Package=kaisen-filesystems
