#!/usr/bin/env xdg-open

[Desktop Entry]
Name=arpwatch
Name[fr]=arpwatch
Comment=Tool for watching arp requests
Comment[fr]=Outil pour afficher les requêtes ARP
Exec=terminator -e "zsh -c 'sudo arpwatch --help;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=MAC
X-Kaisen-Package=arpwatch
