#!/usr/bin/env xdg-open

[Desktop Entry]
Name=avahi-enable
Name[fr]=avahi-activé
Comment=Enable avahi daemon
Comment[fr]=Activer service avahi
Exec=terminator -e "zsh -c '/opt/services/avahi-enable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SAvahi
X-Kaisen-Package=kaisen-services-management
