#!/usr/bin/env xdg-open

[Desktop Entry]
Name=xfsdump
Name[fr]=xfsdump
Comment=Tool for XFS partition
Comment[fr]=Outil pour partition XFS 
Exec=terminator -e "zsh -c 'sudo xfsdump;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=XFS
X-Kaisen-Package=kaisen-filesystems
