#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ntfsundelete
Name[fr]=ntfsundelete
Comment=Tool for NTFS partition
Comment[fr]=Outil pour partition NTFS
Exec=terminator -e "zsh -c 'sudo ntfsundelete;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NTFS
X-Kaisen-Package=kaisen-filesystems
