#!/usr/bin/env xdg-open

[Desktop Entry]
Name=shred
Name[fr]=shred
Comment=Tool for make securely delete in HDD 
Comment[fr]=Outil pour faire un effacement sécurisé sur un disque dur 
Exec=terminator -e "zsh -c 'shred --help;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Partitioning
