#!/usr/bin/env xdg-open

[Desktop Entry]
Name=cdpr
Name[fr]=cdpr
Comment=Tool for analyse packet Cisco
Comment[fr]=Outil pour analyser les paquets de Cisco
Exec=terminator -e "zsh -c 'sudo cdpr;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NetworkSecurity
X-Kaisen-Package=cdpr;kaisen-network-tools
