#!/usr/bin/env xdg-open

[Desktop Entry]
Name=sslsplit
Name[fr]=sslsplit
Comment=Tool for intercept SSL/TLS 
Comment[fr]=Outil pour intercepter SSL/TLS 
Exec=terminator -e "zsh -c 'sslsplit -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SSL
X-Kaisen-Package=sslsplit;kaisen-network-tools
