#!/usr/bin/env xdg-open

[Desktop Entry]
Name=scrounge-ntfs
Name[fr]=scrounge-ntfs
Comment=Tool for recovery datas on NTFS partitions
Comment[fr]=Outil de récupérations de données sur des partitions NTFS
Exec=terminator -e "zsh -c 'sudo scrounge-ntfs -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Recovery
X-Kaisen-Package=scrounge-ntfs;kaisen-data-recovery;kaisen-technicians-tools
