#!/usr/bin/env xdg-open

[Desktop Entry]
Name=clamav-daemon-enable
Name[fr]=clamav-daemon-activé
Comment= Enable clamav-daemon
Comment[fr]=Activer service clamav 
Exec=terminator -e "zsh -c '/opt/services/clamav-daemon-enable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SClamAV
X-Kaisen-Package=clamav;kaisen-services-management
