#!/usr/bin/env xdg-open

[Desktop Entry]
Name=cups-browsed-disable
Name[fr]=cups-browsed-désactivé
Comment=Disable cups-browsed
Comment[fr]=Désactiver cups-browsed
Exec=terminator -e "zsh -c '/opt/services/cups-browsed-enable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SCups
