#!/usr/bin/env xdg-open

[Desktop Entry]
Name=setserial-disable
Name[fr]=setserial-désactivé
Comment=Disable setserial daemon
Comment[fr]=Désactiver service setserial
Exec=terminator -e "zsh -c '/opt/services/setserial-disable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SSetSerial
X-Kaisen-Package=kaisen-services-management;setserial
