#!/usr/bin/env xdg-open

[Desktop Entry]
Name=stress
Name[fr]=stress
Comment=Tool for stress test hardware
Comment[fr]=Outil pour faire un stress test du matériel
Exec=terminator -e "zsh -c 'stress --help;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Hardware
X-Kaisen-Package=stress;kaisen-hardware;kaisen-technicians-tools
