#!/usr/bin/env xdg-open

[Desktop Entry]
Name=rfkill
Name[fr]=rfkill
Comment=Tool for enable or disable wifi networks
Comment[fr]=Outil pour activer ou désactiver des réseaux sans-fil
Exec=terminator -e "zsh -c 'sudo rfkill -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=WIFI
X-Kaisen-Package=rfkill;kaisen-network-tools
