#!/usr/bin/env xdg-open

[Desktop Entry]
Name=netperfmeter
Name[fr]=netperfmeter
Comment=Tool for analyse network performance
Comment[fr]=Outil pour analyser les performances réseau
Exec=terminator -e "zsh -c 'netperfmeter;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Monitoring
X-Kaisen-Package=netperfmeter;kaisen-network-tools
