#!/usr/bin/env xdg-open

[Desktop Entry]
Name=clamav-daemon-disable
Name[fr]=clamav-daemon-désactivé
Comment=Disable clamav daemon
Comment[fr]=Désactiver service clamav
Exec=terminator -e "zsh -c '/opt/services/clamav-daemon-disable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SClamAV
