#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ntp-enable
Name[fr]=ntp-activé
Comment=Enable ntp daemon
Comment[fr]=Activer service ntp
Exec=terminator -e "zsh -c '/opt/services/ntp-enable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SNTP
