#!/usr/bin/env xdg-open

[Desktop Entry]
Name=bettercap
Name[fr]=bettercap
Comment=Multipurpose Network sniffer/analyser/interceptor/logger
Comment[fr]=Sniffer/Analyser/Intercepteur/Logger Réseau
Exec=terminator -e "zsh -c 'sudo /opt/bettercap;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Scanner
