#!/usr/bin/env xdg-open

[Desktop Entry]
Name=dhcpdump
Name[fr]=dhcpdump
Comment=Tool for analyse dhcp 
Comment[fr]=Outil pour analyser le dhcp 
Exec=terminator -e "zsh -c 'sudo dhcpdump -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DHCP
