#!/usr/bin/env xdg-open

[Desktop Entry]
Name=rsync-enable
Name[fr]=rsync-activé
Comment=Enable rsync daemon
Comment[fr]=Activer service rsync
Exec=terminator -e "zsh -c '/opt/services/rsync-enable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SRsync
X-Kaisen-Package=rsync;kaisen-services-management
