#!/usr/bin/env xdg-open

[Desktop Entry]
Name=UNetbootin
Name[fr]=UNetbootin
Comment=Tool for create Linux USB bootable key
Comment[fr]=Outil pour créer des clés USB bootables Linux
Exec=sh -c "gksudo unetbootin"
Icon=unetbootin
Terminal=false
Type=Application
StartupNotify=true
Categories=USBBoot
