#!/usr/bin/env xdg-open

[Desktop Entry]
Name=macchanger
Name[fr]=macchanger
Comment=Tool for change your MAC address
Comment[fr]=Outil pour changer votre adresse MAC 
Exec=terminator -e "zsh -c 'sudo macchanger -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=MAC
X-Kaisen-Package=macchanger;kaisen-network-tools;
