#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ntp-disable
Name[fr]=ntp-désactivé
Comment=Disable ntp daemon
Comment[fr]=Désactiver service ntp
Exec=terminator -e "zsh -c '/opt/services/ntp-disable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SNTP
X-Kaisen-Package=kaisen-services-management;ntpdate;kaisen-network-tools
