#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ipcalc
Name[fr]=ipcalc
Comment=Tool for subnet calculator
Comment[fr]=Outil pour les masques de sous-réseaux
Exec=terminator -e "zsh -c 'ipcalc -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=IP
