[Desktop Entry]
Name=Keyboard
Name[af]=Sleutelbord
Name[am]=የፊደል ገበታ
Name[ar]=لوحة المفاتيح
Name[as]=চাবিৰ ফলক
Name[ast]=Tecláu
Name[az]=Klaviatura
Name[be]=Клавіятура
Name[bg]=Клавиатура
Name[bn]=কীবোর্ড
Name[bn_IN]=কি-বোর্ড
Name[br]=Klavier
Name[bs]=Tastatura
Name[ca]=Teclat
Name[ca@valencia]=Teclat
Name[cmn]=鍵盤
Name[crh]=Klavye
Name[cs]=Klávesnice
Name[cy]=Bysellfwrdd
Name[da]=Tastatur
Name[de]=Tastatur
Name[dz]=ལྡེ་སྒྲོམ།
Name[el]=Πληκτρολόγιο
Name[en_AU]=Keyboard
Name[en_CA]=Keyboard
Name[en_GB]=Keyboard
Name[eo]=Klavaro
Name[es]=Teclado
Name[es_CL]=Teclado
Name[et]=Klaviatuur
Name[eu]=Teklatua
Name[fa]=صفحه کلید
Name[fi]=Näppäimistö
Name[fr]=Clavier
Name[fy]=Toetseboerd
Name[ga]=Méarchlár
Name[gl]=Teclado
Name[gu]=કીબોર્ડ
Name[he]=מקלדת
Name[hi]=कुंजीपटल
Name[hr]=Tipkovnica
Name[hu]=Billentyűzet
Name[hy]=Ստեղնաշար
Name[id]=Papan Ketik
Name[is]=Lyklaborð
Name[it]=Tastiera
Name[ja]=キーボード
Name[ka]=კლავიატურა
Name[kk]=Пернетақта
Name[kn]=ಕೀಲಿಮಣೆ
Name[ko]=키보드
Name[ku]=Klavye
Name[ku_IQ]=تەختەکلیل
Name[ky]=Клавиатура
Name[lt]=Klaviatūra
Name[lv]=Tastatūra
Name[mai]=कुँजीपटल
Name[mg]=Fafan-teny
Name[mk]=Тастатура
Name[ml]=കീബോര്‍ഡ്
Name[mn]=Гар
Name[mr]=कळफलक
Name[ms]=Papan Kekunci
Name[nb]=Tastatur
Name[nds]=Knöppboord
Name[ne]=कुञ्जीपाटी
Name[nl]=Toetsenbord
Name[nn]=Tastatur
Name[nso]=Boroto ya dinotlelo
Name[oc]=Clavièr
Name[or]=କି-ବୋର୍ଡ
Name[pa]=ਕੀ-ਬੋਰਡ
Name[pl]=Klawiatura
Name[pt]=Teclado
Name[pt_BR]=Teclado
Name[ro]=Tastatură
Name[ru]=Клавиатура
Name[rw]=Mwandikisho
Name[sk]=Klávesnica
Name[sl]=Tipkovnica
Name[sq]=tastierë
Name[sr]=Тастатура
Name[sr@latin]=Tastatura
Name[sv]=Tangentbord
Name[ta]=விசைப்பலகை
Name[te]=కీబోర్డు
Name[th]=แป้นพิมพ์
Name[tr]=Klavye
Name[ug]=ھەرپ تاختا
Name[uk]=Набірниця
Name[ur]=کیبورڈ
Name[uz]=Klaviatura
Name[vi]=Bàn phím
Name[wa]=Taprece
Name[xh]=I-keyboard
Name[zh_CN]=键盘
Name[zh_HK]=鍵盤
Name[zh_TW]=鍵盤
Name[zu]=Indawo yokushaya uma ubhala
Comment=Set your keyboard preferences
Comment[af]=Stel die sleutelbordvoorkeure in
Comment[am]=የፊደል ገበታ ምርጫ ማሰናጃ 
Comment[ar]=اضبط خصائص لوحة مفاتيحك
Comment[as]=চাবিৰ ফলক সম্পৰ্কিত পছন্দ নিৰ্ধাৰণ কৰক
Comment[ast]=Afitar les preferencies de tecláu
Comment[az]=Klaviatura seçimlərinizi seçin
Comment[be]=Задаць настáўленні вашай клавіятуры
Comment[bg]=Настройки на клавиатурата
Comment[bn]=কীবোর্ড সম্পর্কিত পছন্দ নির্ধারণ করুন
Comment[bn_IN]=কি-বোর্ড সম্পর্কিত পছন্দ নির্ধারণ করুন
Comment[br]=Arventenniñ gwellvezioù ho klavier
Comment[bs]=Postavite vaše opcije za tastaturu
Comment[ca]=Establiu les preferències del vostre teclat
Comment[ca@valencia]=Establiu les preferències del teclat
Comment[cmn]=修改鍵盤偏好設定
Comment[crh]=Klavye tercihleriñizni tesbit etiñiz
Comment[cs]=Nastaví předvolby klávesnice
Comment[cy]=Gosodwch eich hoffterau bysellfwrdd
Comment[da]=Vælg indstillinger for tastaturet
Comment[de]=Die Tastatureinstellungen festlegen
Comment[dz]=ཁྱོད་རའི་ལྡེ་སྒྲོམ་གྱི་དགའ་གདམ་ཚུ་ གཞི་སྒྲིག་འབད།
Comment[el]=Καθορισμός των προτιμήσεων πληκτρολογίου
Comment[en_AU]=Set your keyboard preferences
Comment[en_CA]=Set your keyboard preferences
Comment[en_GB]=Set your keyboard preferences
Comment[es]=Establezca sus preferencias del teclado
Comment[et]=Klaviatuurieelistuste seadmine
Comment[eu]=Ezarri zure teklatuaren hobespenak
Comment[fa]=ترجیحات صفحه‌کلید خود را تنظیم کنید
Comment[fi]=Muuta näppäimistöasetuksia
Comment[fr]=Définir les paramètres de votre clavier
Comment[ga]=Socraigh do chuid sainroghanna an mhéarchláir
Comment[gl]=Estabeleza as súas preferencias do teclado
Comment[gu]=તમારા કીબોર્ડની પસંદગીઓ ગોઠવો
Comment[he]=הגדרת העדפות המקלדת שלך
Comment[hi]=कुंजी पटल की वरीयताएँ नियत करें
Comment[hr]=Postavi vlastite prilagodbe tipkovnice
Comment[hu]=Billentyűzet beállításai
Comment[hy]=Սահմանել ձեր ստեղնաշարի նախապատվությունները
Comment[id]=Atur preferensi papan tik Anda
Comment[is]=Stilltu lyklaborðið
Comment[it]=Imposta le preferenze della tastiera
Comment[ja]=お使いのキーボードを設定します
Comment[ka]=კლავიატურის პარამეტრების დაყენება
Comment[kk]=Пернетақта баптауларын орнатыңыз
Comment[kn]=ನಿಮ್ಮ ಕೀಲಿಮಣೆ ಆದ್ಯತೆಗಳನ್ನು ಹೊಂದಿಸಿ
Comment[ko]=키보드를 설정합니다
Comment[ku]=Tercîhên klavyeyê bike
Comment[ku_IQ]=دانانی هەڵبژاردنەکانی تەختەکلیلی خۆت
Comment[ky]=Клавиатура ырастоолоруңузду орнотуңуз
Comment[lt]=Keisti klaviatūros nustatymus
Comment[lv]=Mainīt tastatūras iestatījumus
Comment[mai]=कुँजी पटल क' वरीयतासभ नियत करू
Comment[mg]=Mamaritra ireo safidy manokan'ny fafan-teny
Comment[mk]=Поставете ги Вашите преференци за тастатурата
Comment[ml]=കീബോര്‍ഡ് മുന്‍ണനകള്‍ സജ്ജീകരിയ്ക്കുക
Comment[mn]=Өөрийн гарын тохируулгыг тогтоох
Comment[mr]=तुमच्या कळफलक पसंती निर्धारित करा
Comment[ms]=Tetapkan keutamaan papan kekunci anda
Comment[nb]=Sett dine brukervalg for tastatur
Comment[nds]=Knöppboordinstellens setten
Comment[ne]=तपाईँको कुञ्जीपाटी प्राथमिक्ताहरू सेट गर्नुहोस्
Comment[nl]=Uw toetsenbordvoorkeuren instellen
Comment[nn]=Sett opp instillingar for tastatur
Comment[nso]=Beakanya tše ratwago tša gago tša boroto ya dinotlelo
Comment[oc]=Definir los paramètres de vòstre clavièr
Comment[or]=ଆପଣଙ୍କର କିବୋର୍ଡ ପସନ୍ଦ ସ୍ଥିର କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਕੀ-ਬੋਰਡ ਪਸੰਦ ਦਿਓ
Comment[pl]=Ustawianie preferencji klawiatury
Comment[pt]=Defina as preferências do teclado
Comment[pt_BR]=Definir suas preferências de teclado
Comment[ro]=Schimbați opțiunile de tastare
Comment[ru]=Диалог настройки клавиатуры
Comment[sk]=Nastaviť vlastnosti klávesnice
Comment[sl]=Možnosti tipkovnice
Comment[sq]=Përcakton preferimet e tastierës
Comment[sr]=Подесите поставке тастатуре
Comment[sr@latin]=Podesite vašu tastaturu
Comment[sv]=Ställ in dina tangentbordsinställningar
Comment[ta]=உங்கள் விசைப்பலகை விருப்பங்களை அமைக்கவும்
Comment[te]=మీ కీబోర్డు అభీష్టాలను అమర్చుము
Comment[th]=ตั้งค่าสำหรับแป้นพิมพ์
Comment[tr]=Klavye tercihlerini yapın
Comment[ug]=ھەرپ تاختا مايىللىق تەڭشىكى
Comment[uk]=Встановити параметри набірниці
Comment[ur]=اپنے کیبورڈ کی ترجیحات مُتعین کریں
Comment[uz]=Klaviatura parametrlaringizni belgilang
Comment[vi]=Lập các tùy thích cho bàn phím của bạn
Comment[wa]=Defini vos preferinces pol taprece
Comment[xh]=Misela uluhlu lokukhetha lwe-keyboard
Comment[zh_CN]=设置键盘首选项
Comment[zh_HK]=修改鍵盤偏好設定
Comment[zh_TW]=修改鍵盤偏好設定
Comment[zu]=Hlela indawo zakho ozithandayo kwindawo yokushaya uma ubhala
Exec=mate-keyboard-properties
Icon=preferences-desktop-keyboard
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;HardwareSettings;
Keywords=mate-control-center;MATE;keyboard;preferences;
OnlyShowIn=MATE;
