[Desktop Entry]
Name=MATE Font Viewer
Name[am]=የ ሜት ፊደል መመልከቻ
Name[bg]=Преглед на шрифтове
Name[ca]=Visualitzador de lletres de MATE
Name[ca@valencia]=Visualitzador de tipus de lletra del MATE
Name[cs]=Prohlížeč písem MATE
Name[da]=MATE - skrifttypefremviser
Name[de]=MATE-Schriftanzeiger
Name[el]=Εφαρμογή προβολής γραμματοσειρών ΜΑΤΕ
Name[en_GB]=MATE Font Viewer
Name[es]=Visor de fuentes de MATE
Name[fi]=MATE Fonttikatselin
Name[fr]=Visionneuse de police MATE
Name[gl]=Visor de tipos de letra do MATE
Name[hr]=MATE preglednik fontova
Name[hu]=MATE Betűkészlet-megjelenítő
Name[id]=Penampil Fonta MATE
Name[it]=Visualizzatore di caratteri MATE
Name[ja]=MATE フォントビューアー
Name[kk]=MATE қаріптер көрсетушісі
Name[ko]=마테 글꼴 보기
Name[lt]=MATE šriftų žiūryklė
Name[ms]=Pelihat Fon MATE
Name[nb]=MATE skriftviser
Name[nl]=MATE Lettertypeweergave
Name[pl]=Przeglądarka czcionek MATE
Name[pt]=Visualizador de Fontes do MATE
Name[pt_BR]=Visualizador de Fontes do MATE
Name[ro]=Vizualizator de fonturi MATE
Name[ru]=Программа просмотра шрифтов MATE
Name[sk]=Prehliadač písiem MATE
Name[sl]=Pregledovalnik pisav MATE
Name[sr]=Мејтов прегледач фонтова
Name[sv]=MATE Typsnittsvisare
Name[tr]=MATE Yazıtipi Görüntüleyicisi
Name[uk]=Проґрама перегляду шрифтів МАТЕ
Name[zh_CN]=MATE 字体查看器
Name[zh_TW]=MATE 字型檢視器
Comment=View fonts on your system
Comment[am]=በ እርስዎ ስርአት ላይ ፊደሎች መመልከቻ
Comment[bg]=Преглед на шрифтовете в системата
Comment[ca]=Visualitzeu les lletres del vostre sistema
Comment[ca@valencia]=Visualitzeu els tipus de lletra del sistema
Comment[cs]=Zobrazte si písma ve svém systému
Comment[da]=Vis skrifttyper på dit system
Comment[de]=Schriften auf Ihrem System anzeigen
Comment[el]=Δείτε τις γραμματοσειρές του συστήματος σας
Comment[en_GB]=View fonts on your system
Comment[es]=Ver las fuentes en su sistema
Comment[fi]=Näytä järjestelmän fontit
Comment[fr]=Affiche les polices de votre système
Comment[gl]=Ver os tipos de letra no seu sistema
Comment[hr]=Pogledajte fontove u svom sustavu
Comment[hu]=A rendszer betűkészleteinek megtekintése
Comment[id]=Tilik fonta pada sistem Anda
Comment[it]=Visualizza caratteri nel tuo sistema
Comment[ja]=システム内にあるフォントを表示します
Comment[kk]=Жүйеңіздегі қаріптерді қарау
Comment[ko]=시스템에서 글꼴 보기
Comment[lt]=Žiūrėti šriftus jūsų sistemoje
Comment[ms]=Lihat fon dalam sistem anda
Comment[nb]=Vis skrifter på ditt system
Comment[nl]=Bekijk de lettertypes op uw systeem
Comment[pl]=Wyświetl zainstalowane czcionki
Comment[pt]=Ver tipos de letra no seu sistema
Comment[pt_BR]=Ver as fontes no seu sistema
Comment[ro]=Arată fonturile de pe sistem
Comment[ru]=Просмотр установленных в систему шрифтов
Comment[sk]=Zobrazuje písma vášho systému
Comment[sl]=Ogled pisav v sistemu
Comment[sr]=Прегледајте фонтове на вашем систему
Comment[sv]=Visa typsnitt på ditt system
Comment[tr]=Sisteminizdeki yazıtiplerini görüntüleyin
Comment[uk]=Перегляд шрифтів у Вашій системі  
Comment[zh_CN]=在您的系统上查看字体
Comment[zh_TW]=在您的系統上檢視字型
Icon=preferences-desktop-font
Exec=mate-font-viewer %u
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;
MimeType=application/x-font-ttf;application/x-font-pcf;application/x-font-type1;application/x-font-otf;
Keywords=mate-control-center;MATE;font;viewer;preview;desktop;preferences;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=gnome-font-viewer
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-OtherBinaries=gnome-thumbnail-font
X-MATE-Bugzilla-Version=1.20.4
