[Desktop Entry]
Name=MATE Search Tool
Name[am]=የ ሜት መፈለጊያ መሳሪያ
Name[ar]=أداة بحث متّة
Name[ast]=Ferramienta de gueta de MATE
Name[be]=Пошук файлаў MATE
Name[bg]=Инструмент за търсене на MATE
Name[br]=Benveg klask MATE
Name[ca]=Eina de cerca de MATE
Name[ca@valencia]=Eina de cerca del MATE
Name[cs]=Vyhledávání souborů pro MATE
Name[cy]=Teclyn chwilio MATE
Name[da]=MATE-søgeværktøj
Name[de]=MATE-Suchwerkzeug
Name[el]=Εργαλείο αναζήτησης MATE
Name[en_AU]=MATE Search Tool
Name[en_GB]=MATE Search Tool
Name[es]=Herramienta de búsqueda de MATE
Name[et]=MATE otsimisvahend
Name[fi]=MATE:n hakutyökalu
Name[fr]=Outil de recherche MATE
Name[gl]=Ferramenta de buscas do MATE
Name[he]=כלי החיפוש של MATE
Name[hu]=MATE keresőeszköz
Name[hy]=MATE Որոնման Գործիք
Name[id]=Alat Pencarian MATE
Name[it]=Strumento di ricerca di MATE
Name[ja]=MATE 検索ツール
Name[kk]=MATE іздеулер сайманы
Name[ko]=마테 검색 도구
Name[lt]=MATE paieškos įrankis
Name[lv]=MATE Meklēšanas Rīks
Name[ms]=Alat Gelintar MATE
Name[nb]=MATE søkeverktøy
Name[nl]=MATE Zoekprogramma
Name[pl]=Narzędzie wyszukiwania MATE
Name[pt]=Ferramenta de pesquisa do MATE
Name[pt_BR]=Ferramenta de Busca MATE
Name[ro]=Unealtă de căutare MATE
Name[ru]=Средство поиска MATE
Name[sk]=Vyhľadávací nástroj MATE
Name[sl]=MATE orodje za iskanje
Name[sr]=Мејтов алат претраге
Name[sv]=MATE Sökverktyg
Name[th]=เครื่องมือค้นหาของ MATE
Name[tr]=MATE Arama Aracı
Name[uk]=Знаряддя пошуку MATE
Name[uz]=MATE Qidiruv Vositasi
Name[zh_CN]=MATE 搜索工具
Name[zh_TW]=MATE 搜尋工具
Comment=Locate documents and folders on this computer by name or content
Comment[af]=Vind dokumente of gidse om die rekenaar volgens naam of inhoud
Comment[am]=ሰነዶች ወይንም ፎልደሮች በዚህ ኮምፒዩተር ውስጥ በ ስም ወይንም በ ይዞታ ፈልጎ ማግኛ
Comment[ar]=اعثر على المستندات و الملفات على هذا الحاسوب بالاسم أو المحتوى
Comment[as]=নাম বা অন্তৰ্ভুক্ত বিষয় অনুসাৰে এই কম্পিউটাৰে নথিপত্ৰ বা ফোল্ডাৰ অনুসন্ধান কৰক
Comment[ast]=Llocalice documentos y carpetes pol nome o conteníu nesti equipu
Comment[be]=Лакальныя дакументы і каталогі на гэтым камп'ютары паводле назвы ці змесціва
Comment[bg]=Намиране на документи и папки на този компютър по име или съдържание
Comment[bn]=নাম অথবা অন্তর্ভুক্ত বিষয় অনুসারে এই কম্পিউটারে ফাইল অথবা ফোল্ডার অনুসন্ধান করুন
Comment[bn_IN]=নাম অথবা অন্তর্ভুক্ত বিষয় অনুসারে এই কম্পিউটারে ফাইল অথবা ফোল্ডার অনুসন্ধান করুন
Comment[br]=Lec'hiaduriñ an teulioù hag an teuliadoù war an urzhiataer-mañ dre anv pe dre endalc'had
Comment[ca]=Localitzeu els documents i les carpetes en aquest ordinador pel nom o contingut
Comment[ca@valencia]=Localitzeu documents i carpetes en aquest ordinador pel nom o contingut
Comment[cmn]=以名稱或內容尋找此電腦中的文件及資料夾
Comment[crh]=Bu bilgisayardaki vesiqalarnı ve cilbentlerni isimge yaki mündericege köre qonumlandırıñız
Comment[cs]=Najít dokumenty a složky v tomto počítači podle jména nebo obsahu
Comment[cy]=Lleoli dogfennau neu blygellau ar y cyfrifiadur hwn yn ôl enw neu gynnwys
Comment[da]=Find dokumenter og mapper på denne computer ved navn eller indhold
Comment[de]=Dateien und Ordner, auf diesem Rechner, nach Namen oder Inhalt suchen
Comment[dz]=གློག་རིག་འདི་གུ་ཡོད་པའི་ ཡིག་ཆ་དང་སྣོད་འཛིན་ཚུ་ མིང་གི་ཐོག་ལས་ ཡང་ན་ ནང་དོན་གྱི་ཐོག་ལས་ ག་ཡོད་འཚོལ།
Comment[el]=Εντοπισμός εγγράφων και φακέλων σε αυτό τον υπολογιστή με βάση το όνομα ή το περιεχόμενο
Comment[en_AU]=Locate documents and folders on this computer by name or content
Comment[en_CA]=Locate documents and folders on this computer by name or content
Comment[en_GB]=Locate documents and folders on this computer by name or content
Comment[eo]=Trovi dokumentojn kaj dosierujojn en ĉi tiu komputilo laŭ nomo aŭ enhavo
Comment[es]=Encuentre documentos y carpetas en este equipo por nombre o por contenido
Comment[es_CO]=Buscar documentos y carpetas en este equipo por nombre o contenido
Comment[et]=Arvutis asuvate dokumentide ja kaustade otsimine nime või sisu järgi
Comment[eu]=Lokalizatu dokumentuak eta karpetak ordenagailu honetan izen edo edukiaren arabera
Comment[fa]=پیدا کردن نوشتارها و پوشه‌های موجود در این کامپیوتر با استفاده از نام یا محتوای آنها
Comment[fi]=Etsi asiakirjoja tai kansioita tietokoneelta nimen tai sisällön perusteella
Comment[fr]=Localiser les documents et dossiers de cet ordinateur par leur nom ou leur contenu
Comment[fur]=Beche documents e cartelis su chest computer par nom o par contignût
Comment[fy]=Dokuminten en mappen op dizze kompjûter fine mei namme or ynhâld
Comment[ga]=Aimsigh cáipéisí agus fillteáin ar an ríomhaire seo trí ainm nó ábhar
Comment[gl]=Localizar documentos e cartafoles neste computador por nome ou por contido
Comment[gu]=આ કમ્પ્યૂટર પર નામ અથવા સમાવિષ્ટ દ્વારા દસ્તાવેજો અને ફોલ્ડરો સ્થિત કરો
Comment[he]=איתור מסמכים ותיקיות במחשב זה על פי שם או תוכן
Comment[hi]=नाम व सामग्री के आधार पर इस कंप्यूटर पर दस्तावेज व फोल्डर लोकेट करें
Comment[hr]=Pronalazi zapise i mape u ovom računalu po nazivu ili sadržaju
Comment[hu]=Dokumentumok és mappák keresése név vagy tartalom szerint a számítógépen
Comment[hy]=Դասավորել փաստաթղթերն ու պանակները ըստ անվան կամ պարունակության
Comment[id]=Tentukan lokasi dokumen atau folder pada komputer ini sesuai nama ataupun isinya
Comment[is]=Staðsetja skrár og möppur á þessari tölvu eftir nafni eða innihaldi
Comment[it]=Individua documenti e cartelle in questo computer per nome o contenuto
Comment[ja]=このコンピュータから名前や内容でドキュメントとフォルダーを特定します
Comment[ka]=ფაილების და დასტების სახელის ან შინაარსი მიხედვით მოძებნა
Comment[kk]=Бұл компьютердегі құжаттар және бумаларды атауы бойынша іздеу
Comment[kn]=ಹೆಸರು ಅಥವ ವಿಷಯಗಳ ಆಧಾರದ ಮೇಲೆ ಈ ಗಣಕ ಯಂತ್ರದಲ್ಲಿನ ದಸ್ತಾವೇಜುಗಳನ್ನು ಮತ್ತು ಕಡತಕೋಶಗಳನ್ನು ಹುಡುಕಿ
Comment[ko]=이 컴퓨터의 문서나 폴더를 이름이나 내용으로 찾습니다
Comment[ky]=Бул компьютерден аты же мазмуну боюнча иш кагаздарды жана папкаларды табуу
Comment[lt]=Rasti kompiuteryje esančius dokumentus pagal pavadinimą ar turinį
Comment[lv]=Meklē datorā mapes un failus pēc to nosaukumiem un satura
Comment[mai]=नाम आ सामग्री क' आधार पर एहि कंप्यूटर पर दस्ताबेज आ फोल्डर लोकेट करू
Comment[mg]=Hitady tahirin-kevitra sy laha-tahiry araka ny anarany na ny mpiatiny anatin'ity solosaina ity
Comment[mk]=Лоцирај ги документите и папките на овој компјутер по име или содржина
Comment[ml]=പേരു് അല്ലെങ്കില്‍ ഉള്ളടക്കമനുസരിച്ചു് ഈ കമ്പ്യൂട്ടറില്‍ വിവരണങ്ങള്‍ അല്ലെങ്കില്‍ ഫോള്‍ഡറുകള്‍ കണ്ടുപിടിക്കുക
Comment[mr]=या संगणकावरील दस्तऐवज व फोल्डर नाव विषयसूचीनुरूप शोधा
Comment[ms]=Cari dokumen dan folder pada komputer ini berdasarkan nama atau kandungan
Comment[nb]=Finn dokumenter og mapper på denne datamaskinen etter navn eller innhold
Comment[ne]=यस कम्प्युटरमा नाम वा सामाग्री अनुरूप कागजात र फोल्डर स्थापना गर्नुहोस्
Comment[nl]=Zoek documenten en mappen op deze computer op naam of inhoud
Comment[nn]=Finn dokument og mapper på denne datamaskinen etter namn eller innhald
Comment[oc]=Localizar de documents e de repertòris sus aqueste ordenador per nom o per contengut
Comment[or]=ନାମ କିମ୍ବା ସୂଚୀ ଅନୁସାରେ ଏହି କମ୍ପୁଟରରେ ଦଲିଲ ଏବଂ ଫୋଲଡର୍ ମାନଙ୍କର ଅବସ୍ଥିତି ନିର୍ଣ୍ଣୟ କରନ୍ତୁ
Comment[pa]=ਇਹ ਕੰਪਿਊਟਰ ਉੱਤੇ ਦਸਤਾਵੇਜ਼ ਅਤੇ ਫੋਲਡਰਾਂ ਨੂੰ ਨਾਂ ਜਾਂ ਪਰਸੰਗ ਮੁਤਾਬਕ ਲੱਭੋ
Comment[pl]=Wyszukuje dokumenty i katalogi na komputerze po nazwie lub treści
Comment[ps]=په دې سولګر کښې لاسوندونه او پوښۍ په نوم يا منځپانګې وځاييزوﺉ
Comment[pt]=Localizar documentos e pastas neste computador por nome ou conteúdo
Comment[pt_BR]=Localizar documentos e pastas neste computador por nome ou conteúdo
Comment[ro]=Găsiți documente și dosare pe acest calculator după nume sau conținut
Comment[ru]=Искать документы и папки на этом компьютере по имени или по содержанию
Comment[si]=නමින් හෝ අන්තර්ගතයෙන් ලේඛන හෝ බහලුම් පිහිටුම් සොයාගන්න
Comment[sk]=Vyhľadať dokumenty a priečinky na tomto počítači podľa názvu alebo obsahu
Comment[sl]=Krajevno iskanje dokumentov in map po imenu ali vsebini
Comment[sq]=Gjej dokumenta dhe dosje në këtë kompjuter me anë të emrit apo përmbajtjes
Comment[sr]=Пронађите документа и фасцикле на овом рачунару према називу или садржају
Comment[sr@latin]=Pronaći dokumente ili direktorijume na računaru pomiću imena ili sadržaja
Comment[sv]=Lokalisera dokument och mappar på denna dator efter namn eller innehåll
Comment[ta]=இந்த கணினியில் உள்ள ஆவணங்கள் அல்லது அடைவுகளை பெயராலோ உள்ளடக்கத்தாலோ கண்டுபிடிக்கவும்
Comment[te]=నామము లేదా సారముల ద్వారా పత్రములను మరియు సంచయాలను ఈ కంప్యూటర్ లో గుర్తించండి
Comment[th]=ค้นหาเอกสารและโฟลเดอร์ในคอมพิวเตอร์นี้ด้วยชื่อหรือเนื้อหา
Comment[tr]=Bu bilgisayardaki belgeleri ve dizinleri ismi ya da içeriği ile konumlandırın
Comment[ug]=بۇ كومپيۇتېردىكى پۈتۈك ۋە قىسقۇچلارنى ئاتى ياكى مەزمۇنى بويىچە ئورۇن بېكىتىدۇ
Comment[uk]=Шукати документи та теки на цьому комп'ютері за назвою чи вмістом
Comment[ur]=نام یا مواد سے اس کمپیوٹر میں دستاویزات اور فولڈر تلاش کریں
Comment[uz]=Ushbu kompyuterdagi jildlar va hujjatlarni nomi yoki tarkibi boʻyicha joylashtirish
Comment[vi]=Trên máy tính này, tìm tài liệu và thư mục theo tên hay nội dung
Comment[zh_CN]=按照名称或内容定位此计算机中的文档和文件夹
Comment[zh_HK]=以名稱或內容尋找此電腦中的文件及資料夾
Comment[zh_TW]=以名稱或內容尋找此電腦中的文件及資料夾
Exec=mate-search-tool
Icon=system-search
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;Core;
Keywords=MATE;search;files;locate;documents;folders;computer;name;content;find;tool;
OnlyShowIn=MATE;
X-MATE-DocPath=mate-search-tool/mate-search-tool.xml
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-utils
X-MATE-Bugzilla-Component=gsearchtool
