[Desktop Entry]
Name=Windows
Name[af]=Werks area
Name[am]=መስኮቶች
Name[ar]=النوافذ
Name[as]=সংযোগক্ষেত্ৰ
Name[ast]=Ventanes
Name[az]=Pəncərələr
Name[be]=Вокны
Name[bg]=Прозорци
Name[bn]=উইন্ডোসমূহ
Name[bn_IN]=উইন্ডো
Name[br]=Windows
Name[bs]=Windows
Name[ca]=Finestres
Name[ca@valencia]=Finestres
Name[cmn]=Windows
Name[crh]=Pencereler
Name[cs]=Okna
Name[csb]=Òkna
Name[cy]=Windows
Name[da]=Vinduer
Name[de]=Fenster
Name[dz]=སྒོ་སྒྲིག་ཚུ།
Name[el]=Παράθυρα
Name[en_AU]=Windows
Name[en_CA]=Windows
Name[en_GB]=Windows
Name[eo]=Fenestroj
Name[es]=Ventanas
Name[es_AR]=Windows
Name[et]=Aknad
Name[eu]=Leihoak
Name[fa]=پنجره‌ها
Name[fi]=Ikkunat
Name[fo]=Gluggar
Name[fr]=Fenêtres
Name[fr_CA]=Fenêtres
Name[ga]=Fuinneoga
Name[gd]=Uinneagan
Name[gl]=Xanelas
Name[gu]=વિન્ડો
Name[he]=חלונות
Name[hi]=विंडोज
Name[hr]=Prozori
Name[hu]=Ablakok
Name[hy]=Windows
Name[ia]=Fenestras
Name[id]=Jendela
Name[is]=Windows
Name[it]=Finestre
Name[ja]=ウィンドウ
Name[jv]=Jendhela
Name[ka]=ფანჯრები
Name[kk]=Терезелер
Name[km]=បង្អួច
Name[kn]=ಕಿಟಕಿಗಳು
Name[ko]=창
Name[ku]=Windows
Name[ku_IQ]=پەنجەرە
Name[ky]=Терезелер
Name[lb]=Fënsteren
Name[lo]=ປ່ອງຢ້ຽນ
Name[lt]=Langai
Name[lv]=Logi
Name[mai]=विंडोज़
Name[mg]=Windows
Name[mk]=Прозорци
Name[ml]=ജാലകങ്ങള്‍
Name[mn]=Цонх
Name[mr]=विंडोज
Name[ms]=Tetingkap
Name[nb]=Vinduer
Name[nds]=Fenster
Name[ne]=विन्डोज
Name[nl]=Vensters
Name[nn]=Vindauge
Name[nso]=Mafesetere
Name[oc]=Fenèstras
Name[om]=Foddaalee
Name[or]=ୱିଣ୍ଡୋ
Name[pa]=ਵਿੰਡੋ
Name[pl]=Okna
Name[pms]=Windows
Name[pt]=Janelas
Name[pt_BR]=Janelas
Name[ro]=Ferestre
Name[ru]=Окна
Name[si]=කවුළු
Name[sk]=Okná
Name[sl]=Okna
Name[so]=Shaashadda
Name[sq]=Windows
Name[sr]=Прозори
Name[sr@latin]=Prozori
Name[sv]=Fönster
Name[ta]=சாளரங்கள்
Name[te]=విండోలు
Name[tg]=Равзанаҳо
Name[th]=หน้าต่าง
Name[tl]=Mga Window
Name[tr]=Pencereler
Name[ug]=كۆزنەكلەر
Name[uk]=Вікна
Name[ur]=ونڈوز
Name[uz]=Oynalar
Name[vi]=Cửa sổ
Name[wa]=Purneas
Name[xh]=U-Windows
Name[yi]=פֿענסטערס
Name[zh_CN]=窗口
Name[zh_HK]=視窗
Name[zh_TW]=視窗
Name[zu]=Windows
Comment=Set your window properties
Comment[af]=Stel die venster-eienskappe
Comment[am]=የመስኮት ባህሪዎች ማሰናጃ
Comment[ar]=اضبط خصائص نافذتك
Comment[as]=সংযোগক্ষেত্ৰৰ বৈশিষ্ট্য নিৰ্ধাৰণ কৰক
Comment[ast]=Afitar les propiedaes de les ventanes
Comment[be]=Задаць уласцівасці акна
Comment[bg]=Задаване на настройки за прозореца ви
Comment[bn]=উইন্ডোর বৈশিষ্ট্য নির্ধারণ করুন
Comment[bn_IN]=উইন্ডোর বৈশিষ্ট্য নির্ধারণ করুন
Comment[br]=Lakait ho perzhioù prenestr
Comment[ca]=Establiu les propietats de les finestres
Comment[ca@valencia]=Establiu les propietats de les finestres
Comment[cmn]=設定視窗屬性
Comment[crh]=Pencere özelliklerinizi ayarlayın
Comment[cs]=Nastaví vlastnosti oken
Comment[cy]=Gosod eich priodweddau ffenestr
Comment[da]=Konfigurer egenskaber for dine vinduer
Comment[de]=Einstellen des Fensterverhaltens
Comment[dz]=ཁྱོད་རའི་སྒོ་སྒྲིག་གི་རྒྱུ་དངོས་ཚུ་ གཞི་སྒྲིག་འབད།
Comment[el]=Καθορισμός ιδιοτήτων παραθύρων
Comment[en_AU]=Set your window properties
Comment[en_CA]=Set your window properties
Comment[en_GB]=Set your window properties
Comment[es]=Establezca sus propiedades de ventana
Comment[et]=Akende omaduste seadmine
Comment[eu]=Leihoaren propietateak ezartzen ditu
Comment[fa]=ویژگی‌های پنجره‌ی خود را تنظیم کنید
Comment[fi]=Muuta ikkunaominaisuuksia
Comment[fr]=Définir vos propriétés de fenêtres
Comment[ga]=Socraigh d'airíonna fuinneog
Comment[gl]=Estabelecer as propiedades das xanelas
Comment[gu]=તમારી વિન્ડોના ગુણધર્મો સુયોજિત કરો
Comment[he]=הגדרת מאפייני חלונות
Comment[hi]=अपना विंडो गुण सेट करें
Comment[hr]=Postavi vlastita svojstva prozora
Comment[hu]=Az ablakok tulajdonságainak beállítása
Comment[hy]=Սահմանել ձեր պատուհանի հատկությունները
Comment[id]=Atur properti jendela Anda
Comment[is]=Breyta því hvernig gluggarnir haga sér
Comment[it]=Imposta le proprietà delle finestre
Comment[ja]=ウィンドウのプロパティを設定します
Comment[ka]=თქვენი ფანჯრის პარამეტრების მითითება
Comment[kk]=Терезе баптауларын орнату
Comment[kn]=ನಿಮ್ಮ ವಿಂಡೊ ಗುಣಲಕ್ಷಣಗಳನ್ನು ಹೊಂದಿಸಿ
Comment[ko]=창 속성을 설정합니다
Comment[ku]=Taybetiyên paceyên xwe mîheng bike
Comment[lt]=Nustatyti langų ypatybes
Comment[lv]=Iestatīt loga īpašības
Comment[mai]=अपन विंडो गुण सेट करू
Comment[mg]=Mamaritra ny toetoetry ny fikandranao
Comment[mk]=Поставете ги својствата за прозорците
Comment[ml]=നിങ്ങളുടെ ജാലകത്തിന്റെ വിശേഷതകള്‍ സജ്ജീകരിയ്ക്കുക
Comment[mn]=Цонхны тохируулгыг хийх
Comment[mr]=पटल
Comment[ms]=Tetapkan sifat tetingkap anda
Comment[nb]=Egenskaper for vinduer
Comment[ne]=तपाईँको सञ्झ्यालको गुणहरू सेट गर्नुहोस्
Comment[nl]=Venstereigenschappen instellen
Comment[nn]=Vel vindaugseigenskapar
Comment[or]=ଆପଣଙ୍କର ଉଇଣ୍ଡୋ ବିଶେଷତାଗୁଡିକୁ ସ୍ଥିର କର
Comment[pa]=ਆਪਣੀ ਵਿੰਡੋ ਵਿਸ਼ੇਸ਼ਤਾ ਦਿਓ
Comment[pl]=Ustawianie właściwości okien
Comment[pt]=Defina as propriedades da janela
Comment[pt_BR]=Defina suas propriedades de janela
Comment[ro]=Definiți proprietățile ferestrelor
Comment[ru]=Диалог настройки свойств окон
Comment[sk]=Nastavuje vaše vlastnosti okien
Comment[sl]=Nastavite lastnosti oken
Comment[sq]=Përcakton pronësitë e dritareve
Comment[sr]=Подесите својства прозора
Comment[sr@latin]=Podesite osobine za prozore
Comment[sv]=Ställ in dina fönsteregenskaper
Comment[ta]=உங்கள் சாளர பண்புகளை அமைக்கவும்
Comment[te]=మీ విండో లక్షణాలను అమర్చుము
Comment[th]=ตั้งค่าระบบหน้าต่างของคุณ
Comment[tr]=Pencere özelliklerinizi ayarlayın
Comment[ug]=كۆزنەك خاسلىق تەڭشىكى
Comment[uk]=Налаштовування параметрів вікон
Comment[ur]=اپنے دریچے کی خصوصیات مُتعین کریں
Comment[uz]=Oyna moslamalarini oʻrnatish
Comment[vi]=Đặt thuộc tính cửa sổ
Comment[xh]=Misela iimpawu zefestile yakho
Comment[zh_CN]=设定您的窗口属性
Comment[zh_HK]=設定視窗屬性
Comment[zh_TW]=設定視窗屬性
Exec=mate-window-properties
Icon=preferences-system-windows
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;DesktopSettings;
Keywords=mate-control-center;MATE;window;manager;properties;marco;preferences;
OnlyShowIn=MATE;
