[Desktop Entry]
Name=Sound
Name[af]=Klank
Name[am]=ድምፅ 
Name[ar]=الصوت
Name[as]=ধ্বনি 
Name[ast]=Soníu
Name[az]=Səs
Name[be]=Гук
Name[bg]=Звук
Name[bn]=শব্দ
Name[bn_IN]=শব্দ
Name[br]=Son
Name[bs]=Zvuk
Name[ca]=So
Name[ca@valencia]=So
Name[cmn]=Sound
Name[crh]=Ses
Name[cs]=Zvuk
Name[cy]=Sain
Name[da]=Lyd
Name[de]=Klang
Name[dz]=སྒྲ་སྐད།
Name[el]=Ήχος
Name[en_AU]=Sound
Name[en_CA]=Sound
Name[en_GB]=Sound
Name[eo]=Sono
Name[es]=Sonido
Name[es_AR]=Sonido
Name[es_CO]=Sonido
Name[es_PR]=Sonido
Name[et]=Heli
Name[eu]=Soinua
Name[fa]=صدا
Name[fi]=Äänet
Name[fr]=Son
Name[fr_CA]=Son
Name[frp]=Son
Name[ga]=Fuaim
Name[gl]=Son
Name[gu]=સાઉન્ડ
Name[he]=קול
Name[hi]=ध्वनि
Name[hr]=Zvuk
Name[hu]=Hang
Name[hy]=Ձայն
Name[id]=Suara
Name[is]=Hljóð
Name[it]=Audio
Name[ja]=サウンド
Name[jv]=Swara
Name[ka]=ხმა
Name[kab]=Imesli
Name[kk]=Дыбыс
Name[kn]=ಧ್ವನಿ
Name[ko]=사운드
Name[ku]=Deng
Name[ku_IQ]=دەنگ
Name[ky]=Үн
Name[la]=Sonus
Name[lt]=Garsas
Name[lv]=Skaņa
Name[mai]=ध्वनि
Name[mg]=Feo
Name[mk]=Звук
Name[ml]=ശബ്ദം
Name[mn]=Аудио
Name[mr]=आवाज
Name[ms]=Bunyi
Name[nb]=Lyd
Name[nds]=Ton
Name[ne]=ध्वनि
Name[nl]=Geluid
Name[nn]=Lyd
Name[nso]=Modumo
Name[oc]=Son
Name[or]=ଶବ୍ଦ
Name[pa]=ਸਾਊਂਡ
Name[pl]=Dźwięk
Name[ps]=غږ
Name[pt]=Som
Name[pt_BR]=Som
Name[ro]=Sunet
Name[ru]=Звук
Name[rw]=Ijwi
Name[sc]=Sonu
Name[si]=ශබ්දය
Name[sk]=Zvuk
Name[sl]=Zvok
Name[sq]=Zëri
Name[sr]=Звук
Name[sr@latin]=Zvuk
Name[sv]=Ljud
Name[ta]=ஒலியளவு
Name[te]=శబ్ధము
Name[th]=เสียง
Name[tr]=Ses
Name[ug]=ئاۋاز
Name[uk]=Звук
Name[ur]=آواز
Name[uz]=Ovoz
Name[vi]=Âm thanh
Name[wa]=Son
Name[xh]=Isandi
Name[zh_CN]=声音
Name[zh_HK]=聲音
Name[zh_TW]=聲音
Name[zu]=Umsindo
Comment=Change sound volume and sound events
Comment[af]=Verander klankvolume en klankgebeure
Comment[am]=የ ድምፅ መጠን እና የ ድምፅ ሁኔታዎችን መቀየሪያ
Comment[ar]=غيّر شدة الصوت و أصوات الأحداث
Comment[as]=শব্দৰ মাত্ৰা o নিৰ্দিষ্ট ঘটনাৰ সৈতে যুক্ত শব্দ পৰিবৰ্তন কৰক
Comment[ast]=Camudar el volume del soníu y los eventos de soníu
Comment[be]=Кіраваць гучнасцю сістэмы і гукавымі падзеямі
Comment[bg]=Промяна на силата на звука и звуците свързани със събития
Comment[bn]=ভলিউম পরিবর্তন করুন ও নির্দিষ্ট ঘটনার সাথে শব্দ যুক্ত করুন
Comment[bn_IN]=শব্দের মাত্রা o নির্দিষ্ট ঘটনার সাথে যুক্ত শব্দ পরিবর্তন করুন
Comment[br]=Kemmañ tregern ar son ha sonioù ar degouezhioù
Comment[ca]=Canvieu el volum del so i els sons dels esdeveniments
Comment[ca@valencia]=Canvieu el volum del so i els sons dels esdeveniments
Comment[cmn]=改變音效的音量和音效事件
Comment[cs]=Změní hlasitost zvuku a přiřadí zvuky k událostem
Comment[da]=Skift lydstyrke og lydbegivenheder
Comment[de]=Lautstärke und Ereignissenklänge ändern
Comment[el]=Αλλαγή έντασης ήχου και ηχητικών γεγονότων
Comment[en_AU]=Change sound volume and sound events
Comment[en_GB]=Change sound volume and sound events
Comment[es]=Cambiar el volumen y los eventos de sonido
Comment[et]=Helitugevuse muutmine ja sündmuste jaoks helide määramine
Comment[eu]=Aldatu soinuaren bolumena eta soinuaren gertaerak
Comment[fi]=Muuta äänenvoimakkuutta ja äänitapahtumia
Comment[fr]=Modifier le volume et des événements sonores
Comment[ga]=Athraigh airde agus teagmhais fuaime
Comment[gl]=Modificar o volume do son e asociar sons a eventos
Comment[gu]=સાઉન્ડ વોલ્યુમ અને સાઉન્ડ ઘટનાઓને બદલો
Comment[he]=שינוי עצמת השמע והצלילים המשויכים לאירועים
Comment[hi]=ध्वनि आवाज और ध्वनि घटना बदलें
Comment[hr]=Promijeni glasnoću zvuka i zvučne događaje
Comment[hu]=Hangerő és hangesemények módosítása
Comment[hy]=Փոխել ձայնայնի ուժգնությունը  և ձայնային իրադարձությունները
Comment[id]=Ubah volume suara dan peristiwa suara
Comment[it]=Regola il volume dei suoni e i suoni associati agli eventi
Comment[ja]=音量や音のイベントを変更します
Comment[jv]=Ngowahi volume swara lan prastawa swara
Comment[kn]=ಧ್ವನಿಯ ಪ್ರಮಾಣ ಹಾಗು ಧ್ವನಿಗಳನ್ನು ಸನ್ನಿವೇಶಗಳನ್ನು ಬದಲಾಯಿಸಿ
Comment[ko]=사운드 볼륨과 사운드 이벤트를 바꿉니다
Comment[ky]=Үн көлөмүн жана үн окуяларын өзгөртүү
Comment[lt]=Keisti garsį ir susieti garsus su įvykiais
Comment[lv]=Mainīt skaņas līmeni un skaņas dažādiem notikumiem
Comment[ml]=ശബ്ദ വോള്യമും ശബ്ദ ഇവന്റുകളും മാറ്റുക
Comment[mr]=आवाज ध्वनिमान व आवाज घटना बदलवा
Comment[ms]=Ubah volum bunyi dan peristiwa bunyi
Comment[nb]=Endre volum og tilegne lyder til hendelser
Comment[nl]=Geluidsvolume en systeemgeluiden wijzigen
Comment[nn]=Endra lydvolum og lydar til hendingar
Comment[or]=ଧ୍ୱନି ପ୍ରବଳତା ଏବଂ ଧ୍ୱନି ଘଟଣାଗୁଡ଼ିକ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਸਾਊਂਡ ਵਾਲੀਅਮ ਅਤੇ ਸਾਊਂਡ ਈਵੈਂਟ ਬਦਲੋ
Comment[pl]=Zmiana głośności dźwięku i dźwięków zdarzeń
Comment[pt]=Alterar volume do sistema e sons de eventos
Comment[pt_BR]=Alterar volume do áudio e sons de eventos
Comment[ro]=Schimbă volumul sunetului și sunetele evenimentelor
Comment[ru]=Изменить громкость звука и связать звуки с событиями рабочего стола
Comment[sc]=Muda volùmene e eventos de su sonu
Comment[sk]=Zmení hlasitosť zvuku a priradí zvuky k udalostiam
Comment[sl]=Spreminjanje glasnosti zvoka in zvočni dogodki
Comment[sr]=Измените јачину звука и догађаје звука
Comment[sr@latin]=Menja jačinu zvuka i dodeljuje zvuke događajima
Comment[sv]=Ändra ljudvolym och ljudhändelser
Comment[ta]=ஒலியளவு மற்றும்  ஒலி நிகழ்வுகளை மாற்று
Comment[te]=శబ్దపు ఘటనలను మరియు శబ్ధపు ధ్వనిని మార్చుము
Comment[th]=ปรับความดังของเสียงและตั้งเสียงของเหตุการณ์ต่างๆ
Comment[tr]=Ses seviyesini ve olay seslerini değiştir
Comment[ug]=ئاۋاز مىقدارى ۋە ئاۋاز ھادىسىسى ئۆزگەرت
Comment[uk]=Зміна гучности звуку та прив'язка звуків до подій
Comment[ur]=آواز اور اس کی کیفیتیں بدلیں
Comment[vi]=Thay đổi âm lượng và âm thanh của sự kiện
Comment[zh_CN]=更改音量以及将声音与事件关联
Comment[zh_HK]=改變音效的音量和音效事件
Comment[zh_TW]=改變音效的音量和音效事件
Exec=mate-volume-control
Icon=multimedia-volume-control
Terminal=false
Type=Application
StartupNotify=true
Categories=AudioVideo;Mixer;Settings;HardwareSettings;
Keywords=MATE;volume;control;mixer;settings;sound;events;
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-media
X-MATE-Bugzilla-Component=mate-volume-control
X-MATE-Bugzilla-Version=1.20.2
