[Desktop Entry]
Name=Network
Name[af]=Netwerk
Name[am]=ኔትዎርክ:
Name[ar]=الشبكة
Name[as]=নেটৱৰ্ক
Name[ast]=Rede
Name[az]=Şəbəkə
Name[be]=Сетка
Name[bg]=Мрежа
Name[bn]=নেটওয়ার্ক
Name[bn_IN]=নেটওয়ার্ক
Name[br]=Rouedad
Name[bs]=Mreža
Name[ca]=Xarxa
Name[ca@valencia]=Xarxa
Name[cmn]=網路
Name[crh]=Ağ
Name[cs]=Síť
Name[cy]=Rhwydwaith
Name[da]=Netværk
Name[de]=Netzwerk
Name[dz]=ཡོངས་འབྲེལ་
Name[el]=Δίκτυο
Name[en_AU]=Network
Name[en_CA]=Network
Name[en_GB]=Network
Name[eo]=Reto
Name[es]=Red
Name[es_AR]=Red
Name[es_CL]=Red
Name[es_CO]=Red
Name[es_ES]=Red
Name[es_MX]=Red
Name[es_PR]=Red
Name[et]=Võrk
Name[eu]=Sarea
Name[fa]=شبکه
Name[fi]=Verkko
Name[fr]=Réseau
Name[frp]=Baranye
Name[fur]=Rêt
Name[fy]=Netwurk
Name[ga]=Líonra
Name[gl]=Rede
Name[gu]=નેટવર્ક
Name[ha]=Mahaɗar Sadarwa
Name[he]=רשת
Name[hi]=संजाल
Name[hr]=Mreža
Name[hu]=Hálózat
Name[hy]=Ցանց
Name[ia]=Rete
Name[id]=Jaringan
Name[ig]=Ikukumgbasaozi
Name[is]=Netkerfi
Name[it]=Rete
Name[ja]=ネットワーク
Name[ka]=ქსელი
Name[kk]=Желі
Name[kn]=ಜಾಲಬಂಧ
Name[ko]=네트워크
Name[ku]=Tor
Name[ku_IQ]=ڕایەڵە
Name[ky]=Тармак
Name[la]=Reticulum
Name[lt]=Tinklas
Name[lv]=Tīkls
Name[mai]=नेटवर्क
Name[mg]=Rezo
Name[mi]=Kōtuitui
Name[mk]=Мрежа
Name[ml]=നെറ്റ്‌വർക്ക്
Name[mn]=Сүлжээ
Name[mr]=नेटवर्क
Name[ms]=Rangkaian
Name[nb]=Nettverk
Name[nds]=Netzwerk
Name[ne]=नेटवर्क,संजाल
Name[nl]=Netwerk
Name[nn]=Nettverk
Name[nso]=Neteweke
Name[oc]=Ret
Name[or]=ନେଟୱାର୍କ
Name[pa]=ਨੈੱਟਵਰਕ
Name[pl]=Sieć
Name[pms]=Network
Name[ps]=ځال
Name[pt]=Rede
Name[pt_BR]=Rede
Name[ro]=Rețea
Name[ru]=Сеть
Name[rw]=urusobe
Name[si]=ජාලය
Name[sk]=Sieť
Name[sl]=Omrežje
Name[sq]=Rrjeti
Name[sr]=Мрежа
Name[sr@latin]=Mreža
Name[sv]=Nätverk
Name[ta]=பிணையம்
Name[te]=నెట్‌వర్క్
Name[th]=เครือข่าย
Name[tk]=Şebeke
Name[tr]=Ağ
Name[ug]=تور
Name[uk]=Мережа
Name[ur]=نیٹ ورک
Name[uz]=Tarmoq
Name[vi]=Mạng
Name[wa]=Rantoele
Name[xh]=Uthungelwane
Name[yo]=Alátagbà
Name[zh_CN]=网络
Name[zh_HK]=網絡
Name[zh_TW]=網路
Name[zu]=Ulwembu
Comment=Browse bookmarked and local network locations
Comment[am]=ምልክት የተደረገባቸው እና የ ኔትዎርክ አካባቢዎችን መቃኛ
Comment[ar]=تصفّح مواضع الشبكة المحلية و المعلّمة
Comment[as]=বুকমাৰ্ক আৰু স্থানীয় নেটৱৰ্ক অৱস্থান ব্ৰাউজ কৰা হ'ব
Comment[ast]=Agüeya los llugares llocales y remotos conseñaos
Comment[be]=Аглядаць закладкі і сеткавыя каталогі
Comment[bg]=Преглед на локални или отметнати мрежови местоположения
Comment[bn]=বুকমার্ক ও স্থানীয় নেটওয়ার্ক অবস্থান ব্রাউজ করা হবে
Comment[bn_IN]=বুকমার্ক ও স্থানীয় নেটওয়ার্ক অবস্থান ব্রাউজ করা হবে
Comment[br]=Merdeiñ dre lec'hiadurioù ar rouedad lec'hel ha lakaet ur sined warno
Comment[bs]=Pregledajte zabilježene i lokalne mrežne lokacije
Comment[ca]=Navegueu pels marcadors i les ubicacions de la xarxa local
Comment[ca@valencia]=Navega pels marcadors i les ubicacions de la xarxa local
Comment[cmn]=瀏覽已記錄及本地網路的位置
Comment[crh]=Yer-imli ve yerli şebeke qonumlarını kezin
Comment[cs]=Procházet místa v záložkách a umístění v místní síti
Comment[da]=Gennemse bogmærkede og lokale netværkssteder
Comment[de]=Lesezeichen und lokale Netzwerke durchsuchen
Comment[dz]=དེབ་རྟགས་བཀལ་ཡོད་མི་དང་ ཉེ་གནས་ཡོངས་འབྲེལ་གནས་ཁོངས་ཚུ་ བརྡ་འཚོལ་འབད་
Comment[el]=Περιήγηση στους σελιδοδείκτες και το τοπικό δίκτυο
Comment[en_AU]=Browse bookmarked and local network locations
Comment[en_CA]=Browse bookmarked and local network locations
Comment[en_GB]=Browse bookmarked and local network locations
Comment[eo]=Foliumi legosignitajn kaj lokajn retlokojn
Comment[es]=Examinar ubicaciones en marcadores y en redes locales
Comment[es_CO]=Examina las ubicaciones locales y remotas marcadas
Comment[es_MX]=Explorar ubicaciones de red favoritas y locales
Comment[et]=Järjehoidjates või kohalikus võrgus asuvate asukohtade sirvimine
Comment[eu]=Arakatu laster-markatutako eta sare lokaleko kokalekuak
Comment[fi]=Selaa kirjanmerkittyjä ja paikallisia verkkosijainteja
Comment[fr]=Parcourir les emplacements mis en signets et du réseau local
Comment[fur]=Sgarfe tes posizions di rêt locâls e tai segnelibris
Comment[ga]=Brábhsáil suíomh líonra leabharmharcáilte agus logánta
Comment[gl]=Examinar as redes locais e localizacións marcadas
Comment[gu]=બુકમાર્ક થયેલ અને સ્થાનિક નેટવર્ક સ્થાનો ખોળો
Comment[he]=עיין במקומות רשת מקומיים ומרוחקים שנשמרו
Comment[hi]=पुस्तकचिह्न व स्थानीय संजाल अवस्थिति ब्रॉउज करें
Comment[hr]=Pregledaj zabilježene položaje i položaje mjesne mreže
Comment[hu]=Könyvjelzőzött vagy helyi hálózati kapcsolatok tallózása
Comment[hy]=Փնտրել էջանշված և տեղական ցանցային վայրերը
Comment[id]=Buka lokasi jaringan lokal yang ditandai
Comment[is]=Flakka um bókamerktar og staðværar nettengingar
Comment[it]=Esplora le posizioni di rete locali e nei segnalibri
Comment[ja]=ブックマークやローカルネットワークの場所を閲覧する
Comment[ka]=ლოკალური და ქსელური მისამართების დათვალიერება
Comment[kk]=Бетбелгілердегі және жергілікті желі орналасуларын шолу
Comment[kn]=ಬುಕ್‍ಮಾರ್ಕ್ ಮಾಡಲಾದ ಹಾಗು ಸ್ಥಳೀಯ ಜಾಲಬಂಧ ಸ್ಥಳಗಳನ್ನು ವೀಕ್ಷಿಸು
Comment[ko]=저장된 네트워크와 로컬 네트워크를 살펴봅니다
Comment[lt]=Naršyti pažymėtas ir vietines tinklo vietas
Comment[lv]=Pārlūkot grāmatzīmēs saglabātās vai lokālā tīkla vietas
Comment[mai]=पुस्तकचिह्न आ स्थानीय सँजाल अवस्थिति ब्रॉउज करू 
Comment[mk]=Разгледај обележани и локални мрежни локации
Comment[ml]=അടയാളപ്പെടുത്തിയ വെബ് പേജുകളും ലോക്കല്‍ നെറ്റ്‌വര്‍ക്ക്​ സ്ഥാനങ്ങളും തിരയുക
Comment[mr]=संचार्ह ओळचिन्हे व स्थानिक नेटवर्क स्थळे
Comment[ms]=Layar lokasi rangkaian setempat dan bertanda buku
Comment[nb]=Bla gjennom nettverksplasseringer i bokmerker og lokalt
Comment[ne]=पुस्तकचिनो लगाइएको र स्थानीय सञ्जाल स्थानहरू ब्राउज गर्नुहोस्
Comment[nl]=Verken gebladwijzerde en plaatselijke netwerklocaties
Comment[nn]=Bla gjennom nettverkslokasjonar i bokmerke og lokalt
Comment[oc]=Explorar los emplaçaments dins los favorits e la ret locala
Comment[or]=ପୁସ୍ତକ ଚିହ୍ନିତ ଏବଂ ସ୍ଥାନୀୟ ନେଟୱାର୍କ ଅବସ୍ଥାନ ମାନଙ୍କୁ ବ୍ରାଉଜ କରନ୍ତୁ
Comment[pa]=ਬੁੱਕਮਾਰਕ ਕੀਤੇ ਅਤੇ ਲੋਕਲ ਨੈੱਟਵਰਕ ਟਿਕਾਣੇ ਖੋਲ੍ਹੋ
Comment[pl]=Przeglądaj zakładki i położenia w sieci lokalnej
Comment[pt]=Navegar nas localizações marcadas ou na rede local
Comment[pt_BR]=Navegar em favoritos e em locais da rede local
Comment[ro]=Navighează prin locațiile favorite sau din rețeaua locală
Comment[ru]=Просмотреть закладки и локальные сетевые адреса
Comment[si]=පිටු සළකුණු කළ සහ ප්‍රදේශිය ජාල පිහිටීම් ගවේශනය කරන්න
Comment[sk]=Prehliadať záložky a miesta v lokálnej sieti
Comment[sl]=Brskanje med zaznamki in mesti krajevnega omrežja
Comment[sq]=Shfleton pozicionet e rrjetit lokal dhe në libërshënues
Comment[sr]=Разгледајте обележена и месна мрежна места
Comment[sr@latin]=Razgleda ranije obeležena i lokalna mrežna mesta
Comment[sv]=Bläddra bokmärkta och lokala nätverksplatser
Comment[ta]=புத்தக குறிப்பு செய்த மற்றும் உள்ளமை இடங்களை உலாவுக
Comment[te]=బుక్‌మార్కుడ్ మరియు స్థానిక నెట్వర్కు స్థానముల కొరకు అన్వేషించు
Comment[th]=ท่องดูตำแหน่งเครือข่ายที่คั่นหน้าไว้ และตำแหน่งต่างๆ ในเครือข่ายเฉพาะที่
Comment[tr]=Yerimlerine ve yerel ağ konumlarına göz atın
Comment[ug]=خەتكۈچ ۋە يەرلىك توردىكى ئورۇنغا كۆز يۈگۈرت
Comment[uk]=Переглянути закладки та локальні мережеві адреси
Comment[ur]=پسندیدہ اور مقامی نیٹ ورک مقامات دیکھیں
Comment[uz]=Xatcho'plangan va mahalliy tarmoq joylashuvlarini ko'rish
Comment[vi]=Duyệt các địa điểm mạng cục bộ và các địa điểm có liên kết đã lưu
Comment[zh_CN]=浏览收藏和本地网络位置
Comment[zh_HK]=瀏覽已記錄及本地網絡的位置
Comment[zh_TW]=瀏覽已記錄及本地網路的位置
TryExec=caja
Exec=caja --no-desktop network:
Terminal=false
StartupNotify=true
Type=Application
Icon=network-workgroup
Categories=GTK;System;Core;
Keywords=bookmarks;browse;local;network;locations;MATE;
OnlyShowIn=MATE;
NoDisplay=true
