[Desktop Entry]
Name=Displays
Name[am]=ማሳያ
Name[be]=Экраны
Name[bg]=Монитори
Name[br]=Skrammañ
Name[ca]=Pantalles
Name[ca@valencia]=Pantalles
Name[cs]=Zobrazení
Name[da]=Skærme
Name[de]=Bildschirm
Name[el]=Εμφανίσεις
Name[en_AU]=Displays
Name[en_GB]=Displays
Name[es]=Pantallas
Name[et]=Kuvad
Name[fi]=Näytöt
Name[fr]=Affichage
Name[gl]=Pantallas
Name[hr]=Zasloni
Name[hu]=Képernyők
Name[hy]=Ցուցադրել
Name[id]=Tampilan
Name[is]=Skjáir
Name[it]=Schermi
Name[ja]=ディスプレイ
Name[kk]=Экрандар
Name[ko]=디스플레이
Name[lt]=Vaizduokliai
Name[ms]=Paparan
Name[nb]=Skjermer
Name[nl]=Schermen
Name[pl]=Ekrany
Name[pt]=Monitores
Name[pt_BR]=Monitores
Name[ro]=Monitoare
Name[ru]=Экраны
Name[sk]=Zobrazovacie zariadenia
Name[sl]=Zasloni
Name[sr]=Екрани
Name[sv]=Bildskärmar
Name[tr]=Ekranlar
Name[uk]=Дисплеї
Name[uz]=Ekranlar
Name[zh_CN]=显示器
Name[zh_TW]=顯示
Comment=Change resolution and position of monitors and projectors
Comment[am]=ሪዞሊሽን እና ቦታ መቀየሪያ የ መመልከቻውን እና ማሳያውን
Comment[be]=Змяненне разрознення і пазіцыі манітораў і праектараў
Comment[bg]=Промени резолюцията и позицията на мониторите и проекторите
Comment[br]=Kemmañ diarunusted ha lec'hiadur ar skrammoù hag al luc'hvannerezed
Comment[ca]=Canvieu la resolució i la posició dels monitors i dels projectors
Comment[ca@valencia]=Canvieu la resolució i la posició dels monitors i dels projectors
Comment[cs]=Změnit rozlišení a polohu monitorů a projektorů
Comment[da]=Ændr opløsning og position for skærme og projektorer
Comment[de]=Auflösung und Anordnung von Bildschirmen und Projektoren ändern
Comment[el]=Αλλαγή της ανάλυσης και θέσης οθονών και προβολέων
Comment[en_AU]=Change resolution and position of monitors and projectors
Comment[en_GB]=Change resolution and position of monitors and projectors
Comment[es]=Cambiar la resolución y posición de los monitores y proyectores
Comment[et]=Kuvarite ja projektorite eraldusvõime ning asukoha muutmine
Comment[fr]=Modifier la résolution et la position des écrans
Comment[gl]=Cambiar a resolución e posición dos monitores e proxectores
Comment[hr]=Promijeni razlučivost i položaj monitora i projektora
Comment[hu]=Monitorok felbontásának és elhelyezésének módosítása
Comment[hy]=Փոխել պրոյեկտորների և մոնիտորների բանաձևը և դիրքը
Comment[id]=Ubah resolusi dan posisi monitor dan proyektor
Comment[is]=Breyttu upplausn og stöðu skjáa og myndvarpa
Comment[it]=Cambia la risoluzione e la posizione dei monitor e dei proiettori
Comment[ja]=モニターとプロジェクターの解像度と位置を変更します。
Comment[kk]=Мониторлар және проекторлар ажыратымдылығы және орналасуын өзгерту
Comment[ko]=모니터와 프로젝터의 해상도와 위치를 바꿉니다
Comment[lt]=Pakeisti vaizduoklių ir projektorių raišką ir poziciją
Comment[ms]=Ubah resolusi dan kedudukan monitor serta projektor
Comment[nb]=Endre oppløsning og posisjon for skjermer og projektorer.
Comment[nl]=Wijzig resolutie en positie van beeldschermen en projectoren
Comment[pl]=Zmień rozmiar i pozycję monitorów i projektorów
Comment[pt]=Mudar resolução e posição dos monitores e projetores
Comment[pt_BR]=Altera a resolução e a posição de monitores e projetores
Comment[ro]=Schimbați rezoluția și poziția monitoarelor și a proiectoarelor
Comment[ru]=Изменение разрешения и позиции мониторов и проекторов
Comment[sk]=Mení rozlíšenie a pozíciu monitorov a projektorov
Comment[sl]=Spremeni ločljivost in položaj zaslonov in projektorjev
Comment[sr]=Измените резолуцију и положај монитора и пројектора
Comment[sv]=Ändra upplösning och position för skärmar och projektorer
Comment[tr]=Monitör ve projektörlerin çözünürlüğünü ve konumunu değiştir
Comment[uk]=Зміна роздільности та позиції моніторів і проєкторів
Comment[zh_CN]=更改显示器和投影仪的分辨率和位置
Comment[zh_TW]=改變螢幕及投影機的解析度和位置
Exec=mate-display-properties
Icon=mate-preferences-desktop-display
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;HardwareSettings;
Keywords=mate-control-center;MATE;resolution;position;monitors;display;properties;
OnlyShowIn=MATE;
