[Desktop Entry]
Name=Lines
Name[fr]=Lignes
X-KDE-PluginInfo-Name=Lines
X-KDE-PluginInfo-Author=Juliette Taka Belin
X-KDE-PluginInfo-Email=juliettetaka.belin@gmail.com
X-KDE-PluginInfo-License=GPLv2+
