#!/usr/bin/env xdg-open

[Desktop Entry]
Name=pdfcrack
Name[fr]=pdfcrack
Comment=Tool for recovery lost PDF password
Comment[fr]=Outil pour retrovuer un mot de passe PDF perdu
Exec=terminator -e "zsh -c 'pdfcrack;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Passwords
