#!/usr/bin/env xdg-open

[Desktop Entry]
Name=dislocker-metadata
Name[fr]=dislocker-metadata
Comment=Tool for bitlocker disk
Comment[fr]=Outil pour les disques bitlocker
Exec=terminator -e "zsh -c 'dislocker-metadata;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Bitlocker
