#!/usr/bin/env xdg-open

[Desktop Entry]
Name=tcpflow
Name[fr]=tcpflow
Comment=TCP flow recoder
Comment[fr]=Enregistrement de flux TCP
Exec=terminator -e "zsh -c 'tcpflow -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NetworkSecurity
