#!/usr/bin/env xdg-open

[Desktop Entry]
Name=boot-info
Name[fr]=boot-info
Comment=Tool for diagnose the boot of your computer
Comment[fr]=Outil pour diagnostiquer le démarrage de l'ordinateur
Exec=sh -c "gksudo boot-info"
Icon=/usr/share/boot-sav/x-boot-repair.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Boot
