#!/usr/bin/env xdg-open

[Desktop Entry]
Name=woeusb
Name[fr]=woeusb
Comment=Tool for create Windows bootable USB
Comment[fr]=Outil pour créer une clé bootable Windows
Exec=terminator -e "zsh -c 'sudo woeusb -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=USBBoot
