#!/usr/bin/env xdg-open

[Desktop Entry]
Name=netdiscover
Name[fr]=netdiscover
Comment=Tool for scan network address via ARP
Comment[fr]=Outil pour scanner des adresses réseaux via ARP
Exec=terminator -e "zsh -c 'sudo netdiscover;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Scanner

