#!/usr/bin/env xdg-open

[Desktop Entry]
Name=kismet
Name[fr]=kismet
Comment=Tool for snifing and monitoring wifi networks
Comment[fr]=Outil pour sniffer et monitorer des réseaux wi-fi
Exec=terminator -e "zsh -c 'sudo kismet;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=WIFI
