#!/usr/bin/env xdg-open

[Desktop Entry]
Name=tcpdump
Name[fr]=tcpdump
Comment=Tool for analyse network trafic
Comment[fr]=Outil pour analyser le trafic réseau
Exec=terminator -e "zsh -c 'sudo tcpdump -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NetworkSecurity
