#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Zenmap
Name[fr]=Zenmap
Comment=Tool for scanner ports with nmap GUI mode 
Comment[fr]=Outil pour scanner des ports avec nmap en mode GUI
Exec=zenmap
Icon=/usr/share/zenmap/pixmaps/zenmap.png
Terminal=false
Type=Application
StartupNotify=true
Categories=NetworkSecurity
