#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ngrep
Name[fr]=ngrep
Comment=Grep for network trafic
Comment[fr]=Grep pour le trafic réseau
Exec=terminator -e "zsh -c 'sudo ngrep -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NetworkSecurity
