#!/usr/bin/env xdg-open

[Desktop Entry]
Name=fcrackzip
Name[fr]=fcrackzip
Comment=Tool for recovery lost zip password
Comment[fr]=Outil pour récupérer un mot de passe zip perdu
Exec=terminator -e "zsh -c 'fcrackzip --help;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Passwords
