#!/usr/bin/env xdg-open

[Desktop Entry]
Name=00-all-services-enable
Name[fr]=00-activer-tous-services
Comment=Enable all additionnals daemon
Comment[fr]=Activer tous les services additionnels désactivés
Exec=terminator -e "zsh -c 'cd /opt/services;./all-services-enable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Services

