[Desktop Entry]
Type=Application
Name=Panel
Name[af]=Paneel
Name[am]=ክፍል
Name[ar]=شريط البرامج
Name[as]=পেনেল
Name[ast]=Panel
Name[be]=Панэль
Name[bg]=Панел
Name[bn]=প্যানেল
Name[bn_IN]=প্যানেল
Name[br]=Panel
Name[bs]=Ploča
Name[ca]=Tauler
Name[ca@valencia]=Tauler
Name[cmn]=面板
Name[crh]=Panel
Name[cs]=Panel
Name[cy]=Panel
Name[da]=Panel
Name[de]=Leiste
Name[dz]=པེ་ནཱལ
Name[el]=Πίνακας
Name[en_AU]=Panel
Name[en_GB]=Panel
Name[eo]=Panelo
Name[es]=Panel
Name[es_AR]=Panel
Name[es_CO]=Panel
Name[es_MX]=Panel
Name[et]=Paneel
Name[eu]=Panela
Name[fa]=تابلو
Name[fi]=Paneeli
Name[fr]=Tableau de bord
Name[fur]=Panel
Name[fy]=Paniel
Name[ga]=Painéal
Name[gl]=Panel
Name[gu]=પેનલ
Name[he]=Panel
Name[hi]=पटल
Name[hr]=Ploča
Name[hu]=Panel
Name[hy]=Վահանակ
Name[id]=Panel
Name[is]=Skjástika
Name[it]=Pannello
Name[ja]=パネル
Name[ka]=პანელი
Name[kk]=Панель
Name[kn]=ಫಲಕ
Name[ko]=패널
Name[ku]=Panel
Name[ky]=Панель
Name[lt]=Skydelis
Name[lv]=Panelis
Name[mai]=पटल
Name[mg]=Tontonana
Name[mk]=Панел
Name[ml]=പാളി
Name[mr]=तावदान
Name[ms]=Panel
Name[nb]=Panel
Name[nds]=Balken
Name[ne]=प्यानल
Name[nl]=Paneel
Name[nn]=Panel
Name[oc]=Panèl
Name[or]=ଫଳକ
Name[pa]=ਪੈਨਲ
Name[pl]=Panel
Name[ps]=پاڼه
Name[pt]=Painel
Name[pt_BR]=Painel
Name[ro]=Panou
Name[ru]=Панель
Name[si]=පුවරුව
Name[sk]=Panel
Name[sl]=Pult
Name[sq]=Panel
Name[sr]=Панел
Name[sr@latin]=Panel
Name[sv]=Panel
Name[ta]=பலகம்
Name[te]=ప్యానల్
Name[th]=พาเนล
Name[tr]=Panel
Name[ug]=تاختا
Name[uk]=Панель
Name[ur]=پینل
Name[uz]=Panel
Name[vi]=Bảng
Name[zh_CN]=面板
Name[zh_HK]=面板
Name[zh_TW]=面板
Comment=Launch other applications and provide various utilities to manage windows, show the time, etc.
Comment[af]=Lanseer ander toepassings en verskaf verskeie nutsprogramme om vensters te bestuur, die tyd te wys, ens.
Comment[ar]=بدء تطبيقات أخرى وتزويد وظائف متعددة لإدارة النوافذ، إظهار الوقت، إلخ
Comment[as]=অন্যান্য অনুপ্ৰয়োগ আৰম্ভ কৰি আৰু সংযোগক্ষেত্ৰ, সময় প্ৰদৰ্ছন প্ৰভৃতি পৰিচলোৱাৰ বাবে সুবিধা উপলব্ধ কৰা হয়  ।
Comment[ast]=Llanza otres aplicaciones y apurre delles erbíes pa xestionar ventanes, amosar la hora, etc.
Comment[be]=Запуск іншых праграм і доступ да разнастайных інструментаў кіравання вокнамі, паказу часу і інш.
Comment[bg]=Служи за стартиране на други приложения и предоставяне на различни инструменти за управление на прозорци, показване на времето и др.
Comment[bn]=অন্যান্য অ্যাপ্লিকেশন আরম্ভ করে ও উইন্ডো, সময় প্রদর্শন প্রভৃতি ব্যবস্থাপনার জন্য বিভিন্ন ইউটিলিটি ব্যবহার করা হয়। 
Comment[bn_IN]=অন্যান্য অ্যাপ্লিকেশন আরম্ভ করে ও উইন্ডো, সময় প্রদর্শন প্রভৃতি পরিচালনার জন্য সুবিধা উপলব্ধ করা হয়।
Comment[br]=Lañsañ arloadoù all ha pourchas mavegoù liesseurt da ardeiñ ar prenestroù, diskouez an eur, h.a.
Comment[ca]=Llanceu altres aplicacions i proporcioneu diverses utilitats per a gestionar finestres, mostrar l'hora, etc.
Comment[ca@valencia]=Executeu altres aplicacions i proporcioneu diverses utilitats per a gestionar finestres, mostrar l'hora, etc.
Comment[cmn]=執行其他的應用程式以提供各種工具來管理視窗、顯示時刻等。
Comment[crh]=Diger uyğulamalarnı fırlat ve pencerelerni idare etmek, vaqıtnı köstermek vs. içün çeşitli aletler temin et.
Comment[cs]=Spouští další aplikace a poskytuje různé nástroje ke správě oken, zobrazuje čas atd.
Comment[da]=Kør andre programmer og tilbyd forskellige værktøjer til vindueshåndtering, at vise hvad klokken er, osv.
Comment[de]=Startet andere Anwendungen und liefert verschiedene Werkzeuge zum Verwalten von Fenstern, dem Anzeigen der Zeit usw.
Comment[dz]=ཝིན་ཌོ་འཛིན་སྐྱོང་འབད་ནི་ལུ་གཞན་མི་འཇུག་སྤྱོད་ཚུ་དང་འདྲ་མིན་སྣ་ཚོགས་སྤྱོད་ཆས་འབད་ནི་ལུ་གསར་བཙུགས་འབད དུས་ཚོད་ལ་སོགས་པ་ཚུ་སྟོན
Comment[el]=Εκκινεί άλλες εφαρμογές και παρέχει διάφορα εργαλεία για την διαχείριση των παραθύρων, την προβολή της ώρας, κτλ.
Comment[en_AU]=Launch other applications and provide various utilities to manage windows, show the time, etc.
Comment[en_GB]=Launch other applications and provide various utilities to manage windows, show the time, etc.
Comment[eo]=Ruli aliajn aplikaĵojn kaj oferi diversajn utilaĵojn por aranĝi fenestrojn, montri tempon, ktp.
Comment[es]=Lanza otras aplicaciones y proporciona varias utilizades para gestionar ventanas, mostrar la hora, etc.
Comment[et]=Teiste rakenduste käivitamine, lisaks veel mitmed tarvikud akende haldamiseks, kellaaja näitamiseks jms.
Comment[eu]=Abiarazi beste aplikazioak eta eskaini hainbat tresna leiho-kudeatzaileari, erakutsi ordua, e.a.
Comment[fi]=Käynnistä muita ohjelmia, hallitse ikkunoita eri tavoilla, näytä aika jne.
Comment[fr]=Lancer des applications supplémentaires et différents utilitaires pour gérer les fenêtres, indiquer l'heure, etc.
Comment[fur]=Al invie altris aplicazions e al furnis diferentis utilitâts par gjestî i barcons, mostrâ l'ore, ecc.
Comment[gl]=Iniciar outros aplicativos e proporcionar diferentes utilidades para xestionar as xanelas, amosar a hora etc.
Comment[gu]=અન્ય કાર્યક્રમો લોન્ચ કરો અને વિન્ડોની વ્યવસ્થા કરવા માટે વિવિધ ઉપયોગીતાઓ પૂરી પાડો, સમય બતાવો, વગેરે.
Comment[he]=שיגור יישומים אחרים וספק שירותים לניהול חלונות, הצגת השעה, וכו׳.
Comment[hi]=अन्य अनुप्रयोग लॉन्च करें और विंडो प्रबंधित करने, समय दिखाने आदि के लिए विविध उपयोगिता दें.
Comment[hu]=Más alkalmazások indítása és különböző segédprogramok biztosítása ablakok kezeléséhez, az idő megjelenítéséhez, stb.
Comment[hy]=Windows–ը կառավարելու համար գործարկել այլ ծրագրեր և ապահովել տարբեր օժանդակ ծրագրերով. ցույց տալ ժամը և այլն։
Comment[id]=Jalankan aplikasi lainnya dan menyediakan berbagai macam peralatan untuk mengatur jendela, menunjukkan waktu, dsb.
Comment[is]=Ræsa önnur forrit og bjóða upp á ýmis tól til þess að stjórna gluggum, sýna tímann, o.s.frv.
Comment[it]=Lancia altre applicazioni e fornisce diverse utilità per gestire le finestre, mostrare l'ora, ecc.
Comment[ja]=他のアプリケーションを起動してウィンドウを管理したり時刻を表示するためのユーティリティをいろいろ提供します
Comment[ka]=რთავს სხვა პროგრამებს და უზრუნველყოფს სხვადასხვა აპლეტებს როგორც, ფანჯრის აპლეტი, დროის აპლეტი და სხვა.
Comment[kk]=Басқа қолданбаларды жөнелтуді және терезелерді басқару, уақытты көрсету және т.б. түрлі утилиталатын ұсынады.
Comment[kn]=ಇತರೆ ಅನ್ವಯಗಳನ್ನು ಆರಂಭಿಸು ಹಾಗು ವಿಂಡೋಗಳನ್ನು ನಿರ್ವಹಣೆ, ಸಮಯವನ್ನು ತೋರಿಕೆ ಮೊದಲಾದ ಸವಲತ್ತುಗಳನ್ನು ಒದಗಿಸು.
Comment[ko]=다른 프로그램을 실행합니다. 그리고 창 관리, 시각 표시 등 여러가지 유틸리티가 들어 있습니다.
Comment[lt]=Paleisti kitas programas ir suteikti įvairius reikmenis langų valdymui, laiko rodymui, ir t.t.
Comment[lv]=Palaiž citas programmas un nodrošina rīkus, lai pārvaldītu kogus, rādītu laiku un darītu citas lietas.
Comment[mk]=Пушти други апликации и овозможи разни услужни алатки за справување со прозорци, прикажување на време итн.
Comment[ml]=മറ്റൂ് പ്രയോഗങ്ങള്‍ ലഭ്യമാക്കി, ജാലകങ്ങള്‍ കൈകാര്യം ചെയ്യുക, സമയം കാണിയ്ക്കുക പോലുള്ള യൂട്ടിലിറ്റികള്‍ നല്‍കുക.
Comment[mr]=इतर ऍप्लिकेशन्स् सुरू करा व पटल व्यवस्थापन, वेळ दाखवण्यासाठी, इत्यादीकरीता विविध युटिलीटीज् पुरवा.
Comment[ms]=Lancar aplikasi lain dan sediakan pelbagai utiliti untuk mengurus tetingkap, tunjuk masa, dsb.
Comment[nb]=Start andre programmer og bruk forskjellige verktøy for å håndtere vinduer, vis klokken etc.
Comment[ne]=अन्य अनुप्रयोग सुरु गर्नुहोस् र सञ्झ्याल प्रबन्ध गर्न, समय देखाउन, इत्यादि गर्न विभिन्न उपयोगिता उपलब्ध गर्नुहोस् ।
Comment[nl]=Start andere toepassingen en biedt verschillende hulpmiddelen voor onder andere vensterbeheer en tijdweergave.
Comment[nn]=Start andre program og bruk ulike verktøy for å handtera vindauge, vis klokka osv.
Comment[or]=ଅନ୍ୟାନ୍ୟ ପ୍ରୟୋଗକୁ ଆରମ୍ଭକରନ୍ତୁ ଏବଂ ୱିଣ୍ଡୋକୁ ପରିଚାଳନା କରିବା, ସମୟ ଦର୍ଶାଇବା, ଆଦିପାଇଁ ବିଭିନ୍ନ ପ୍ରକାର ଉପଯୋଗୀତା ପ୍ରଦାନ କରନ୍ତୁ.
Comment[pa]=ਹੋਰ ਐਪਲੀਕੇਸ਼ਨ ਚਲਾਉਦਾ ਹੈ ਅਤੇ ਵਿੰਡੋਜ਼ ਪਰਬੰਧ, ਸਮਾਂ ਵੇਖਣ ਆਦਿ ਲਈ ਕਈ ਸਹੂਲਤ ਦਿੰਦਾ ਹੈ।
Comment[pl]=Uruchamianie innych programów i dostarczanie różnych narzędzi do zarządzania oknami, wyświetlania czasu, itp.
Comment[pt]=Inicia outras aplicações e disponibiliza vários utilitários para gerir janelas, apresentar as horas, etc.
Comment[pt_BR]=Lança outras aplicações e fornece vários utilitários para gerenciar janelas, mostrar a hora, etc.
Comment[ro]=Lansează alte aplicații și furnizează diverse utilitare pentru administrarea ferestrelor, afișarea orei, etc.
Comment[ru]=Служит для запуска других приложений из меню и отображения вспомогательных апплетов, например, апплета времени или апплета управления окнами.
Comment[sk]=Spúšťať iné programy a ponúknuť viacero nástrojov na správu okien, zobrazenie času, a pod.
Comment[sl]=Zagon drugih programov za zagotovitev različnih pripomočkov za upravljanje z okni, prikazom časa ...
Comment[sq]=Lëshon aplikativë të tjerë dhe vë në dispozicion instrumentë të ndryshëm për të manazhuar dritaret, shfaqur kohën, etj.
Comment[sr]=Покреће остале програме и обезбеђује разне алате за управљање прозорима, приказ времена, итд.
Comment[sr@latin]=Pokreće ostale programe i obezbeđuje razne alate za upravljanje prozorima, prikaz vremena, itd.
Comment[sv]=Starta andra program och tillhandahålla olika verktyg för att hantera fönster, visa tiden, etc.
Comment[ta]=மற்ற நிரல்களை துவக்கவும், சாளரங்களை மேலாள,நேரத்தை காட்ட போன்ற பல பயன்பாடுகளை தரவும்.
Comment[te]=ఇతర అనువర్తనములను ఆరంభించుము మరియు విండోలను నిర్వహించుటకు వివిధ సౌలభ్యాలను అందించుము, సమయాన్ని చూపుము, మొదలగునవి.
Comment[th]=ใช้เรียกโปรแกรมต่างๆ พร้อมเครื่องมือต่างๆ สำหรับจัดการหน้าต่าง แสดงนาฬิกา ฯลฯ
Comment[tr]=Diğer uygulamaları başlatır ve pencereleri yönetmek, zamanı göstermek vb. gibi amaçlar için çeşitli araçlar sağlar.
Comment[ug]=باشقا قوللىنىشچان پروگراممىنى قوزغىتىپ، كۆزنەك باشقۇرۇش، ۋاقىت كۆرسىتىش قاتارلىق ئىقتىدارلارنى تەمىنلەيدىغان قورال.
Comment[uk]=Запуск инших проґрам та різні засоби для керування вікнами, виводу часу, тощо.
Comment[ur]=دیگر اطلاقیے چلاتا ہے اور دریچوں کی ادارت کے لیے کئی سہولیات فراہم کرتا ہے جیسے وقت دکھانا وغیرہ.
Comment[uz]=Menyudan boshqa dasturlarni ishga tushirish va soat va oynalarni boshqarish kabi qoʻshimcha apletlarni boshqarish uchun xizmat qiladi.
Comment[vi]=Khởi chạy các ứng dụng khác và cung cấp các tiện ích khác nhau để quản lý cửa sổ, hiển thị giờ v.v.
Comment[zh_CN]=调用其它应用程序并提供可用来完成管理管理窗口、显示时间等功能的工具。
Comment[zh_HK]=執行其他的應用程式以提供各種工具來管理視窗、顯示時刻等。
Comment[zh_TW]=執行其他的應用程式以提供各種工具來管理視窗、顯示時刻等。
Icon=mate-panel
Exec=mate-panel
StartupNotify=true
Terminal=false
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-panel
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.20.5
Categories=GTK;System;Core;
OnlyShowIn=MATE;
NoDisplay=true
X-MATE-AutoRestart=true
X-MATE-Autostart-Phase=Panel
X-MATE-Provides=panel
X-MATE-Autostart-Notify=true
