[Desktop Entry]
Name=About Me
Name[af]=Aangaande myself
Name[am]=ስለ እኔ 
Name[ar]=عنّي
Name[as]=মোৰ বিষয়ে
Name[ast]=Tocante a min
Name[be]=Пра мяне
Name[bg]=За мен
Name[bn]=আমার পরিচয়
Name[bn_IN]=আমার পরিচয়
Name[br]=Diwar ma fenn
Name[ca]=Quant a mi
Name[ca@valencia]=Quant a mi
Name[cmn]=關於自己
Name[crh]=Menim Aqqımda
Name[cs]=O mně
Name[cy]=Amdana I
Name[da]=Om mig
Name[de]=Persönliche Angaben
Name[dz]=ངེད་ཀྱི་སྐོར་ལས།
Name[el]=Προσωπικά
Name[en_AU]=About Me
Name[en_CA]=About Me
Name[en_GB]=About Me
Name[eo]=Pri mi
Name[es]=Acerca de mí
Name[es_MX]=Acerca de mi
Name[et]=Minust
Name[eu]=Datu pertsonalak
Name[fa]=‌درباره‌ی من
Name[fi]=Omat tiedot
Name[fr]=À propos de moi
Name[ga]=Maidir Liom
Name[gl]=Sobre min
Name[gu]=મારા વિશે
Name[he]=על אודותי
Name[hi]=के बारे में
Name[hr]=O meni
Name[hu]=A névjegyem
Name[hy]=Իմ մասին
Name[id]=Tentang Saya
Name[is]=Um mig
Name[it]=Informazioni utente
Name[ja]=個人情報
Name[ka]=ჩემს შესახებ
Name[kk]=Мен туралы
Name[kn]=ನನ್ನ ಬಗ್ಗೆ
Name[ko]=내 정보
Name[ku]=Der Barê Min De
Name[ky]=Мен жөнүндө
Name[lt]=Apie mane
Name[lv]=Par mani
Name[mai]=हमरा संबंधमे
Name[mg]=Momba izaho
Name[mk]=За мене
Name[ml]=എന്നെ പറ്റി
Name[mn]=Миний тухай
Name[mr]=माझ्या विषयी
Name[ms]=Perihal Saya
Name[nb]=Om meg
Name[nds]=Över mik
Name[ne]=मेरो बारेमा
Name[nl]=Over mij
Name[nn]=Om meg
Name[oc]=A prepaus de ieu
Name[or]=ମୋ ବିଷୟରେ
Name[pa]=ਮੇਰੇ ਬਾਰੇ
Name[pl]=O mnie
Name[pt]=Sobre Mim
Name[pt_BR]=Sobre mim
Name[ro]=Despre mine
Name[ru]=Обо мне
Name[sk]=O mne
Name[sl]=O meni
Name[sq]=Informacione përdoruesi
Name[sr]=О мени
Name[sr@latin]=O meni
Name[sv]=Om mig
Name[ta]=என்னை பற்றி
Name[te]=నా గురించి
Name[th]=เกี่ยวกับฉัน
Name[tr]=Benim Hakkımda
Name[ug]=بىز ھەققىدە
Name[uk]=Про мене
Name[ur]=میرے بارے میں
Name[uz]=Men haqimda
Name[vi]=Tự giới thiệu
Name[xh]=Malunga Nam
Name[zh_CN]=关于我
Name[zh_HK]=關於自己
Name[zh_TW]=關於自己
Comment=Set your personal information
Comment[af]=Stel u persoonlike inligting
Comment[am]=የግል መረጃ ማሰናጃ 
Comment[ar]=اضبط معلوماتك الشخصية
Comment[as]=আপোনাৰ ব্যক্তিগত তথ্য লিখক
Comment[ast]=Configure la so información personal
Comment[be]=Усталяваць персанальныя звесткі
Comment[bg]=Настройване на личната ви информация
Comment[bn]=আপনার ব্যক্তিগত তথ্য লিখুন
Comment[bn_IN]=নিজের ব্যক্তিগত তথ্য লিখুন
Comment[br]=Lakaat ho titouroù personel
Comment[ca]=Establiu la vostra informació personal
Comment[ca@valencia]=Establiu la vostra informació personal
Comment[cmn]=設定您的個人資訊
Comment[crh]=Şahsiy malümatıñıznı tesbit etiñiz
Comment[cs]=Nastavte své osobní informace
Comment[cy]=Gosodwch eich gwybodaeth bersonol
Comment[da]=Angiv dine personlige informationer
Comment[de]=Persönlichen Informationen einstellen
Comment[dz]=ཁྱོད་རའི་རང་དོན་བརྡ་དོན་ གཞི་སྒྲིག་འབད།
Comment[el]=Καθορισμός των προσωπικών σας στοιχείων
Comment[en_AU]=Set your personal information
Comment[en_CA]=Set your personal information
Comment[en_GB]=Set your personal information
Comment[eo]=Agordi vian personan informon:
Comment[es]=Escriba su información personal
Comment[es_MX]=Coloca tu información personal
Comment[et]=Isiklike andmete määramine
Comment[eu]=Ezarri zure datu pertsonalak
Comment[fa]=اطلاعات شخصی خود را تنظیم کنید
Comment[fi]=Aseta omat tiedot
Comment[fr]=Définir vos informations personnelles
Comment[ga]=Socraigh do chuid eolais phearsanta
Comment[gl]=Poña a súa información persoal
Comment[gu]=તમારી ખાનગી જાણકારી સુયોજિત કરો
Comment[he]=עריכת המידע האישי שלך
Comment[hi]=निजी सूचना सेट करें
Comment[hr]=Postavi svoje osobne podatke
Comment[hu]=Személyes információk beállítása
Comment[hy]=Սահմանեք ձեր անձնական տեղեկությունները
Comment[id]=Masukkan informasi pribadi Anda
Comment[is]=Breyta upplýsingum um einstaklinga
Comment[it]=Imposta le proprie informazioni personali
Comment[ja]=自分の情報を管理します
Comment[ka]=თქვენი პირადი ინფორმაცია
Comment[kk]=Жеке ақпаратыңызды орнату
Comment[kn]=ನಿಮ್ಮ ವಯಕ್ತಿಕ ಮಾಹಿತಿಯನ್ನು ಹೊಂದಿಸಿ
Comment[ko]=개인 정보를 설정합니다
Comment[ku]=Agahiyên xwe yên şexsî mîheng bike
Comment[ky]=Жеке маалыматтарыңыз
Comment[lt]=Nurodyti asmeninę informaciją
Comment[lv]=Iestatīt personisko informāciju
Comment[mai]=निजी सूचना सेट करू
Comment[mg]=Anoratana ny mombamomba anao
Comment[mk]=Поставете лични информации
Comment[ml]=നിങ്ങളുടെ സ്വകാര്യ വിവരങ്ങള്‍ ക്രമീകരിയ്ക്കൂ 
Comment[mn]=MIME-төрлийн мэдээлэл
Comment[mr]=तुमची खाजगी माहिती निर्धारित करा
Comment[ms]=Tetapkan maklumat peribadi anda
Comment[nb]=Oppgi din personlige informasjon
Comment[nds]=Giv dien persönliche Informatschoonen in
Comment[ne]=तपाईँको व्यक्तिगत जानकारी सेट गर्नुहोस्
Comment[nl]=Persoonlijke informatie instellen
Comment[nn]=Legg inn personleg informasjon
Comment[oc]=Definir vòstras entresenhas personalas
Comment[or]=ଆପଣଙ୍କ ବ୍ଯକ୍ତିଗତ ସୂଚନାକୁ ବିନ୍ଯାସ କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਨਿੱਜੀ ਜਾਣਕਾਰੀ ਦਿਓ
Comment[pl]=Ustawienie informacji osobistych
Comment[pt]=Definir a sua informação pessoal
Comment[pt_BR]=Definir suas informações pessoais
Comment[ro]=Definiți informațiile personale
Comment[ru]=Ваши персональные данные
Comment[sk]=Nastavuje vaše osobné informácie
Comment[sl]=Nastavite svoje osebne podatke
Comment[sq]=Përcakton të dhënat vetiake personale
Comment[sr]=Поставите ваше личне податке
Comment[sr@latin]=Postavite vaše lične podatke
Comment[sv]=Ställ in din personliga information
Comment[ta]=உங்கள் தனிப்பட்ட தகவலை அமைக்கவும்
Comment[te]=మీ వ్యక్తిగత సమాచారాన్ని అమర్చండి
Comment[th]=ตั้งค่าข้อมูลเกี่ยวกับตัวคุณ
Comment[tr]=Kişisel bilgilerinizi ayarlayın
Comment[ug]=خۇسۇسىي ئۇچۇرلارنى تەڭشەڭ
Comment[uk]=Встановлення персональної інформації
Comment[ur]=اپنی ذاتی معلومات مُتعین کریں
Comment[uz]=Shaxsiy maʼlumotlaringiz
Comment[vi]=Lập thông tin cá nhân
Comment[zh_CN]=设置您的个人信息
Comment[zh_HK]=設定你的個人資料
Comment[zh_TW]=設定您的個人資訊
Exec=mate-about-me
Icon=user-info
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;X-MATE-PersonalSettings;
Keywords=mate-control-center;MATE;personal;information;
OnlyShowIn=MATE;
