[Desktop Entry]
Name=Preferred Applications
Name[af]=Voorkeurtoepassings
Name[am]=የተመረጡት መተገበሪያዎች 
Name[ar]=التطبيقات المفضّلة
Name[as]=পছন্দৰ অনুপ্ৰয়োগ
Name[ast]=Programes Preferíos
Name[az]=Ön Qurğulu Proqramlar
Name[be]=Пераважныя праграмы
Name[bg]=Предпочитани програми
Name[bn]=পছন্দের অ্যাপলিকেশন
Name[bn_IN]=পছন্দের অ্যাপলিকেশন
Name[br]=Arloadoù gwellañ karet
Name[bs]=Povlaštene aplikacije
Name[ca]=Aplicacions preferides
Name[ca@valencia]=Aplicacions preferides
Name[cmn]=首選應用程式
Name[crh]=Tercih Etilgen Uyğulamalar
Name[cs]=Preferované aplikace
Name[cy]=Rhaglenni Amgen
Name[da]=Foretrukne programmer
Name[de]=Bevorzugte Anwendungen
Name[dz]=དགའ་གདམ་ཅན་གྱི་གློག་རིམ།
Name[el]=Προτιμώμενες εφαρμογές
Name[en_AU]=Preferred Applications
Name[en_CA]=Preferred Applications
Name[en_GB]=Preferred Applications
Name[es]=Aplicaciones preferidas
Name[et]=Eelistatud rakendused
Name[eu]=Hobetsitako aplikazioak
Name[fa]=برنامه‌های ترجیح داده شده
Name[fi]=Oletussovellukset
Name[fr]=Applications préférées
Name[ga]=Feidhmchláir de Rogha
Name[gl]=Aplicativos preferidos
Name[gu]=પ્રાધાન્યવાળા કાર્યક્રમો
Name[he]=יישומים מועדפים
Name[hi]=पसन्दीदा अनुप्रयोग
Name[hr]=Prvenstvene aplikacije
Name[hu]=Alapértelmezett alkalmazások
Name[hy]=Նախընտրած Դիմումներ
Name[id]=Aplikasi Pilihan
Name[is]=Valin forrit
Name[it]=Applicazioni preferite
Name[ja]=お気に入りのアプリ
Name[ka]=სასურველი პროგრამები
Name[kk]=Таңдамалы қолданбалар
Name[kn]=ಅಪೇಕ್ಷಿತ ಅನ್ವಯಗಳು
Name[ko]=기본 프로그램
Name[ku]=Sepanên ku Têne Tercîhkirin
Name[ky]=Артыкчылыгы бар тиркемелер
Name[lt]=Pageidaujamos programos
Name[lv]=Noklusētās programmas
Name[mai]=चहेता अनुप्रयोग
Name[mg]=Rindran'asa tiana kokoa
Name[mk]=Преферирани апликации
Name[ml]=മുന്‍ഗണനാ പ്രയോഗങ്ങള്‍
Name[mn]=Эрхэмлэсэн х.программууд
Name[mr]=प्राधान्य अनुप्रयोग
Name[ms]=Aplikasi Digemari
Name[nb]=Forvalgte programmer
Name[nds]=Leevste Programme
Name[ne]=रूचाइएका अनुप्रयोगहरू
Name[nl]=Voorkeurstoepassingen
Name[nn]=Fortrukne program
Name[nso]=Ditirišo tše Ratwago
Name[oc]=Aplicacions preferidas
Name[or]=ପସନ୍ଦ ପ୍ରଯୋଗଗୁଡିକ
Name[pa]=ਪਸੰਦੀਦਾ ਐਪਲੀਕੇਸ਼ਨ
Name[pl]=Preferowane programy
Name[pt]=Aplicações Preferidas
Name[pt_BR]=Aplicativos preferenciais
Name[ro]=Aplicații preferate
Name[ru]=Предпочтительные приложения
Name[sk]=Preferované programy
Name[sl]=Prednostni programi
Name[sq]=Aplikativë të preferuar
Name[sr]=Омиљени програми
Name[sr@latin]=Omiljeni programi
Name[sv]=Föredragna program
Name[ta]=விருப்பமான நிரல்கள்
Name[te]=అభీష్ట అనువర్తనంలు
Name[th]=เลือกโปรแกรมหลักๆ
Name[tr]=Tercih Edilen Uygulamalar
Name[ug]=ئامراق قوللىنىشچان پروگراممىلار
Name[uk]=Стандартні проґрами
Name[ur]=ترجیحی اطلاقیے
Name[uz]=Afzal Ko'rilgan Dasturlar
Name[vi]=Ứng dụng ưa thích
Name[xh]=IiNkqubo eziKhethwayo
Name[zh_CN]=默认应用程序
Name[zh_HK]=首選應用程式
Name[zh_TW]=首選應用程式
Name[zu]=Izithobo ezithandekayo
Comment=Select your default applications
Comment[af]=Kies asb. die verstektoepassings
Comment[am]=ነባር መተገበሪያዎችን ይምረጡ 
Comment[ar]=اختر تطبيقاتك المبدئية
Comment[as]=আপোনাৰ অবিকল্পিত অনুপ্ৰয়োগ নিৰ্ব্বাচন কৰক
Comment[ast]=Escueyi los tos programes predeterminaos
Comment[az]=Ön qurğulu proqramlarınızı seçin
Comment[be]=Стандартныя праграмы
Comment[bg]=Избиране на стандартните програми
Comment[bn]=যে অ্যাপলিকেশনটি ডিফল্ট হিসেবে ব্যবহার করতে চান তা বেছে নিন
Comment[bn_IN]=পছন্দসই অ্যাপ্লিকেশনগুলি নির্বাচন করুন
Comment[br]=Diuzit hoc'h arloadoù dre ziouer
Comment[bs]=Izaberite vaše uobičajene aplikacije
Comment[ca]=Seleccioneu les aplicacions predeterminades
Comment[ca@valencia]=Seleccioneu les aplicacions per defecte
Comment[cmn]=選取預設使用的應用程式
Comment[crh]=Ögbelgilengen uyğulamalarıñıznı saylañız
Comment[cs]=Umožní si vybrat výchozí aplikace
Comment[cy]=Dewiswch eich rhaglenni rhagosodedig
Comment[da]=Vælg hvilke programmer der foreslås som standard
Comment[de]=Bevorzugte Anwendungen auswählen
Comment[dz]=ཁྱོད་རའི་སྔོན་སྒྲིག་གློག་རིམ་ སེལ་འཐུ་འབད།
Comment[el]=Καθορισμός των προεπιλεγμένων εφαρμογών
Comment[en_AU]=Select your default applications
Comment[en_CA]=Select your default applications
Comment[en_GB]=Select your default applications
Comment[es]=Seleccione sus aplicaciones predeterminadas
Comment[et]=Vaikimisi kasutatavate rakenduste valimine
Comment[eu]=Hautatu zure aplikazio lehenetsiak
Comment[fa]=برنامه‌ی پیش‌فرض خود را انتخاب کنید
Comment[fi]=Valitse oletusohjelmasi
Comment[fr]=Sélectionner vos applications par défaut
Comment[ga]=Roghnaigh d'fheidhmchláir réamhshocraithe
Comment[gl]=Seleccione os seus aplicativos predeterminados
Comment[gu]=તમારા મૂળભૂત કાર્યક્રમો પસંદ કરો
Comment[he]=בחירת יישומי בררת המחדל שלך
Comment[hi]=अपने डिफ़ॉल्ट अनुप्रयोग चुनें
Comment[hr]=Odaberi vlastite zadane aplikacije
Comment[hu]=Alapértelmezett alkalmazások kiválasztása
Comment[hy]=Ընտրեք Ձեր լռելյայն դիմումները
Comment[id]=Silakan pilih aplikasi baku
Comment[is]=Veldu sjálfgefin forrit
Comment[it]=Seleziona le applicazioni predefinite
Comment[ja]=デフォルトで使用するアプリケーションを設定します
Comment[ka]=ნაგულისხმები პროგრამების ამორჩევა
Comment[kk]=Үнсіз келісім қолданбаларын таңдау
Comment[kn]=ನಿಮ್ಮ ಪೂರ್ವನಿಯೋಜಿತ ಅನ್ವಯಗಳನ್ನು ಆರಿಸಿ
Comment[ko]=기본 프로그램을 선택하십시오
Comment[ku]=Sepanên xwe yên pêşdanasînî hilbijêre
Comment[lt]=Parinkite savo numatytąsias programas
Comment[lv]=Izvēlieties jūsu noklusētās aplikācijas
Comment[mai]=अपन मूलभूत अनुप्रयोग चुनू
Comment[mg]=Safidio ireo rindran'asa ataonao fampiasa
Comment[mk]=Изберете ги Вашите стандардни апликации
Comment[ml]=നിങ്ങളുടെ സഹജമായ പ്രയോഗങ്ങള്‍ തെരഞ്ഞെടുക്കുക
Comment[mn]=Та өөрийн стандарт х.программыг сонгоно уу
Comment[mr]=तुमचे पूर्वनिर्धारीत अनुप्रयोग निवडा
Comment[ms]=Pilih aplikasi lalai anda
Comment[nb]=Sett dine forvalgte programmer
Comment[ne]=तपाईँको पूर्वनिर्धारित अनुप्रयोगहरू चयन गर्नुहोस्
Comment[nl]=Kies uw standaardtoepassingen
Comment[nn]=Vel standardprogramma dine
Comment[nso]=Kgetha ditirišo tša gago tša tlhaelelo
Comment[oc]=Seleccionatz vòstras aplicacions per defaut
Comment[or]=ଆପଣଙ୍କର ଡିଫଲ୍ଟ ପ୍ରଯୋଗଗୁଡିକୁ ମନୋନୀତ କରନ୍ତୁ 
Comment[pa]=ਆਪਣੇ ਡਿਫਾਲਟ ਐਪਲੀਕੇਸ਼ਨ ਚੁਣੋ
Comment[pl]=Wybór domyślnych programów
Comment[pt]=Selecione as suas aplicações predefinidas
Comment[pt_BR]=Selecione seus aplicativos padrão
Comment[ro]=Alegeți aplicațiile implicite
Comment[ru]=Выбор приложений-обработчиков по умолчанию
Comment[sk]=Umožňuje vybrať predvolené programy
Comment[sl]=Izbor privzetih programov
Comment[sq]=Zgjidh apliaktivët e paracaktuar
Comment[sr]=Изаберите ваше основне програме
Comment[sr@latin]=Odaberite vaše osnovne programe
Comment[sv]=Välj dina standardprogram
Comment[ta]=உங்களின் கொடாநிலை நிரலைத் தெரிவுசெய்யவும்
Comment[te]=మీ అప్రమేయ అనువర్తనంలను ఎంపికచేయుము
Comment[th]=เลือกโปรแกรมหลักๆ ที่จะถูกใช้โดยปรกติ
Comment[tr]=Öntanımlı uygulamalarınızı seçin
Comment[ug]=كۆڭۈلدىكى قوللىنىشچان پروگراممىلىرىڭىزنى تاللاڭ
Comment[uk]=Обрання типових проґрам
Comment[ur]=اپنے طے شُدہ اطلاقیے منتخب کریں
Comment[uz]=Andoza dasturni tanlang
Comment[vi]=Chọn các ứng dụng mặc định của bạn
Comment[wa]=Tchoezixhoz vos prémetous programes
Comment[xh]=Khetha iinkqubo zakho ezimiselweyo
Comment[zh_CN]=选择默认的应用程序
Comment[zh_HK]=選取預設使用的應用程式
Comment[zh_TW]=選取預設使用的應用程式
Comment[zu]=Khetha izithobo zakho ezinephutha
Exec=mate-default-applications-properties
Icon=preferences-desktop-default-applications
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;X-MATE-PersonalSettings;
Keywords=mate-control-center;MATE;default;preferred;applications;
OnlyShowIn=MATE;
