[Desktop Entry]
Name=Network Proxy
Name[af]=Netwerk instaner
Name[am]=የ ኔትዎርክ ወኪል
Name[ar]=وسيط الشبكة
Name[as]=নেটৱৰ্ক নিযুক্তক
Name[ast]=Proxy de Rede
Name[az]=Şəbəkə Vəkil Vericisi
Name[be]=Сеткавы проксі
Name[bg]=Мрежов сървър-посредник
Name[bn]=নেটওয়ার্ক প্রক্সি
Name[bn_IN]=নেটওয়ার্ক প্রক্সি
Name[br]=Proksi ar rouedad
Name[bs]=Mrežni proxy
Name[ca]=Servidor intermediari de xarxa
Name[ca@valencia]=Servidor intermediari de xarxa
Name[cmn]=代理伺服器
Name[crh]=Şebeke Proksisi
Name[cs]=Proxy sítě
Name[cy]=Dirprwy Rhwydwaith
Name[da]=Netværksproxy
Name[de]=Netzwerkvermittlung
Name[dz]=ཡོངས་འབྲེལ་གྱི་ པོརོག་སི།
Name[el]=Διαμεσολαβητής δικτύου
Name[en_AU]=Network Proxy
Name[en_CA]=Network Proxy
Name[en_GB]=Network Proxy
Name[es]=Proxy de la red
Name[et]=Võrgu proksi
Name[eu]=Sareko proxy-a
Name[fa]=پیشکار شبکه
Name[fi]=Välipalvelin
Name[fr]=Serveur mandataire
Name[ga]=Seachfhreastalaí Líonra
Name[gl]=Proxy da rede
Name[gu]=નેટવર્ક પ્રોક્સી
Name[he]=מתווך רשת
Name[hi]=नेटवर्क प्रॉक्सी
Name[hr]=Posrednički mrežni poslužitelj - proxy
Name[hu]=Hálózati proxy
Name[hy]=Ցանցային Միջնորդ
Name[id]=Proksi Jaringan
Name[is]=Netmilliþjónar (vefsel)
Name[it]=Proxy di rete
Name[ja]=ネットワークプロキシ
Name[ka]=ქსელის პროქსი
Name[kk]=Желілік прокси
Name[kn]=ಜಾಲಬಂಧ ಪ್ರಾಕ್ಸಿ
Name[ko]=네트워크 프록시
Name[ku]=Cîgirê Toreyê
Name[ky]=Тармактык прокси-кызмат
Name[lt]=Įgaliotasis tinklo serveris
Name[lv]=Tīkla starpniekserveris
Name[mai]=संजाल प्रॉक्सी
Name[mg]=Proxy'ny rezo
Name[mk]=Мрежен прокси
Name[ml]=ശൃംഖലയിലെ പ്രോക്സി
Name[mn]=Сүлжээ-итгэмжлэгч
Name[mr]=संजाळ प्रॉक्सी
Name[ms]=Proksi Rangkaian
Name[nb]=Nettverksmellomtjener
Name[nds]=Netwark-Proxy
Name[ne]=सञ्जाल प्रोक्सी
Name[nl]=Netwerkproxy
Name[nn]=Mellomtenar i nettverket
Name[nso]=Kemedi ya Neteweke
Name[or]=ନେଟୱର୍କ ପ୍ରକ୍ସି
Name[pa]=ਨੈੱਟਵਰਕ ਪਰਾਕਸੀ
Name[pl]=Pośrednik sieciowy
Name[pt]=Proxy de Rede
Name[pt_BR]=Proxy da rede
Name[ro]=Proxy rețea
Name[ru]=Сетевая прокси-служба
Name[sk]=Sieťové proxy
Name[sl]=Omrežni posredovalni strežnik
Name[sq]=Proxy i rrjetit
Name[sr]=Мрежни посредник
Name[sr@latin]=Mrežni posrednik
Name[sv]=Nätverksproxyserver
Name[ta]=வலையமைப்பு பிரதிநிதி.
Name[te]=నెట్వర్కు ప్రాక్సీ
Name[th]=พร็อกซีเครือข่าย
Name[tr]=Ağ Vekili
Name[ug]=تور ۋاكالەتچىسى
Name[uk]=Служба проксі
Name[ur]=نیٹ ورک پراکسی
Name[uz]=Tarmoq proksisi
Name[vi]=Ủy nhiệm mạng
Name[xh]=Unxibelelwano lweKhompyutha esebenza njengomqobo
Name[zh_CN]=网络代理
Name[zh_HK]=代理伺服器
Name[zh_TW]=代理伺服器
Name[zu]=Proxy yokuxhumana
Comment=Set your network proxy preferences
Comment[af]=Stel jou voorkeure in vir netwerkinstaanbedieners
Comment[am]=የ ኔትዎርክ ምርጫ ማሰናጃ 
Comment[ar]=اضبط خيارات وسيط شبكتك
Comment[as]=নেটৱৰ্ক নিযুক্তক সম্পৰ্কিত পছন্দ নিৰ্ধাৰণ কৰক
Comment[ast]=Afitar les preferencies de proxy de rede
Comment[be]=Задаць настáўленні проксі
Comment[bg]=Настройки на мрежовия сървър-посредник
Comment[bn]=নেটওয়ার্ক প্রক্সি সম্পর্কিত পছন্দ নির্ধারণ করুন
Comment[bn_IN]=নেটওয়ার্ক প্রক্সি সম্পর্কিত পছন্দ নির্ধারণ করুন
Comment[ca]=Establiu les preferències del servidor intermediari de xarxa
Comment[ca@valencia]=Establiu les preferències del servidor intermediari de xarxa
Comment[cmn]=設定代理伺服器
Comment[crh]=Ağ vekil tercihlerini ayarlayın
Comment[cs]=Nastaví proxy sítě
Comment[cy]=Gosod eich hoffterau dirprwy rhwydwaith
Comment[da]=Sæt dine indstillinger for netværksproxy
Comment[de]=Ihre Netzwerkvermittlungseinstellungen festlegen
Comment[dz]=ཁྱོད་རའི་ཡོངས་འབྲེལ་གྱི་ པོརོག་སི་དགའ་གདམ་ཚུ་ གཞི་སྒྲིག་འབད།
Comment[el]=Καθορισμός προτιμήσεων διαμεσολαβητή δικτύου
Comment[en_AU]=Set your network proxy preferences
Comment[en_CA]=Set your network proxy preferences
Comment[en_GB]=Set your network proxy preferences
Comment[es]=Establezca sus preferencias del proxy de la red
Comment[et]=Võrguproksi eelistuste seadmine
Comment[eu]=Sareko proxy-aren hobespenak ezartzen ditu
Comment[fa]=ترجیحات پیشکار شبکه‌تان تنظیم کنید
Comment[fi]=Muuta välipalvelinasetuksia
Comment[fr]=Définir vos préférences de serveur mandataire
Comment[ga]=Socraigh do chuid sainroghanna sheachfhreastalaí líonra
Comment[gl]=Estabeleza as súas preferencias do proxy da rede
Comment[gu]=તમારા નેટવર્ક પ્રોક્સીની પસંદગીઓ સુયોજિત કરો
Comment[he]=הגדרת העדפות מתווך הרשת
Comment[hi]=नेटवर्क प्रॉक्सी वरीयताएँ सेट करें
Comment[hr]=Postavi vlastite prilagodbe posredničkog mrežnog poslužitelja
Comment[hu]=Hálózati proxy beállításai
Comment[hy]=Սահմանեք ձեր ցանցային միջնորդ սերվերի նախապատվությունները
Comment[id]=Atur preferensi proksi jaringan Anda
Comment[is]=Stilla valkosti fyrir netmilliþjóna (vefsel)
Comment[it]=Imposta le preferenze del proxy di rete
Comment[ja]=お使いのネットワークプロキシを設定します
Comment[ka]=თვენი ქსელის პროქსის პარამეტრების დაყენება
Comment[kk]=Желілік прокси баптауларын орнату
Comment[kn]=ಜಾಲಬಂಧ ಪ್ರಾಕ್ಸಿಯ ಆದ್ಯತೆಗಳನ್ನು ಹೊಂದಿಸಿ
Comment[ko]=네트워크 프록시를 설정합니다
Comment[ku]=Tercîhên cîgirê toreyê mîheng bike
Comment[lt]=Nurodyti įgaliotojo tinklo serverio nustatymus
Comment[lv]=Mainīt tīkla starpniekservera iestatījumus
Comment[mai]=संजाल प्रॉक्सी वरीयतासभ सेट करू
Comment[mg]=Mamaritra ny safidy manokan'ny proxy'ny rezonao
Comment[mk]=Поставете ги вашите преференци за мрежниот proxy
Comment[ml]=നിങ്ങളുടെ ശൃംഖലയിലെ പ്രോക്സി മുന്‍ഗണനകള്‍ സജ്ജീകരിയ്ക്കുക
Comment[mn]=Сүлжээ-итгэмжлэгчийн тохируулгыг хийх
Comment[mr]=तुमच्या संजाळ प्रॉक्सी पसंती निर्धारित करा
Comment[ms]=Tetapkan keutamaan proksi rangkaian anda
Comment[nb]=Sett dine brukervalg for nettverksmellomtjener
Comment[nds]=Netwark-Proxy-Instellens setten
Comment[ne]=तपाईँको सञ्जाल प्रोक्सी प्राथमिक्ताहरू सेट गर्नुहोस्
Comment[nl]=Netwerkproxy-voorkeuren instellen
Comment[nn]=Sett opp instillingane for mellomtenar i nettverket
Comment[or]=ଆପଣଙ୍କର ନେଟୱର୍କ ପ୍ରକ୍ସି ପସନ୍ଦକୁ ସେଟକରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਨੈੱਟਵਰਕ ਪਰਾਕਸੀ ਪਸੰਦ ਦਿਓ
Comment[pl]=Ustawianie preferencji pośrednika sieciowego
Comment[pt]=Definir as suas preferências do proxy de rede
Comment[pt_BR]=Defina suas preferências do proxy de rede
Comment[ro]=Opțiuni proxy rețea
Comment[ru]=Диалог настройки прокси-серверов
Comment[sk]=Nastavuje vaše sieťové proxy
Comment[sl]=Možnosti posredovalnega strežnika omrežja
Comment[sq]=Përcakton preferimet e proxy të rrjetit
Comment[sr]=Подесите поставке мрежног посредника
Comment[sr@latin]=Podesite postavke mrežnog posrednika
Comment[sv]=Ställ in dina inställningar för nätverksproxyserver
Comment[ta]=உங்கள் பிணைய பதிலாள் முன்னுரிமைகளை அமை
Comment[te]=మీ నెట్వర్కు ప్రాక్సీ అభీష్టాలను అమర్చుము
Comment[th]=ตั้งค่าพร็อกซีของเครือข่าย
Comment[tr]=Ağ vekil tercihlerini ayarlayın
Comment[ug]=تور ۋاكالەتچى مايىللىقىڭىزنى تەڭشەڭ
Comment[uk]=Діялоґ налаштовування проксі-сервера
Comment[ur]=اپنے نیٹ ورک پراکسی کی ترجیحات مُتعین کریں
Comment[vi]=Đặt tùy thích máy phục vụ ủy nhiệm mạng cho bạn.
Comment[xh]=Misela uluhlu lokukhetha lonxibelelwano lwekhompyutha esbenza njengomqobo
Comment[zh_CN]=设置您的网络代理首选项
Comment[zh_HK]=設定代理伺服器
Comment[zh_TW]=設定代理伺服器
Exec=mate-network-properties
Icon=mate-network-properties
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;X-MATE-NetworkSettings;
Keywords=mate-control-center;MATE;network;http;socks;proxy;
OnlyShowIn=MATE;
