[Desktop Entry]
Name=MATE Dictionary
Name[am]=የ ሜት መዝገበ ቃላት
Name[ar]=قاموس متّة
Name[ast]=Diccionariu de MATE
Name[be]=Слоўнік MATE
Name[bg]=Речник на МАТЕ
Name[br]=Geriadur MATE
Name[ca]=Diccionari de MATE
Name[ca@valencia]=Diccionari del MATE
Name[cs]=Slovník pro MATE
Name[da]=MATE-ordbog
Name[de]=MATE-Wörterbuch
Name[el]=Λεξικό MATE
Name[en_AU]=MATE Dictionary
Name[en_GB]=MATE Dictionary
Name[es]=Diccionario de MATE
Name[et]=MATE sõnastik
Name[fi]=MATE Sanakirja
Name[fr]=Dictionnaire MATE
Name[gl]=Dicionario do MATE
Name[he]=מילון MATE
Name[hu]=MATE szótár
Name[hy]=MATE Բառարան
Name[id]=Kamus MATE
Name[it]=Dizionario di MATE
Name[ja]=MATE 辞書
Name[kk]=MATE сөздігі
Name[ko]=마테 사전
Name[ku_IQ]=فەرهەنگی MATE
Name[lt]=MATE žodynas
Name[lv]=MATE Vārdnīca
Name[ms]=Kamus MATE
Name[nb]=MATE ordbok
Name[nl]=MATE Woordenboek
Name[pl]=Słownik MATE
Name[pt]=Dicionário MATE
Name[pt_BR]=Dicionário MATE
Name[ro]=Dicționar MATE
Name[ru]=Словарь MATE
Name[sk]=Slovník MATE
Name[sl]=MATE Slovar
Name[sr]=Мејтов речник
Name[sv]=Lexikon för MATE
Name[th]=พจนานุกรมของ MATE
Name[tr]=MATE Sözlüğü
Name[uk]=Словник MATE
Name[zh_CN]=MATE 字典
Name[zh_TW]=MATE 字典
Comment=Check word definitions and spellings in an online dictionary
Comment[af]=Soek definisies en spelling in 'n aanlynwoordeboek
Comment[am]=የ ቃላት ትርጉም እና ፊደል መመርመሪያ በ መስመር መዝገበ ቃላት ላይ
Comment[ar]=ابحث عن تعريف وإملاء الكلمات في قاموس على الشّابكة
Comment[as]=অনশাৰী অভিধানে শব্দেৰ সংজ্ঞা আৰু বানান পৰীক্ষা কৰক
Comment[ast]=Busque definiciones de pallabres y ortografía nun diccionariu en llinia
Comment[be]=Прагляд азначэнняў і вымаўленняў словаў у анлайн-слоўніку
Comment[bg]=Търсене на определения и правописа на думи в речник в Интернет
Comment[bn]=অনলাইন অভিধানে শব্দের সংজ্ঞা ও বানান পরীক্ষা করুন
Comment[bn_IN]=অনলাইন অভিধানে শব্দের সংজ্ঞা ও বানান পরীক্ষা করুন
Comment[br]=Gwiriañ termenadurioù ha skritur gerioù dre ur geriadur enlinenn
Comment[ca]=Comproveu les definicions de paraules i l'ortografia en un diccionari en línia
Comment[ca@valencia]=Comprova les definicions de paraules i l'ortografia en un diccionari en línia
Comment[cmn]=在線上字典中查詢字詞的解譯及拼法
Comment[crh]=Sözcük tanımlarını ve yazımlarını çevrimiçi bir sözlükte denetle
Comment[cs]=Kontrolovat slova a pravopis v on-line slovníku
Comment[cy]=Chwilio am ddiffiniadau geiriau a'u sillafiad mewn geiriadur ar-lein
Comment[da]=Slå orddefinitioner og stavning op i en ordbog på internettet
Comment[de]=Definitionen und Schreibweisen im Internetwörterbuch nachschlagen
Comment[dz]=གློག་ཐོག་ཚིག་མཛོད་ཅིག་ནང་ མིང་ཚིག་གི་ངེས་ཚིག་དང་ སྡེབ་སྦྱོར་ཚུ་ཞིབ་དཔྱད་རྐྱབས།
Comment[el]=Έλεγχος ορισμών λέξεων και ορθογραφίας σε ένα λεξικό του Διαδικτύου
Comment[en_AU]=Check word definitions and spellings in an online dictionary
Comment[en_GB]=Check word definitions and spellings in an online dictionary
Comment[es]=Busque definiciones de palabras y ortografía en un diccionario en línea
Comment[et]=Sõnade definitsioonide ja kirjaviiside otsimine onlain-sõnastikust
Comment[eu]=Bilatu hitzen definizioak eta ortografiak lineako hiztegi batean
Comment[fa]=بررسی معانی و املای کلمات در یک لغت‌نامهٔ برخط
Comment[fi]=Etsi sanojen määrittelyjä ja kirjoitusasuja verkkosanakirjoista
Comment[fr]=Vérifier la définition et l'orthographe des mots dans un dictionnaire en ligne
Comment[gl]=Verificar as definicións de palabras e a ortografía nun dicionario en liña
Comment[gu]=ઓનલાઈન શબ્દકોશમાં વ્યાખ્યાઓ અને જોડણીઓ માટે શબ્દ ચકાસો
Comment[he]=חפש הגדרת ואיות מילים במילון מקוון
Comment[hi]=ऑन लाइन शब्दकोश में परिभाषा व वर्तनी देखें
Comment[hu]=Szavak meghatározásainak és helyesírásának keresése online szótárakban
Comment[hy]=Ստուգել բառի բացատրությունները և ուղղագրությունները առցանց բառարանի մեջ
Comment[id]=Cari penjelasan dan pengejaan kata di dalam kamus online
Comment[it]=Controlla definizioni e ortografia di parole su un dizionario in linea
Comment[ja]=オンライン辞書を使って単語の意味や綴りを調べます
Comment[kk]=Сөз анықтамасын және емлесін желідегі сөздікте тексеру
Comment[kn]=ಒಂದು ಆನ್‌ಲೈನ್‌ ಶಬ್ಧಕೋಶದಲ್ಲಿ ಪದದ ವಿವರಣೆಗಳನ್ನು ಹಾಗು ಕಾಗುಣಿತಗಳನ್ನು ನೋಡು
Comment[ko]=온라인 사전에서 단어의 의미와 맞춤법을 찾아 봅니다
Comment[ky]=Онлайн-сөздүктөн аныктамасын жана жазуу эрежелерин текшерүү
Comment[lt]=Pasitikrinkite žodžių apibrėžimus ir rašybą internetiniame žodyne
Comment[lv]=Pārbauda vārdu skaidrojumus un rakstību interneta vārdnīcā
Comment[mai]=ऑन लाइन शब्दकोशमे परिभाषा आ वर्तनी देखू
Comment[mk]=Пребарувај зборови во онлајн речник
Comment[ml]=ഓണ്‍ലൈന്‍ നിഘണ്ടുവില്‍ വാക്കുകളുടെ അക്ഷരങ്ങളും നിര്‍വചനങ്ങളും പരിശോധിയ്ക്കക
Comment[mr]=ऑनलाईन शब्दकोशात शब्द व्याख्या व शब्दलेखन करीता तपासा
Comment[ms]=Semak takrif perkataan dan sebutan didalam kamus atas talian
Comment[nb]=Sjekk orddefinisjoner og staving i en ordbok på nettet
Comment[ne]=अनलाइन शब्दकोशमा शब्द परिभाषा र हिज्जे जाँच गर्नुहोस्
Comment[nl]=Zoek betekenissen en spelling van woorden op in een woordenboek op het internet
Comment[nn]=Sjekk orddefinisjonar og staving i ei ordbok på nettet
Comment[or]=ଗୋଟିଏ ଅନ-ଲାଇନ ଅଭିଧାନରେ ଶବ୍ଦର ସୁନିର୍ଦ୍ଦିଷ୍ଟ ଅର୍ଥ ଏବଂ ବନାନକୁ ଦେଖନ୍ତୁ
Comment[pa]=ਇੱਕ ਆਨਲਾਈਨ ਡਿਕਸ਼ਨਰੀ ਵਿੱਚ ਸ਼ਬਦ ਪ੍ਰੀਭਾਸ਼ਾ ਅਤੇ ਸ਼ਬਦ-ਜੋੜ ਵੇਖੋ
Comment[pl]=Wyświetlanie definicji i pisowni słów w słowniku sieciowym
Comment[pt]=Procurar definição e ortografia de palavras num dicionário web
Comment[pt_BR]=Consultar definições e ortografia de palavras em um dicionário on-line
Comment[ro]=Verifică definițiile și ortografia unui cuvânt într-un dicționar online
Comment[ru]=Проверить определение и правописание слова в онлайн-словаре
Comment[si]=වදන් අර්ථදැක්වීම් සහ අක්ෂරවින්‍යාසය සබැදි ශබ්දකෝෂයෙන් පරීක්ෂා කරන්න
Comment[sk]=Skontrolovať definície alebo pravopis slov v online slovníku
Comment[sl]=Preverite razlago in črkovanje besede v spletnem slovarju
Comment[sr]=Проверите значење речи и срицање у речнику на интернету
Comment[sr@latin]=Proverite značenje reči i spelovanje u rečniku na internetu
Comment[sv]=Kontrollera definitioner av ord och stavningar i en onlineordbok
Comment[ta]=ஒரு இணைய அகராதியில் சொற்களை தேடவும்
Comment[te]=లైను వెలుపల నిఘంటువులో పదము నిర్వచనములను మరియు వర్ణక్రమములను తనిఖీచేయుము
Comment[th]=หาความหมายและการสะกดของคำในพจนานุกรมออนไลน์
Comment[tr]=Sözcük tanımlarını ve yazımlarını çevrimiçi bir sözlükte denetle
Comment[ug]=توردىكى لۇغەتتىن سۆز ئېنىقلىمىسى ۋە ئىملاسىنى تەكشۈر
Comment[uk]=Пошук слів та їх написання у інтерактивному словнику
Comment[ur]=آن لائن لغت میں الفاظ کی تعریفیں اور ہجوں کی پڑتال کریں
Comment[vi]=Tìm từ trong từ điển trực tuyến để kiểm tra chính tả và sự định nghĩa
Comment[zh_CN]=在在线字典中查阅单词定义和拼写
Comment[zh_HK]=在網上字典中查詢字詞的解譯及拼法
Comment[zh_TW]=在線上字典中查詢字詞的解譯及拼法
Exec=mate-dictionary
Terminal=false
Type=Application
Icon=accessories-dictionary
StartupNotify=true
Categories=GTK;Office;Dictionary;
Keywords=MATE;dictionary;applet;thesaurus;spelling;definitions;online;
OnlyShowIn=MATE;
X-MATE-DocPath=mate-dictionary/mate-dictionary.xml
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-utils
X-MATE-Bugzilla-Component=gdict
X-MATE-Bugzilla-Version=1.20.2
