[Desktop Entry]
Name=Pictures folder
Name[am]=የስእሎች ፎልደር
Name[ar]=مجلّد الصور
Name[as]=ছবিৰ ফোল্ডাৰ
Name[ast]=Carpeta de semeyes
Name[be]=Каталог з выявамі
Name[bg]=Папка за снимки
Name[bn]=ছবির ফোল্ডার
Name[bn_IN]=ছবির ফোল্ডার
Name[br]=Teuliad ar skeudennoù
Name[ca]=Carpeta d'imatges
Name[ca@valencia]=Carpeta d'imatges
Name[cmn]=圖片資料夾
Name[crh]=Resimler fihristi
Name[cs]=Složka obrázků
Name[cy]=Plygell lluniau
Name[da]=Billedemappe
Name[de]=Bilderordner
Name[dz]=པར་གྱི་སྣོད་འཛིན།
Name[el]=Φάκελος εικόνων
Name[en_AU]=Pictures folder
Name[en_CA]=Pictures folder
Name[en_GB]=Pictures folder
Name[es]=Carpeta de imágenes
Name[et]=Pildikataloog
Name[eu]=Irudiak karpeta
Name[fa]=پوشهٔ تصاویر
Name[fi]=Kuvakansio
Name[fr]=Dossier d'images
Name[ga]=Fillteán pictiúr
Name[gl]=Cartafol de imaxes
Name[gu]=ચિત્રો ફોલ્ડર
Name[he]=תיקיית התמונות
Name[hi]=चित्र फोल्डर
Name[hr]=Mapa slika
Name[hu]=Képek mappa
Name[hy]=Նկարների  թղթապանակ
Name[id]=Folder gambar
Name[is]=Myndamappa
Name[it]=Cartella Immagini
Name[ja]=画像フォルダ
Name[ka]=სურათების დასტა
Name[kk]=Суреттер бумасы
Name[kn]=ಚಿತ್ರಗಳ ಕೋಶ
Name[ko]=그림 폴더
Name[ku]=Peldanka Wêneyan
Name[ky]=Сүрөттөр папкасы
Name[lt]=Paveikslų aplankas
Name[lv]=Bilžu mape
Name[mai]=चित्र फोल्डर
Name[mg]=Lahatahirin'ny Sary
Name[mk]=Папка со слики
Name[ml]=ചിത്രങ്ങളുള്ള കൂട
Name[mn]=Зурийн хавтас
Name[mr]=प्रतिमा संचयीका
Name[ms]=Folder gambar
Name[nb]=Bildemappe
Name[nds]=Billerverteeknis
Name[ne]=तस्वीरको फोल्डर
Name[nl]=Afbeeldingenmap
Name[nn]=Biletmappe
Name[oc]=Repertòri d'imatges
Name[or]=ଛବି ଫୋଲ୍ଡର
Name[pa]=ਤਸਵੀਰ ਫੋਲਡਰ
Name[pl]=Katalog zdjęć
Name[ps]=انځورونه پوښۍ
Name[pt]=Pasta de Imagens
Name[pt_BR]=Pasta de Imagens
Name[ro]=Dosar cu poze
Name[ru]=Папка рисунков
Name[si]=පිංතුර බහලුම
Name[sk]=Priečinok s obrázkami
Name[sl]=Mapa slik
Name[sq]=Kartela e fotografive
Name[sr]=Фасцикла са сликама
Name[sr@latin]=Fascikla sa slikama
Name[sv]=Bildmapp
Name[ta]=படங்கள் அடைவு
Name[te]=చిత్రాల సంచయం
Name[th]=โฟลเดอร์ภาพ
Name[tr]=Resim dizini
Name[uk]=Тека малюнків
Name[ur]=تصاویر کا فولڈر
Name[uz]=Rasmlar jildi
Name[vi]=Thư mục Ảnh
Name[zh_CN]=图片文件夹
Name[zh_HK]=圖片資料夾
Name[zh_TW]=圖片資料夾
Comment=Display a slideshow from your Pictures folder
Comment[ar]=أظهر عرض شرائح من مجلد الصور الخاص بك
Comment[as]=আপনাৰ ছবিৰ ফোল্ডাৰ এৰ োৰ একটি স্লাইডশো প্ৰদৰ্শন কৰক
Comment[ast]=Amuesa una presentación de la carpeta de semeyes
Comment[be]=Паказвае слайд-шоў з вашых выяў
Comment[bg]=Показва прожекция от папката със снимки
Comment[bn]=আপনার ছবির ফোল্ডার থেকে একটি স্লাইডশো প্রদর্শন করুন
Comment[bn_IN]=আপনার ছবির ফোল্ডার এর োর একটি স্লাইডশো প্রদর্শন করুন
Comment[ca]=Mostra una projecció amb diapositives de la vostra carpeta d'imatges
Comment[ca@valencia]=Mostra una projecció amb diapositives de la vostra carpeta d'imatges
Comment[cmn]=顯示圖片資料夾的幻燈片放映
Comment[crh]=Resim klasörünüzden bir slayt gösterisi göster
Comment[cs]=Zobrazovat obrázky z vaší složky obrázků
Comment[cy]=Dangos sioe sleidiau o'ch plygell Lluniau
Comment[da]=Viser et billedeshow af billeder fra din billedemappe
Comment[de]=Eine Diaschau mit den Bildern aus Ihrem Bilderordner anzeigen
Comment[dz]=ཁྱོད་རའི་པར་གྱི་སྣོད་འཛིན་ནང་ལས་ བཤུད་བརྙན་ཅིག་ བཀྲམ་སྟོན་འབད།
Comment[el]=Προβολή μιας παρουσίασης εικόνων του φακέλου των εικόνων σας
Comment[en_AU]=Display a slideshow from your Pictures folder
Comment[en_CA]=Display a slideshow from your Pictures folder
Comment[en_GB]=Display a slideshow from your Pictures folder
Comment[es]=Muestra una serie de imágenes de su carpeta Imágenes
Comment[et]=Slaidiesitluse kuvamine Sinu pildikataloogi põhjal
Comment[eu]=Bistaratu diapositibak Irudien karpetatik
Comment[fa]=اسلایدهایی از پوشهٔ تصاویر شما نمایش داده شود
Comment[fi]=Näyttää diaesityksen kuvakansiossasi olevista kuvista
Comment[fr]=Ceci affiche un diaporama des images de votre dossier d'images.
Comment[gl]=Amosa un diaporama das imaxes do seu cartafol Imaxes
Comment[gu]=તમારા ચિત્રો ફોલ્ડરમાંથી સ્લાઈડશો દર્શાવો
Comment[he]=הצגת שקופיות של תמונות מתיקיית התמונות שלך
Comment[hi]=अपने चित्र फोल्डर से स्लाइडशो दिखाएं
Comment[hr]=Prikaži klizni slikokaz iz vlastite mape slika
Comment[hu]=Egy diavetítés a Képek mappából
Comment[hy]=Ցուցադրել սլայդցուցադրումը ձեր նկարների թղթապանակից
Comment[id]=Tampilkan slideshow dari folder Gambar Anda
Comment[is]=Sýna skjásýningu með myndum úr myndamöppunni þinni
Comment[it]=Mostra una sequenza dalla propria cartella Immagini
Comment[ja]=これはお気に入りのフォルダにある画像をスライドショー形式で表示します
Comment[ka]=მომხმარებლის სურათების დასტის სლაიდშოუ
Comment[kn]=ನಿಮ್ಮ ಚಿತ್ರದ ಕೋಶದಿಂದ ಒಂದು ಚಿತ್ರಪ್ರದರ್ಶನವನ್ನು(ಸ್ಲೈಡ್‌ಶೋ) ತೋರಿಸು
Comment[ko]=그림 폴더에 있는 그림의 슬라이드를 보여줍니다
Comment[ku]=Pêşaneke slaytan ya ji wêneyên ku ji peldanka wêneyên wê pêk hatiye pêşkêş dike
Comment[lt]=Rodyti skaidrių šou iš jūsų paveikslų aplanko
Comment[lv]=Rādīt jūsu bilžu mapes slīdrādi
Comment[mai]=अपन चित्र फोल्डर सँ स्लाइडशो देखाबू
Comment[mg]=Mampiseho misesisesy ny sary avy ao amin'ny lahatahirin'ny sarinao
Comment[mk]=Прикажи слајд шоу од вашата папка со слики
Comment[ml]=നിങ്ങളുടെ ചിത്രങ്ങളുള്ള കൂടയില്‍ നിന്നും ഒന്നൊന്നായി പ്രദര്‍ശിപ്പിയ്ക്കുക
Comment[mn]=Таны Зургийн хавтаснаас слайдыг харуулах
Comment[mr]=तुमच्या प्रतिमा संचयीका पासून स्लाईडशो दर्शवा
Comment[ms]=Paparkan paparan slaid dari folder Gambar anda
Comment[nb]=Vis en lysbildefremvisning fra din bildemappe
Comment[nds]=Een Döörloop vu'm Billerverteeknis opwiesen
Comment[ne]=तपाईँको तस्विर फोल्डरबाट स्लाइडसो प्रदर्शन गर्नुहोस्
Comment[nl]=Dit toont een diapresentatie met afbeeldingen uit uw afbeeldingenmap
Comment[nn]=Vis ein lysbiletfremvising frå din biletmappe
Comment[or]=ଆପଣଙ୍କର ଛବି ଫୋଲ୍ଡରରୁ ଗୋଟିଏ ସ୍ଲାଇଡସୋ ପ୍ରଦର୍ଶନ କର
Comment[pa]=ਆਪਣੇ ਤਸਵੀਰਾਂ ਫੋਲਡਰ ਤੋਂ ਝਾਕੀਆਂ ਵੇਖਾਓ
Comment[pl]=Wyświetla pokaz slajdów z katalogu zdjęć
Comment[pt]=Mostrar uma apresentação a partir da sua pasta de Imagens
Comment[pt_BR]=Exibe uma apresentação de slides com as figuras da sua pasta de imagens
Comment[ro]=Arată o diaporamă cu imagini din dosarul cu poze
Comment[ru]=Показывает слайд-шоу изображений из папки Рисунки
Comment[si]=ඔබගේ පිංතුර බහලුමෙන් තිරපෙන්නූමක් දර්ශණය කරන්න
Comment[sk]=Zobraziť prezentáciu z vášho priečinka obrázkov
Comment[sl]=Pokaži predstavitev iz mape slike
Comment[sq]=Shfaq minjatura fotografish nga kartela juaj e fotografive
Comment[sr]=Приказује у низу све слике из ваше личне фасцикле
Comment[sr@latin]=Prikaži u nizu sve slike iz vaše lične fascikle
Comment[sv]=Visa ett bildspel från din Bildmapp
Comment[ta]=உங்கள் படங்கள் அடைவிலிருந்து ஸ்லைடு காட்சியை காட்டவும்
Comment[te]=మీ చిత్రముల సంచయంనుండి స్లైడ్‌షోను ప్రదర్శించుము
Comment[th]=แสดงภาพสไลด์จากโฟลเดอร์ภาพของคุณ
Comment[tr]=Resim dizininizden bir slayt gösterisi göster
Comment[uk]=Показує слайди зображень з теки малюнків
Comment[ur]=اپنی تصاویر کے فولڈر سے سلائیڈ شو دکھائیں
Comment[vi]=Hiển thị trình diễn các ảnh từ thư mục Ảnh (Pictures) của bạn
Comment[zh_CN]=显示您图片文件夹中图片的幻灯片
Comment[zh_HK]=顯示圖片資料夾的幻燈片放映
Comment[zh_TW]=顯示圖片資料夾的幻燈片放映
Exec=/usr/lib/mate-screensaver/mate-screensaver/slideshow
TryExec=/usr/lib/mate-screensaver/mate-screensaver/slideshow
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
Keywords=MATE;screensaver;custom;slideshow;pictures;folder;
OnlyShowIn=MATE;
