#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Kaisen Terminal
Name[fr]=Kaisen Terminal
Comment=Ameliored shell in ZSH based
Comment[fr]=Shell amélioré à base de ZSH
TryExec=terminator
Exec=terminator
Icon=utilities-terminal
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
StartupNotify=true
X-Ubuntu-Gettext-Domain=terminator
X-Ayatana-Desktop-Shortcuts=NewWindow;
Keywords=terminal;shell;prompt;command;commandline;

[NewWindow Shortcut Group]
Name=Open a New Window
Exec=terminator
TargetEnvironment=Unity

