[Desktop Entry]
Name=futurePrototype
X-KDE-PluginInfo-Name=futurePrototype
X-KDE-PluginInfo-Author=Alex Makas
X-KDE-PluginInfo-Email=radicalmonday@gmail.com
X-KDE-PluginInfo-License=GPLv2+
