[Desktop Entry]
Name=File Management
Name[af]=Lêerbestuur
Name[am]=የ ፋይል አስተዳዳሪ
Name[ar]=إدارة الملفات
Name[as]=নথিপত্ৰ ব্যবস্থাপনা
Name[ast]=Alministración de Ficheros
Name[az]=Fayl İdarəsi
Name[be]=Кіраванне файламі
Name[bg]=Управление на файлове
Name[bn]=ফাইল ব্যবস্থাপনা
Name[bn_IN]=ফাইল ব্যবস্থাপনা
Name[br]=Merañ ar restroù
Name[bs]=Upravljanje datotekama
Name[ca]=Gestió de fitxers
Name[ca@valencia]=Gestió de fitxers
Name[cmn]=檔案管理
Name[crh]=Dosye İdaresi
Name[cs]=Správa souborů
Name[cy]=Rheoli ffeiliau
Name[da]=Filhåndtering
Name[de]=Dateiverwaltung
Name[dz]=ཡིག་སྣོད་འཛིན་སྐྱོང་།
Name[el]=Διαχείριση αρχείων
Name[en_AU]=File Management
Name[en_CA]=File Management
Name[en_GB]=File Management
Name[eo]=Administrado de dosieroj
Name[es]=Gestión de archivos
Name[es_AR]=Gestión de Archivos
Name[es_CO]=Gestión de archivos
Name[et]=Failihaldus
Name[eu]=Fitxategi-kudeaketa
Name[fa]=مدیریت پرونده‌ها
Name[fi]=Tiedostonhallinta
Name[fr]=Gestion des fichiers
Name[fur]=Gjestion dai files
Name[ga]=Bainistíocht Comhad
Name[gl]=Xestión de ficheiros
Name[gu]=ફાઈલ વ્યવસ્થાપક
Name[ha]=Hukumar Sarrafa Fayil
Name[he]=ניהול קבצים
Name[hi]=फ़ाइल प्रबंधन
Name[hr]=Upravljanje datotekama
Name[hu]=Fájlkezelés
Name[hy]=Ֆայլերի կառավարում
Name[id]=Manajemen Berkas
Name[ig]=Nlekọta faịlụ
Name[is]=Skráarstjórnun
Name[it]=Gestione file
Name[ja]=ファイル管理
Name[ka]=ფაილების მართვა
Name[kk]=Файлдарды басқару
Name[kn]=ಕಡತ ವ್ಯವಸ್ಥಾಪನೆ
Name[ko]=파일 관리
Name[ku]=Rêvebirina Pelan
Name[ku_IQ]=بەڕێوەبردنی پەڕگە
Name[ky]=Файлдарды башкаруу
Name[li]=Besjtandjwirtsjaf
Name[lt]=Failų tvarkymas
Name[lv]=Failu pārvalde
Name[mai]=फाइल प्रबंधन
Name[mg]=Fandrindrana rakitra
Name[mk]=Подредување на датотеки
Name[ml]=രചനാ നടത്തിപ്പ്
Name[mn]=Файлуудыг зохицуулах
Name[mr]=फाइल व्यवस्थापन
Name[ms]=Pengurusan Fail
Name[nb]=Filhåndtering
Name[nds]=Dateioppassen
Name[ne]=फाइल ब्यवस्थापन
Name[nl]=Bestandsbeheer
Name[nn]=Filhandsaming
Name[nso]=Taolo ya Faele
Name[oc]=Gestion de fichièrs
Name[or]=ଫାଇଲ ପରିଚାଳନା
Name[pa]=ਫਾਇਲ ਪਰਬੰਧ
Name[pl]=Zarządzanie plikami
Name[pt]=Gestão de Ficheiros
Name[pt_BR]=Gerenciamento de arquivos
Name[ro]=Administrare fișiere
Name[ru]=Управление файлами
Name[si]=ගොනු කළමණාකරනය
Name[sk]=Správa súborov
Name[sl]=Upravljanje datotek
Name[sq]=Administrimi i file
Name[sr]=Управљање датотекама
Name[sr@latin]=Upravljanje datotekama
Name[sv]=Filhantering
Name[ta]=கோப்பு மேலாண்மை
Name[te]=దస్ర్తాలు నిర్వహణ
Name[th]=การจัดการแฟ้ม
Name[tk]=Faýl Müdirlemegi
Name[tr]=Dosya Yönetimi
Name[ug]=ھۈججەت باشقۇرۇش
Name[uk]=Керування файлами
Name[ur]=فائل ادارت
Name[uz]=Fayl boshqaruvi
Name[vi]=Quản lý tập tin
Name[wa]=Manaedjmint des fitchîs
Name[xh]=Ukuphathwa Kweefayili
Name[yo]=Àbójútó Fáìlì
Name[zh_CN]=文件管理
Name[zh_HK]=檔案管理
Name[zh_TW]=檔案管理
Name[zu]=Ukuphathwa kuhele
Comment=Change the behaviour and appearance of file manager windows
Comment[am]=የ ፋይል አስተዳዳሪ መስኮት ባህሪ እና አቀራረብ መቀየሪ 
Comment[ar]=غيّر سلوك ومظهر نافذة مدير الملفات
Comment[as]=সৰ্বমোট নথিপত্ৰ
Comment[ast]=Camuda'l comportamientu y aspeutu de les ventanes del xestor de ficheros
Comment[be]=Змяніць паводзіны і выгляд вокнаў кіраўніка файлаў
Comment[bg]=Промяна на поведението и изгледа на прозорците на файловия мениджър
Comment[bn]=ফাইল পরিচালনব্যবস্থার উইন্ডোর আচরণ ও চেহারা পরিবর্তন করুন
Comment[bn_IN]=ফাইল পরিচালনব্যবস্থার উইন্ডোর আচরণ ও চেহারা পরিবর্তন করুন
Comment[br]=Kemmañ emzalc'h ha neuz presnestroù an ardoer restroù
Comment[ca]=Canvieu l'aparença i el comportament de les finestres del gestor de fitxers
Comment[ca@valencia]=Canvieu l'aparença i el comportament de les finestres del gestor de fitxers
Comment[cmn]=改變檔案管理員視窗的行為與外觀
Comment[crh]=Dosya yönetici pencerelerinin işleyişini ve görünümünü değiştirin
Comment[cs]=Změnit chování a vzhled oken správce souborů
Comment[da]=Ændr opførslen og udseendet af filhåndteringsvinduer
Comment[de]=Legt das Verhalten und das Aussehen des Dateiverwalters fest
Comment[dz]=ཡིག་སྣོད་འཛིན་སྐྱོང་པའི་སྒོ་སྒྲིག་ཚུ་གི་ སྤྱོད་ལམ་དང་འབྱུང་སྣང་འདི་བསྒྱུར་བཅོས་འབད་
Comment[el]=Αλλαγή της εμφάνισης και της συμπεριφοράς των παραθύρων του διαχειριστή αρχείων
Comment[en_AU]=Change the behaviour and appearance of file manager windows
Comment[en_CA]=Change the behaviour and appearance of file manager windows
Comment[en_GB]=Change the behaviour and appearance of file manager windows
Comment[eo]=Ŝanĝi la konduton kaj aperon de dosieradministrilaj fenestroj
Comment[es]=Cambie el comportamiento y apariencia de las ventanas del gestor de archivos
Comment[es_CO]=Cambie el comportamiento y apariencia de las ventanas del administrador de archivos
Comment[et]=Failihalduri akende käitumise ja välimuse muutmine
Comment[eu]=Fitxategi-kudeatzaileen leihoen portaera eta itxura aldatu
Comment[fa]=تغییر رفتار و ظاهر پنجره‌های نرم‌افزار مدیریت فایل
Comment[fi]=Muuta tiedostonhallinnan ikkunoiden toimintaa ja ulkoasua
Comment[fr]=Changer le comportement et l'apparence des fenêtres du gestionnaire de fichiers
Comment[fur]=Cambie l'aspiet e il compuartament dai barcons dal gjestôr dai files
Comment[ga]=Athraigh oibriú agus cuma fuinneoga bhainisteoir comhad
Comment[gl]=Cambiar o comportamente e aparencia das xanelas do xestor de ficheiros
Comment[gu]=ફાઈલ વ્યવસ્થાપક વિન્ડોની વર્તણૂક અને દેખાવ બદલો
Comment[he]=שינוי ההתנהגות והמראה של חלונות מנהל הקבצים
Comment[hi]=फाइल मैनेजर विंडो का आचरण व प्रकटन बदलें
Comment[hr]=Promijeni ponašanje i izgled prozora upravitelja datoteka
Comment[hu]=A fájlkezelő ablakok viselkedésének és megjelenésének módosítása
Comment[hy]=Փոխել ֆայլի ղեկավարման սարքի պատուհանների վարքը և տեսքը
Comment[id]=Mengubah perilaku dan tampilan jendela manajer berkas
Comment[is]=Breyta hegðan og útliti skráastjóraglugga
Comment[it]=Cambia il comportamento e l'aspetto delle finestre del file manager
Comment[ja]=ファイルマネージャの動きとウィンドウの外観を変更します
Comment[ka]=ფაილ მენჯერის ფანჯრის ქცევის და გაფორმების შეცვლა
Comment[kn]=ಕಡತ ವ್ಯವಸ್ಥಾಪಕ ವಿಂಡೋದ ವರ್ತನೆ ಹಾಗು ಗೋಚರಿಕೆಯನ್ನು ಬದಲಾಯಿಸು
Comment[ko]=파일 관리자 창의 특성과 모양새를 바꿉니다
Comment[lt]=Keisti failų tvarkytuvės langų išvaizdą ir veikimą
Comment[lv]=Izmainīt failu pārvaldnieka logu izskatu un izturēšanos
Comment[mai]=फाइल मैनेजर विंडो क' आचरण आ प्रकटन बदलू
Comment[mk]=Смени го однесувањето и изгледот на прозорците на менаџерот за датотеки
Comment[ml]=ഫയല്‍ മാനേജര്‍ ജാലകങ്ങളുടെ കാഴ്ചയും പെരുമാറ്റവും മാറ്റുക
Comment[mr]=फाइल व्यवस्थापक चौकटींचे वागणुक व दृश्य बदलवा
Comment[ms]=Ubah kelakuan dan penampilan tetingkap pengurus fail
Comment[nb]=Endre oppførsel og utseende for filhåndterervinduer
Comment[nds]=Änner de Maneren un dat Utsehn vun Datei-Uppasser-Fensters
Comment[ne]=फाइल प्रबन्धक सञ्झ्यालहरूको ब्यबहार र देखावट परिवर्तन गर्नुहोस्
Comment[nl]=Wijzig het gedrag en uiterlijk van de bestandsbeheervensters
Comment[nn]=Endra oppførsel og utsjåande for filhandterervindauge
Comment[oc]=Modifica lo compòrtament
Comment[or]=ଫାଇଲ ପରିଚାଳକ ୱିଣ୍ଡୋର ଆଚରଣ ଏବଂ ଦୃଶ୍ୟକୁ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਫਾਇਲ ਮੈਨੇਜਰ ਵਿੰਡੋ ਦਾ ਰਵੱਈਆ ਅਤੇ ਦਿੱਖ ਬਦਲੋ
Comment[pl]=Zmiana zachowania i wyglądu okien menedżera plików
Comment[pt]=Alterar o comportamento e aparência das janelas do gestor de ficheiros
Comment[pt_BR]=Altere o comportamento e aparência das janelas do gerenciador de arquivos
Comment[ro]=Modifică comportamentul și aspectul ferestrelor administratorului de fișiere
Comment[ru]=Изменить внешний вид и поведение окон файлового менеджера
Comment[sk]=Zmeniť správanie a vzhľad okien správcu súborov
Comment[sl]=Spremeni obnašanje in videz oken urejevalnika datotek.
Comment[sq]=Ndryshon sjelljen dhe paraqitjen e dritareve të administruesit të file
Comment[sr]=Измените понашање и изглед прозора управника датотека
Comment[sr@latin]=Izmeni ponašanje i izgled prozora upravljača datoteka
Comment[sv]=Ändra beteendet och utseendet för filhanterarens fönster
Comment[ta]=கோப்பு மேலாளர் சாளரங்களின் நடத்தை மற்றும் காட்சியை மாற்றுக.
Comment[te]=దస్త్ర నిర్వాహకి విండోల ప్రవర్తనను మరియు కనిపించువిదానాన్ని మార్చుము
Comment[th]=เปลี่ยนพฤติกรรมและรูปโฉมของหน้าต่างโปรแกรมจัดการแฟ้ม
Comment[tr]=Dosya yönetici pencerelerinin işleyişini ve görünümünü değiştirin
Comment[ug]=ھۆججەت باشقۇرغۇچ كۆزنەكنىڭ ھەرىكەت ۋە كۆرۈنۈشىنى ئۆزگەرت
Comment[uk]=Змінити зовнішній вигляд та поведінку вікон керівника файлів
Comment[ur]=فائل منیجر کے دریچوں کا سلوک اور شکل وصورت تبدیل کریں
Comment[uz]=Qoʻyish buyrugʻini tanlasangiz, "%s"'dan nusxa olinadi
Comment[vi]=Thay đổi hành vi và diện mạo của cửa sổ trình quản lý tập tin
Comment[zh_CN]=更改文件管理器窗口的行为和外观
Comment[zh_HK]=改變檔案管理員視窗的行為與外觀
Comment[zh_TW]=改變檔案管理員視窗的行為與外觀
Exec=caja-file-management-properties
Icon=system-file-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;X-MATE-PersonalSettings;
Keywords=file;manager;change;properties;behaviour;appearance;windows;MATE;
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=caja
X-MATE-Bugzilla-Component=Preferences
X-MATE-Bugzilla-Version=1.20.3
