#!/usr/bin/env xdg-open

[Desktop Entry]
Name=crunch
Name[fr]=crunch
Comment=Tool for generating wordlist
Comment[fr]=Outil pour générer des wordlists
Exec=terminator -e "zsh -c 'crunch;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Passwords

