#!/usr/bin/env xdg-open

[Desktop Entry]
Name=dump
Name[fr]=dump
Comment=Tool for backup ext partitions
Comment[fr]=Outil pour sauvegarder les partitions ext
Exec=terminator -e "zsh -c 'sudo dump;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Backup
X-Kaisen-Package=dump;kaisen-sysadmin-tools
