#!/usr/bin/env xdg-open

[Desktop Entry]
Name=DDRescue-GUI
Comment=Easily recover data graphically with DDRescue-GUI
Comment[fr]=Recupération de données avec ddrescue en mode graphique
Exec=sh -c "gksudo python3 /usr/share/ddrescue-gui/DDRescue_GUI.py"
Icon=ddrescue-gui
Terminal=false
Type=Application
Categories=Recovery
StartupNotify=true
X-Kaisen-Package=ddrescue-gui;kaisen-data-recovery;kaisen-technicians-tools
