#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Ophcrack
Name[fr]=Ophcrack
Comment=Tool for Windows password lost cracking 
Comment[fr]=Outil pour forcer un mot de passe Windows perdu
Exec=ophcrack
Icon=ophcrack
Terminal=false
Type=Application
StartupNotify=true
Categories=Passwords
X-Kaisen-Package=kaisen-password-tools;kaisen-technicians-tools;ophcrack
