#!/usr/bin/env xdg-open

[Desktop Entry]
Name=btrfs-usage-report
Name[fr]=btrfs-usage-report
Comment=Tool for manage BTRFS
Comment[fr]=Outil pour gérer BTRFS
Exec=terminator -e "zsh -c 'btrfs-usage-report;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=BTRFS
X-Kaisen-Package=btrfs-progs;kaisen-filesystems
