#!/usr/bin/env xdg-open

[Desktop Entry]
Name=du
Name[fr]=du
Comment=Tool for viewing disk space using
Comment[fr]=Outil pour visualiser l'espace disque utilisé
Exec=terminator -e "zsh -c 'du --help;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DisksAnalysis
X-Kaisen-Package=kaisen-technicians-tools;kaisen-disks-analysis
