#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ceph-fuse  
Name[fr]=ceph-fuse  
Comment=Tool for manage CEPH volumes            
Comment[fr]=Outil pour gérer des volumes CEPH     
Exec=terminator -e "zsh -c 'sudo ceph-fuse;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Filesystems
X-Kaisen-Package=ceph-fuse;kaisen-filesystems
