#!/usr/bin/env xdg-open

[Desktop Entry]
Name=aircrack-ng
Name[fr]=aircrack-ng
Comment=Tool for testing wifi security
Comment[fr]=Outil pour tester la sécurité du wifi
Exec=terminator -e "zsh -c 'aircrack-ng;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=WIFI
X-Kaisen-Package=aircrack-ng
