#!/usr/bin/env xdg-open

[Desktop Entry]
Name=lspci
Name[fr]=lspci
Comment=Tool for list hardware name
Comment[fr]=Outil pour lister le nom du matériel
Exec=terminator -e "zsh -c 'lspci;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Hardware
