#!/usr/bin/env xdg-open

[Desktop Entry]
Name=pigz
Name[fr]=pigz
Comment=Tool for gzip archives with multi-threads
Comment[fr]=Outil pour les archives gzip avec plusieurs threads
Exec=terminator -e "zsh -c 'pigz;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=ZIP
X-Kaisen-Package=pigz;kaisen-zip;kaisen-technicians-tools
