[Desktop Entry]
Name=Baobab
Name[fr]=Baobab 
Comment[fr]=Vérifier la taille des dossiers et l’espace disque disponible
Comment=Check folder sizes and available disk space
Exec=baobab
Icon=baobab
Terminal=false
Type=Application
StartupNotify=true
MimeType=inode/directory;
Categories=DisksAnalysis
X-Kaisen-Package=baobab;kaisen-disks-analysis;kaisen-technicians-tools;
