#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Team Viewer
Name[fr]=Team Viewer
Comment=Tool for remote maintenance
Comment[fr]=Outil de maintenance à distance
Exec=teamviewer
Icon=TeamViewer
Terminal=false
Type=Application
StartupNotify=true
Categories=RemoteMaintenance
