#!/usr/bin/env xdg-open

[Desktop Entry]
Name=disk-manager
Name[fr]=disk-manager
Comment=Tool for manage yours disks
Comment[fr]=Outil pour gérer vos disques
Exec=sh -c "gksudo disk-manager"
Icon=disk-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=DisksAnalysis
