#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ssh-enable
Name[fr]=ssh-activé
Comment=Enable ssh daemon
Comment[fr]=Activer service ssh
Exec=terminator -e "zsh -c '/opt/services/ssh-enable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SSSH
