#!/usr/bin/env xdg-open

[Desktop Entry]
Name=XCA 
Name[fr]=XCA
Comment=Tool for create your CA and key management 
Comment[fr]=Outil pour créer votre CA et gérer vos clés
Exec=xca
Icon=xca-32x32
Terminal=false
Type=Application
StartupNotify=true
Categories=SystemSecurity
X-Kaisen-Package=xca;kaisen-sysadmin-tools
