#!/usr/bin/env xdg-open

[Desktop Entry]
Name=lmsensors-enable
Name[fr]=lmsensors-activé
Comment=Enable lmsensors daemon
Comment[fr]=Activer service lmsensors
Exec=terminator -e "zsh -c '/opt/services/lmsensors-enable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SLMSensors
