#!/usr/bin/env xdg-open

[Desktop Entry]
Name=WoeUSB GUI
Name[fr]=WoeUSB Gui
Comment=Tool for create Windows bootable usb
Comment[fr]=Outil pour créer un clé USB bootable Windows
Exec=sh -c "gksudo woeusbgui"
Icon=woeusbgui-icon
Terminal=false
Type=Application
StartupNotify=true
Categories=USBBoot
