#!/usr/bin/env xdg-open

[Desktop Entry]
Name=tcpreplay
Name[fr]=tcpreplay
Comment=Tool for receiving records file tcpdump 
Comment[fr]=Outil pour recevoir des fichiers tcpdump
Exec=terminator -e "zsh -c 'sudo tcpreplay -H;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=TCP
X-Kaisen-Package=tcpreplay;kaisen-network-tools
