#!/usr/bin/env xdg-open

[Desktop Entry]
Name=chntpw
Name[fr]=chntpw
Comment=Tool for reset passwords and edit users data in Windows SAM base
Comment[fr]=Outil pour réinitialiser les mots de passe et éditer les données utilisateurs sur les bases SAM de Windows
Exec=terminator -e "zsh -c 'sudo chntpw -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Passwords
X-Kaisen-Package=chntpw;kaisen-password-tools;kaisen-technicians-tools
