#!/usr/bin/env xdg-open

[Desktop Entry]
Name=rsync
Name[fr]=rsync
Comment=Tool for save all your directories with a many protocols
Comment[fr]=Outil pour sauvegarder tous vos répertoires avec de nombreux protocoles
Exec=terminator -e "zsh -c 'rsync -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SystemSecurity
X-Kaisen-Package=rsync;kaisen-sysadmin-tools
