#!/usr/bin/env xdg-open

[Desktop Entry]
Name=dig
Name[fr]=dig
Comment=Tool for analyse your DNS servers
Comment[fr]=Outil pour analyser vos serveurs DNS
Exec=terminator -e "zsh -c 'dig -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DNS
X-Kaisen-Package=dnsutils;kaisen-network-tools
