#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Packet Sender
Name[fr]=Packet Sender
Comment=Tool for simulating network trafic
Comment[fr]=Outil pour simuler du trafic réseau
Exec=terminator -e "zsh -c 'cd /opt;sudo ./PacketSender_Linux_x64_v6.2.3.AppImage;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NetworkSecurity
