#!/usr/bin/env xdg-open

[Desktop Entry]
Name=cmospwd
Name[fr]=cmospwd
Comment=Tool for recovery password in your BIOS
Comment[fr]=Outil pour réinitialiser le mot de passe de votre BIOS
Exec=terminator -e "zsh -c 'sudo cmospwd -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Passwords
X-Kaisen-Package=cmospwd;kaisen-password-tools;kaisen-technicians-tools;
