#!/usr/bin/env xdg-open

[Desktop Entry]
Name=VirtualBox
Name[fr]=VirtualBox
Comment=Tool for create virtual machines 
Comment[fr]=Outil pour créer des machines virtuelles
Exec=virtualbox
Icon=virtualbox
Terminal=false
Type=Application
StartupNotify=true
Categories=SystemSecurity

