#!/usr/bin/env xdg-open

[Desktop Entry]
Name=fatresize
Name[fr]=fatresize
Comment=Tool for the partitions FAT16/FAT32
Comment[fr]=Outil pour les partitions FAT16/FAT32
Exec=terminator -e "zsh -c 'sudo fatresize -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Partitioning
X-Kaisen-Package=kaisen-filesystems
