#!/usr/bin/env xdg-open

[Desktop Entry]
Name=dislocker-fuse
Name[fr]=dislocker-fuse
Comment=Tool for bitlocker disk
Comment[fr]=Outil pour les disques bitlocker
Exec=terminator -e "zsh -c 'dislocker-fuse;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Bitlocker
X-Kaisen-Package=dislocker;kaisen-mount;kaisen-technicians-tools
