#!/usr/bin/env xdg-open

[Desktop Entry]
Name=mkfs.ext4 
Name[fr]=mkfs.ext4 
Comment=Tool for create ext4 partition
Comment[fr]=Outil pour créer une partition ext4 
Exec=terminator -e "zsh -c 'sudo mkfs.ext4;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=MKFS
X-Kaisen-Package=kaisen-filesystems
