#!/usr/bin/env xdg-open

[Desktop Entry]
Name=fsck.ext4
Name[fr]=fsck.ext4
Comment=Tool for repair ext4 partition
Comment[fr]=Outil pour réparer une partition ext4
Exec=terminator -e "zsh -c 'sudo fsck.ext4;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=FSCK
X-Kaisen-Package=kaisen-filesystems
