#!/usr/bin/env xdg-open

[Desktop Entry]
Name=whois
Name[fr]=whois
Comment=WHOIS client
Comment[fr]=Client WHOIS
Exec=terminator -e "zsh -c 'whois --help;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=DNS
X-Kaisen-Package=whois;kaisen-network-tools
