#!/usr/bin/env xdg-open

[Desktop Entry]
Name=fcrackzipinfo
Name[fr]=fcrackzipinfo
Comment=Tool for info zip password
Comment[fr]=Outil pour récupérer les infos d'un zip protégé
Exec=terminator -e "zsh -c 'fcrackzipinfo --help;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Passwords
