#!/usr/bin/env xdg-open

[Desktop Entry]
Name=logrotate
Name[fr]=logrotate
Comment=Tool for logs gestion
Comment[fr]=Outil de gestion de logs
Exec=terminator -e "zsh -c 'sudo logrotate;/bin/zsh'" 
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NetworkSecurity
