#!/usr/bin/env xdg-open

[Desktop Entry]
Name=sipcalc
Name[fr]=sipcalc
Comment=Tool for VLSM calculating
Comment[fr]=Outil pour les masques de sous-réseaux
Exec=terminator -e "zsh -c 'sipcalc -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=IP
X-Kaisen-Package=sipcalc;kaisen-network-tools
