#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ntfscat 
Name[fr]=ntfscat
Comment=Tool for NTFS partition
Comment[fr]=Outil pour partition NTFS
Exec=terminator -e "zsh -c 'ntfscat;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NTFS
X-Kaisen-Package=kaisen-filesystems
