#!/usr/bin/env xdg-open

[Desktop Entry]
Name=xHydra
Name[fr]=xHydra
Comment=Tool for recovery password on online account (GUI)
Comment[fr]=Outil pour récupérer un mot de passe d'un compte en ligne (GUI)
Exec=xhydra
Icon=xhydra
Terminal=false
Type=Application
StartupNotify=true
Categories=Passwords
