#!/usr/bin/env xdg-open

[Desktop Entry]
Name=mkfs.ntfs
Name[fr]=mkfs.ntfs 
Comment=Tool for create ntfs partition
Comment[fr]=Outil pour créer une partition ntfs 
Exec=terminator -e "zsh -c 'sudo mkfs.ntfs;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=MKFS
X-Kaisen-Package=kaisen-filesystems
