#!/usr/bin/env xdg-open

[Desktop Entry]
Name=xfs_fsr
Name[fr]=xfs_fsr
Comment=Tool for XFS partition
Comment[fr]=Outil pour partition XFS
Exec=terminator -e "zsh -c 'sudo xfs_fsr;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=XFS
X-Kaisen-Package=kaisen-filesystems
