#!/usr/bin/env xdg-open

[Desktop Entry]
Name=dirvish-locate
Name[fr]=dirvish-locate
Comment=Tool for backup filesystem
Comment[fr]=Outil pour sauvegarder un système de fichiers
Exec=terminator -e "zsh -c 'sudo dirvish-locate;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Dirvish

