#!/usr/bin/env xdg-open

[Desktop Entry]
Name=lshw
Name[fr]=lshw
Comment=Tool for list hardware
Comment[fr]=Outil pour lister le matériel
Exec=terminator -e "zsh -c 'sudo lshw;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Hardware

