#!/usr/bin/env xdg-open

[Desktop Entry]
Name=dhclient
Name[fr]=dhclient
Comment=Tool for actualizing DHCP lease
Comment[fr]=Outil pour actualiser le bail DHCP
Exec=terminator -e "zsh -c 'sudo dhclient;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NetworkSecurity
