#!/usr/bin/env xdg-open

[Desktop Entry]
Name=dmidecode
Name[fr]=dmidecode
Comment=Tool for obtain all hardware informations
Comment[fr]=Outil pour obtenir toutes les informations hardwares
Exec=terminator -e "zsh -c 'sudo dmidecode;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Hardware
X-Kaisen-Package=dmidecode;kaisen-hardware;kaisen-technicians-tools
