#!/usr/bin/env xdg-open

[Desktop Entry]
Name=btrfs-image
Name[fr]=btrfs-image
Comment=Tool for manage BTRFS image
Comment[fr]=Outil pour gérer une image BTRFS
Exec=terminator -e "zsh -c 'btrfs-image;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=BTRFS
X-Kaisen-Package=btrfs-tools;kaisen-filesystems
