#!/usr/bin/env xdg-open

[Desktop Entry]
Name=fsarchiver
Name[fr]=fsarchiver
Comment=Tool for cloning Linux and Windows partitions
Comment[fr]=Outil pour cloner des parttions Linux et Windows 
Exec=terminator -e "zsh -c 'sudo fsarchiver -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Cloning
X-Kaisen-Package=fsarchiver;kaisen-cloning;kaisen-technicians-tools
