#!/usr/bin/env xdg-open

[Desktop Entry]
Name=iptraf
Name[fr]=iptraf
Comment=Tool for analyse IP traffic
Comment[fr]=Outil pour analyser le traffic IP
Exec=terminator -e "zsh -c 'sudo iptraf-ng;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=IP
X-Kaisen-Package=iptraf;kaisen-network-tools
