#!/usr/bin/env xdg-open

[Desktop Entry]
Name=balenaEtcher
Name[fr]=balenaEtcher
Comment=Tool for create Linux USB bootable key
Comment[fr]=Outil pour créer des clés USB bootables Linux
Exec=sh -c "gksudo /opt/balenaEtcher-1.5.76-x64.AppImage"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=USBBoot
