#!/usr/bin/env xdg-open

[Desktop Entry]
Name=irqbalance-enable
Name[fr]=irqbalance-activé
Comment=Enable irqbalance daemon
Comment[fr]=Activer service irqbalance
Exec=terminator -e "zsh -c '/opt/services/irqbalance-enable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Sirqbalance
X-Kaisen-Package=kaisen-services-management;kaisen-sysadmin-tools;irqblance
