#!/usr/bin/env xdg-open

[Desktop Entry]
Name=hping3
Name[fr]=hping3
Comment=Tool for active network smashing
Comment[fr]=Outil de reconnaissance active de smashing réseau
Exec=terminator -e "zsh -c 'sudo hping3 -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Scanner
X-Kaisen-Package=hping3;kaisen-network-tools
