#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ssldump
Name[fr]=ssldump
Comment=Tool for analyse SSL/TLS protocols
Comment[fr]=Outil pour analyser les protocoles SSL et TLS
Exec=terminator -e "zsh -c 'sudo ssldump -h;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=SSL
