#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Packet Sender
Name[fr]=Packet Sender
Comment=Tool for simulating network trafic
Comment[fr]=Outil pour simuler du trafic réseau
Exec=sh -c "gksudo /opt/PacketSender_Linux_x64_v6.2.3.AppImage"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=NetworkSecurity
