#!/usr/bin/env xdg-open

[Desktop Entry]
Name=docker-disable
Name[fr]=docker-désactivé
Comment=Disable docker daemon
Comment[fr]=Désactiver service docker
Exec=terminator -e "zsh -c 'cd /opt/services;./docker-disable.sh;/bin/zsh'"
Icon=utilities-terminal
Terminal=false
Type=Application
StartupNotify=true
Categories=Services

