[Desktop Entry]
Name=Popup Notifications
Name[am]=ብቅ ባይ ማስታወቂያዎች 
Name[ar]=تنبيهات مُنبثقة
Name[be]=Выплыўныя абвяшчэнні
Name[bg]=Изскачащи известия
Name[ca]=Notificacions emergents
Name[ca@valencia]=Notificacions emergents
Name[cs]=Vyskakovací oznámení
Name[da]=Pop op-påmindelser
Name[de]=Benachrichtigungen
Name[el]=Αναδυόμενες ειδοποιήσεις
Name[en_AU]=Popup Notifications
Name[en_GB]=Popup Notifications
Name[es]=Notificaciones emergentes
Name[es_CL]=Notificaciones emergentes
Name[es_CO]=Notificaciones de popup
Name[et]=Hüpikteavitused
Name[eu]=Laster-leiho jakinarazpenak
Name[fi]=Ponnahdusilmoitukset
Name[fr]=Notifications d’événements
Name[gl]=Notificacións emerxentes
Name[he]=התרעות קופצות
Name[hr]=Iskačuće obavijesti
Name[hu]=Felugró értesítések
Name[hy]=Թռուցիկ Ծանուցումներ
Name[id]=Notifikasi Keluar
Name[is]=Tilkynningar í sprettglugga
Name[it]=Notifica a comparsa
Name[ja]=ポップアップ通知
Name[kk]=Қалқымалы хабарламалар
Name[ko]=팝업 알림
Name[lt]=Iškylantieji pranešimai
Name[ms]=Pemberitahuan Timbul
Name[nb]=Oppsprettsmerknader
Name[nl]=Opduikmeldingen
Name[pl]=Wyskakujące powiadomienia
Name[pt]=Notificações de Alerta
Name[pt_BR]=Notificações pop-up
Name[ro]=Notificări informative
Name[ru]=Всплывающие уведомления
Name[sk]=Bublinové oznámenie
Name[sl]=Pojavna Obvestila
Name[sr]=Искачућа обавештења
Name[sv]=Popup-notifieringar
Name[tr]=Balon Uyarıları
Name[uk]=Виринаючі сповіщення
Name[vi]=Các Popup Thông báo
Name[zh_CN]=弹出通知
Name[zh_HK]=彈出通知
Name[zh_TW]=彈出通知
Comment=Set your popup notification preferences
Comment[am]=የ ብቅ ባይ ማስታወቂያ ምርጫዎች ማሰናጃ
Comment[ar]=تحديدتفضيلات تنبيهاتك المنبثقة
Comment[be]=Наставіць выплыўныя абвяшчэнні
Comment[bg]=Настройки на изскачащите известия
Comment[ca]=Establiu les preferències de les notificacions emergents
Comment[ca@valencia]=Establiu les preferències de les notificacions emergents
Comment[cs]=Nastavit předvolby vyskakovacích oznámení
Comment[da]=Angiv dine præferencer for pop op-påmindelser
Comment[de]=Benachrichtigungseinblendungen einstellen
Comment[el]=Ρύθμιση των προτιμήσεων των αναδυόμενων ειδοποιήσεων
Comment[en_AU]=Set your popup notification preferences
Comment[en_GB]=Set your popup notification preferences
Comment[es]=Configurar las preferencias de sus notificaciones emergentes
Comment[es_CL]=Configure sus preferencias para notificaciones emergentes
Comment[es_CO]=Establezca sus preferencias del popup de notificación
Comment[et]=Hüpikteavituste eelistuste määramine
Comment[eu]=Ezarri laster-leiho jakinarazpenen hobespenak
Comment[fi]=Muuta ponnahdusikkuna-asetuksia
Comment[fr]=Paramétrez vos préférences de notifications d’événements
Comment[gl]=Estabeleza as súas preferencias para as notificacións emerxentes
Comment[he]=הגדרת העדפות ההתרעות הקופצות שלך
Comment[hr]=Postavi vlastite prilagodbe iskačućih obavijesti
Comment[hu]=Felugró értesítések beállításai
Comment[hy]=Սահմանել ձեր թռուցիկ ծանուցման նախընտրությունները
Comment[id]=Atur preferensi keluarnya notifikasi
Comment[is]=Stilltu hvernig tilkynningarnar birtast
Comment[it]=Imposta le preferenze delle notifiche a comparsa
Comment[ja]=ポップアップ通知の設定をします
Comment[kk]=Қалқымалы хабарламаларды баптау
Comment[ko]=팝업 알림 기본 설정을 합니다
Comment[lt]=Nusistatykite savo iškylančiųjų pranešimų nustatymus
Comment[ms]=Tetapkan keutamaan pemberitahuan timbul anda
Comment[nb]=Angi dine preferanser for oppsprettsvarsler
Comment[nl]=Stel uw voorkeuren in voor opduikmeldingen
Comment[pl]=Preferencje wyskakujących powiadomień
Comment[pt]=Defina as suas preferências das notificações de alerta
Comment[pt_BR]=Defina as preferências de suas notificações pop-up
Comment[ro]=Definiți-vă preferințele notificărilor informative
Comment[ru]=Изменить параметры всплывающих уведомлений
Comment[sk]=Nastavuje vaše bublinové oznámenia
Comment[sl]=Nastavite vaše nastavitve pojavnih obvestil
Comment[sr]=Подесите поставке искаћућих обавештења
Comment[sv]=Ställ dina popup-notifikation inställningar
Comment[tr]=Bildirim balonları tercihlerinizi tanımlayın
Comment[uk]=Налаштувати виринаючі сповіщення
Comment[vi]=Thiết đặt tùy chỉnh popup thông báo
Comment[zh_CN]=设置弹出通知首选项
Comment[zh_HK]=設定你的彈出通知偏好
Comment[zh_TW]=設定您的彈出通知偏好設定
Exec=mate-notification-properties
Icon=mate-notification-properties
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;DesktopSettings;
OnlyShowIn=MATE;
Keywords=MATE;Notification;Theme;
