[Desktop Entry]
Name=Appearance
Name[af]=Voorkoms
Name[am]=አቀራረብ
Name[ar]=المظهر
Name[as]=প্ৰদৰ্শন
Name[ast]=Aspeutu
Name[az]=Görünüş
Name[be]=Выгляд
Name[bg]=Външен вид
Name[bn]=চেহারা
Name[bn_IN]=চেহারা
Name[br]=Neuz
Name[bs]=Izgled
Name[ca]=Aparença
Name[ca@valencia]=Aparença
Name[cmn]=外觀
Name[crh]=Körüniş
Name[cs]=Vzhled
Name[csb]=Wëzdrzatk
Name[cy]=Golwg
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[dz]=འབྱུང་སྣང་
Name[el]=Εμφάνιση
Name[en_AU]=Appearance
Name[en_GB]=Appearance
Name[eo]=Aspekto
Name[es]=Apariencia
Name[es_CL]=Apariencia
Name[es_CO]=Apariencia
Name[es_DO]=Apariencia
Name[es_ES]=Apariencia
Name[es_VE]=Apariencia
Name[et]=Välimus
Name[eu]=Itxura
Name[fa]=ظاهر
Name[fi]=Ulkoasu
Name[fo]=Útsjónd
Name[fr]=Apparence
Name[fr_CA]=Apparence
Name[ga]=Cuma
Name[gd]=Coltas
Name[gl]=Aparencia
Name[gu]=દેખાવ
Name[he]=מראה
Name[hi]=दिखावट
Name[hr]=Izgled
Name[hu]=Megjelenés
Name[hy]=Արտաքին տեսք
Name[id]=Penampilan
Name[is]=Útlit
Name[it]=Aspetto
Name[ja]=外観
Name[jv]=Penampilane
Name[ka]=გარემოს იერსახე
Name[kk]=Сыртқы көрінісі
Name[km]=រូបរាង
Name[kn]=ಗೋಚರತೆ
Name[ko]=모양
Name[ku]=Xuyanî
Name[ky]=Сырткы көрүнүш
Name[lb]=Ausgesinn
Name[lo]=ຣູບຮ່າງ
Name[lt]=Išvaizda
Name[lv]=Izskats
Name[mai]=प्रकटन
Name[mk]=Изглед
Name[ml]=ദൃശ്യരൂപം
Name[mn]=Гаднах байдал
Name[mr]=स्वरूप
Name[ms]=Penampilan
Name[nb]=Utseende
Name[nds]=Aussehen
Name[ne]=देखावट
Name[nl]=Uiterlijk
Name[nn]=Utsjånad
Name[oc]=Aparéncia
Name[om]=Bifa (appearance)
Name[or]=ସାଦ୍ରୁଶ୍ଯ
Name[pa]=ਦਿਁਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Внешний вид
Name[rw]=Imigaragarire
Name[si]=පෙනුම
Name[sk]=Vzhľad
Name[sl]=Videz
Name[so]=Muuqaalka
Name[sq]=Paraqitja
Name[sr]=Изглед
Name[sr@latin]=Izgled
Name[sv]=Utseende
Name[ta]=தோற்றம்
Name[te]=రూపురేఖలు
Name[tg]=Намуди зоҳирӣ
Name[th]=รูปโฉม
Name[tl]=Hitsura
Name[tr]=Görünüm
Name[ug]=كۆرۈنۈش
Name[uk]=Вигляд
Name[ur]=مظہر
Name[uz]=Tashqi koʻrinish
Name[vi]=Diện mạo
Name[wa]=Rivnance
Name[xh]=Imbonakalo
Name[yi]=באווייז
Name[zh_CN]=外观
Name[zh_HK]=外觀
Name[zh_TW]=外觀
Comment=Customize the look of the desktop
Comment[af]=Pasmaak die voorkoms van die werkarea
Comment[am]=የ ዴስክቶፕ መልክ ማስተካከያ
Comment[ar]=خصّص مظهر سطح المكتب
Comment[as]=ডেস্কটপৰ প্ৰদৰ্শনৰ পছন্দ নিৰ্ধাৰণ কৰক
Comment[ast]=Personaliza l'aspeutu del escritoriu
Comment[be]=Наставіць выгляд асяроддзя
Comment[bg]=Настройване на външния вид на работния плот
Comment[bn]=ডেস্কটপের চেহারা পছন্দ অনুসারে নির্ধারণ করুন
Comment[bn_IN]=ডেস্কটপের চেহারা পছন্দ অনুসারে নির্ধারণ করুন
Comment[br]=Personelaat an dres ar burev
Comment[ca]=Personalitzeu l'aspecte de l'escriptori
Comment[ca@valencia]=Personalitzeu l'aparença de l'escriptori
Comment[cmn]=自訂桌面的外觀
Comment[crh]=Masaüstü körünişini şahsiyleştir
Comment[cs]=Upravit vzhled pracovního prostředí
Comment[cy]=Addasu arddull y bwrdd gwaith
Comment[da]=Tilpas skrivebordets udseende
Comment[de]=Aussehen des Schreibtischs anpassen
Comment[dz]=ཌེཀསི་ཊོཔ་གི་མཐོང་སྣང་སྲོལ་སྒྲིག་འབད
Comment[el]=Προσαρμόστε την εμφάνιση της επιφάνειας εργασίας σας
Comment[en_AU]=Customise the look of the desktop
Comment[en_GB]=Customise the look of the desktop
Comment[es]=Personalice la apariencia del escritorio
Comment[et]=Töölaua välimuse kohandamine
Comment[eu]=Pertsonalizatu mahaigainaren itxura
Comment[fi]=Muuta työpöydän ulkoasua
Comment[fr]=Personnaliser l'apparence du bureau
Comment[ga]=Saincheap cuma na deisce
Comment[gl]=Personalizar a aparencia do escritorio
Comment[gu]=ડેસ્કટોપનો દેખાવ વૈવિધ્યપૂર્ણ બનાવો
Comment[he]=התאמה אישית של המראה של שולחן העבודה
Comment[hi]=डेस्कटॉप रूप पंसदीदा करें
Comment[hr]=Prilagodi izgled radne površine
Comment[hu]=Az asztal megjelenésének testreszabása
Comment[hy]=Անհատականացնել աշխատասեղանի տեսքը
Comment[id]=Kostumisasi tampilan desktop
Comment[is]=Breyttu því hvernig tölvan lítur út
Comment[it]=Personalizza l'aspetto dell'ambiente grafico
Comment[ja]=デスクトップの見映えを設定します
Comment[ka]=სამუშაო მაგიდის ხედის გალამაზება
Comment[kk]=Жұмыс үстелінің сыртқы түрін баптау
Comment[kn]=ಗಣಕತೆರೆಯನ್ನು ನೋಟವನ್ನು ಇಚ್ಛೆಗೆ ತಕ್ಕಂತೆ ಬದಲಾಯಿಸಿ
Comment[ko]=데스크톱의 모양을 설정합니다
Comment[lt]=Keisti darbalaukio išvaizdą
Comment[lv]=Pielāgot darbvirsmas izskatu
Comment[mk]=Прилагодете го изгледот на работната околина
Comment[ml]=പണിയിടത്തിനെ ഇഷ്ടപ്പെട്ട രീതിയിലാക്കുക
Comment[mr]=डेस्कटॉपचा दृश्य स्वपसंत करा
Comment[ms]=Suaikan penampilan desktop
Comment[nb]=Tilpass utseende for skrivebordet
Comment[nds]=Schrievdiskutsehn anpassen
Comment[ne]=डेक्सटपको हेराइ अनुकुलन गर्नुहोस्
Comment[nl]=De achtergrond van het bureaublad instellen
Comment[nn]=Tilpass utsjåande for skrivebordet
Comment[oc]=Personalizar l'aparéncia del burèu
Comment[or]=ଡେସ୍କଟପର ଦୃଶ୍ୟକୁ ଇଚ୍ଛାମୁତାବକ କରନ୍ତୁ
Comment[pa]=ਡੈਸਕਟਾਪ ਲਈ ਪਸੰਦੀਦਾ ਦਿੱਖ
Comment[pl]=Dostosowanie wyglądu środowiska
Comment[pt]=Personalizar o aspeto da área de trabalho
Comment[pt_BR]=Personalizar a aparência da área de trabalho
Comment[ro]=Personalizează aspectul spațiului de lucru
Comment[ru]=Настройте тему рабочего стола
Comment[sk]=Prispôsobiť vzhľad pracovnej plochy
Comment[sl]=Prilagajanje videza namizja
Comment[sq]=Personalizon paraqitjen e ambjentit grafik
Comment[sr]=Прилагодите изглед радне површи
Comment[sr@latin]=Prilagodite izgled radne površi
Comment[sv]=Anpassa utseendet för skrivbordet
Comment[ta]=கணிமேசைக்கான காட்சியை தனிப்பயனாக்குக
Comment[te]=డెస్కుటాప్ యొక్క రూపాన్ని మలుచుము
Comment[th]=ปรับแต่งรูปโฉมของพื้นโต๊ะ
Comment[tr]=Masaüstü görünümünü özelleştir
Comment[ug]=ئىختىيارىچە ئۈستەل ئۈستى قىياپىتى
Comment[uk]=Налаштувати вигляд стільниці
Comment[ur]=ڈیسک ٹاپ کا منظر مختص کریں
Comment[uz]=Ish stoli ko'rinishni o'zgartirish
Comment[vi]=Tùy chỉnh màn hình nền
Comment[zh_CN]=自定义桌面外观
Comment[zh_HK]=自選桌面的外觀
Comment[zh_TW]=自訂桌面的外觀
Exec=mate-appearance-properties %F
Icon=preferences-desktop-theme
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;DesktopSettings;
Keywords=mate-control-center;MATE;appearance;properties;desktop;customize;look;
OnlyShowIn=MATE;
