[Desktop Entry]
Name=Mouse
Name[af]=Muis
Name[am]=አይጥ 
Name[ar]=الفأرة
Name[as]=মাউছ
Name[ast]=Mur
Name[az]=Siçan
Name[be]=Мыш
Name[bg]=Мишка
Name[bn]=মাউস
Name[bn_IN]=মাউস
Name[br]=Logodenn
Name[bs]=Miš
Name[ca]=Ratolí
Name[ca@valencia]=Ratolí
Name[cmn]=滑鼠
Name[crh]=Sıçan
Name[cs]=Myš
Name[cy]=Llygoden
Name[da]=Mus
Name[de]=Maus
Name[dz]=མཱའུསི།
Name[el]=Ποντίκι
Name[en_AU]=Mouse
Name[en_CA]=Mouse
Name[en_GB]=Mouse
Name[eo]=Muso
Name[es]=Ratón
Name[es_AR]=Ratón
Name[es_CL]=Mouse o ratón
Name[et]=Hiir
Name[eu]=Sagua
Name[fa]=ماوس
Name[fi]=Hiiri
Name[fr]=Souris
Name[fy]=Mûs
Name[ga]=Luch
Name[gl]=Rato
Name[gu]=માઉસ
Name[he]=עכבר
Name[hi]=माउस
Name[hr]=Miš
Name[hu]=Egér
Name[hy]=Մկնիկ
Name[id]=Tetikus
Name[is]=Mús
Name[it]=Mouse
Name[ja]=マウス
Name[ka]=თაგვი
Name[kk]=Тышқан
Name[kn]=ಮೌಸ್
Name[ko]=마우스
Name[ku]=Mişk
Name[ky]=Чычкан
Name[lt]=Pelė
Name[lv]=Pele
Name[mai]=माउस
Name[mg]=Totozy
Name[mk]=Глушец
Name[ml]=മൌസ്
Name[mn]=Хулгана
Name[mr]=माऊस
Name[ms]=Tetikus
Name[nb]=Mus
Name[nds]=Muus
Name[ne]=माउस
Name[nl]=Muis
Name[nn]=Mus
Name[nso]=Legotlwana
Name[oc]=Mirga
Name[or]=ମାଉସ
Name[pa]=ਮਾਊਸ
Name[pl]=Mysz
Name[pt]=Rato
Name[pt_BR]=Mouse
Name[ro]=Maus
Name[ru]=Мышь
Name[rw]=Imbeba
Name[sk]=Myš
Name[sl]=Miška
Name[sq]=Mouse
Name[sr]=Миш
Name[sr@latin]=Miš
Name[sv]=Mus
Name[ta]=சொடுக்கி
Name[te]=మౌస్
Name[th]=เมาส์
Name[tr]=Fare
Name[ug]=چاشقىنەك
Name[uk]=Миша
Name[ur]=ماؤس
Name[uz]=Sichqoncha
Name[vi]=Chuột
Name[wa]=Sori
Name[xh]=Imawusi
Name[zh_CN]=鼠标
Name[zh_HK]=滑鼠
Name[zh_TW]=滑鼠
Name[zu]=Isingoso
Comment=Set your mouse preferences
Comment[af]=Stel jou muisvoorkeure in
Comment[am]=የ አይጥ ቁልፍ ምርጫ ማሰናጃ
Comment[ar]=اضبط تفضيلات فأرتك
Comment[as]=মাউচ সম্পৰ্কিত পছন্দ নিৰ্ধাৰণ কৰক
Comment[ast]=Afitar les preferencies del mur
Comment[az]=Siçanınızın qurğularını seçin
Comment[be]=Вызначыць настáўленні вашай мышы
Comment[bg]=Настройки на вашата мишка
Comment[bn]=মাউস সম্পর্কিত পছন্দ নির্ধারণ করুন
Comment[bn_IN]=মাউস সম্পর্কিত পছন্দ নির্ধারণ করুন
Comment[br]=Lakait ho kwellvezioù al logodenn
Comment[bs]=Postavite opcije za miša
Comment[ca]=Establiu les preferències del vostre ratolí
Comment[ca@valencia]=Estableix les preferències del ratolí
Comment[cmn]=修改滑鼠偏好設定
Comment[crh]=Fare tercihlerini yapın
Comment[cs]=Nastaví předvolby myši
Comment[cy]=Gosodwch eich hoffterau llygoden
Comment[da]=Vælg indstillinger for mus
Comment[de]=Die Mauseinstellungen festlegen
Comment[dz]=ཁྱོད་རའི་མཱའུསི་གི་ དགའ་གདམ་ཚུ་ གཞི་སྒྲིག་འབད།
Comment[el]=Καθορισμός προτιμήσεων ποντικιού
Comment[en_AU]=Set your mouse preferences
Comment[en_CA]=Set your mouse preferences
Comment[en_GB]=Set your mouse preferences
Comment[es]=Establezca sus preferencias del ratón
Comment[et]=Hiire-eelistuste seadmine
Comment[eu]=Ezarri saguaren hobespenak
Comment[fa]=ترجیحات موشی‌تان را تنظیم کنید
Comment[fi]=Muuta hiiriasetuksia
Comment[fr]=Définir les paramètres de votre souris
Comment[ga]=Socraigh do chuid sainroghanna na luiche
Comment[gl]=Estabeleza as preferencias do rato
Comment[gu]=તમારા માઉસની પસંદગીઓ ગોઠવો
Comment[he]=הגדרת העדפות העכבר שלך
Comment[hi]=अपने माउस की वरीयताएँ नियत करें
Comment[hr]=Postavi vlastite prilagodbe miša
Comment[hu]=Egér beállításai
Comment[hy]=Սահմանել ձեր մկնիկի նախապատվությունները
Comment[id]=Atur preferensi tetikus Anda
Comment[is]=Stilltu músina þína
Comment[it]=Imposta le preferenze del mouse
Comment[ja]=お使いのマウスの動きを設定します
Comment[ka]=თაგვის პარამეტრების დაყენება
Comment[kk]=Тышқан баптауларын орнатыңыз
Comment[kn]=ನಿಮ್ಮ ಮೌಸ್‍ನ ಆದ್ಯತೆಗಳನ್ನು ಹೊಂದಿಸಿ
Comment[ko]=마우스 기본 설정을 설정합니다
Comment[ku]=Tercîhên mişk bike
Comment[ky]=Чычкан ырастоолоруңузду орнотуңуз
Comment[lt]=Keisti pelės nustatymus
Comment[lv]=Mainīt peles iestatījumus
Comment[mai]=अपन माउस क' वरीयतासभ नियत करू
Comment[mg]=Mamaritra ny safidy manokan'ny totozinao
Comment[mk]=Поставете ги преференците за глушецот
Comment[ml]=മൌസ് മുന്‍‌ഗണനകള്‍ രേഖപ്പെടുത്തുക
Comment[mn]=Хулганы тохируулга хийх
Comment[mr]=तुमच्या माऊस पसंती सेट करा
Comment[ms]=Tetapkan keutamaan tetikus anda
Comment[nb]=Sett dine brukervalg for mus
Comment[ne]=तपाईँको माउस प्राथमिक्ताहरू सेट गर्नुहोस्
Comment[nl]=Uw muisvoorkeuren instellen
Comment[nn]=Sett opp instillingane for musa
Comment[nso]=Beakanya tše ratwago tša legotlwana
Comment[oc]=Configurar la mirga
Comment[or]=ଆପଣଙ୍କର ମାଉସ ପସନ୍ଦ ଗୁଡିକୁ ସ୍ଥିର କରନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਮਾਊਸ ਦੀ ਪਸੰਦ ਦਿਓ
Comment[pl]=Ustawianie preferencji myszy
Comment[pt]=Defina as preferências do rato
Comment[pt_BR]=Defina suas preferências de mouse
Comment[ro]=Definire preferințe maus
Comment[ru]=Диалог настройки мыши
Comment[sk]=Nastaviť myš
Comment[sl]=Nastavi možnosti miške
Comment[sq]=Përcakton preferimet e mouse
Comment[sr]=Подесите поставке миша
Comment[sr@latin]=Podesite miša
Comment[sv]=Ställ in dina musinställningar
Comment[ta]=உங்கள் சொடுக்கியின் பண்புகளை அமைக்கவும்
Comment[te]=మీ మౌస్ అభీష్టాలను అమర్చుము
Comment[th]=ปรับแต่งค่าตั้งสำหรับเมาส์
Comment[tr]=Fare tercihlerini yapın
Comment[ug]=چاشقىنەك مايىللىق تەڭشىكى
Comment[uk]=Встановлення параметрів миші
Comment[ur]=اپنے ماؤس کی ترجیحات مُتعین کریں
Comment[vi]=Lập các tùy thích cho chuột
Comment[wa]=Defini vos preferinces pol sori
Comment[xh]=Misela uluhlu lwakho lokukhetha lwemawusi
Comment[zh_CN]=设置鼠标首选项
Comment[zh_HK]=修改滑鼠偏好設定
Comment[zh_TW]=修改滑鼠偏好設定
Comment[zu]=Hlela okuthandekayo kwesingoso
Exec=mate-mouse-properties
Icon=input-mouse
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;HardwareSettings;
Keywords=mate-control-center;MATE;mouse;preferences;
OnlyShowIn=MATE;
