[Desktop Entry]
Name=Floating MATE
Name[am]=ተንሳፋፊ ሜት
Name[ar]=متّة طافية
Name[ast]=MATE flotante
Name[be]=MATE плавае
Name[bg]=Плаващ MATE
Name[ca]=MATE flotant
Name[ca@valencia]=MATE flotant
Name[cmn]=浮動的 MATE
Name[cs]=Plovoucí logo MATE
Name[da]=Flydende MATE
Name[de]=Schwebendes Mate
Name[el]=Ελεύθερα μετακινούμενο MATE
Name[en_AU]=Floating MATE
Name[en_GB]=Floating MATE
Name[es]=MATE flotante
Name[et]=Hõljuv MATE
Name[fa]=MATE معلق
Name[fr]=MATE flottant
Name[gl]=MATE flotante
Name[hi]=फ्लोटिंग माटे
Name[hr]=Plutajući MATE
Name[hu]=Lebegő MATE
Name[hy]=Փոփոխական MATE
Name[id]=MATE Mengapung
Name[is]=Fljótandi MATE
Name[it]=MATE fluttuante
Name[ja]=フローティング MATE
Name[kk]=Қалқымалы MATE
Name[ko]=떠다니는 마테
Name[lt]=Plaukiojantis MATE
Name[ms]=MATE terapung
Name[nb]=Flytende MATE
Name[nl]=MATE-logo's
Name[nn]=Flytande MATE
Name[oc]=MATE flotant
Name[pl]=Latające MATE
Name[pt]=MATE Flutuante
Name[pt_BR]=MATE Flutuante
Name[ro]= MATE plutitor
Name[ru]=Плавающий MATE
Name[sk]=Lietajúce MATE
Name[sl]=Lebdeči MATE
Name[sr]=Лебдећи Мејт
Name[sv]=Flytande MATE
Name[th]=Floating MATE
Name[tr]=Yüzen MATE
Name[uk]=Плаваючий MATE
Name[vi]=Biểu tượng MATE lơ lửng
Name[zh_CN]=浮动的 MATE
Name[zh_TW]=浮動 MATE
Comment=Bubbles the MATE logo around the screen
Comment[ar]=فقاعات شعار متّة حول الشّاشة
Comment[ast]=Burbuyes del logo MATE alredor de la pantalla
Comment[be]=Бурбалкі з лагатыпам MATE па ўсім экране
Comment[bg]=Балончета по екрана с логото на MATE
Comment[ca]=Bombolles amb el logotip de MATE per tota la pantalla
Comment[ca@valencia]=Bambolles amb el logotip del MATE per tota la pantalla
Comment[cmn]=畫面上四處移動的 MATE 圖標泡泡
Comment[cs]=Bublinky loga MATE po obrazovce
Comment[da]=Bobler MATE-logoet omkring på skærmen
Comment[de]=Das MATE-Logo auf dem Bildschirm rumschweben lassen
Comment[el]=Φούσκες του λογότυπου του MATE στην οθόνη
Comment[en_AU]=Bubbles the MATE logo around the screen
Comment[en_GB]=Bubbles the MATE logo around the screen
Comment[es]=Burbujas del logo MATE alrededor de la pantalla
Comment[et]=MATE logod ekraanil ringi hõljumas
Comment[fa]=حباب‌پراکنی از لوگوی MATE در اطراف صفحهٔ نمایش
Comment[fr]=Diffuser le logo MATE sous forme de bulles partout sur l'écran
Comment[gl]=Move o logotipo do do MATE pola pantalla
Comment[hi]=स्क्रीन के चारों ओर माटे के प्रतीक चिन्ह को बुदबुदाता है
Comment[hr]=Ispušta zaštitni znak MATE po zaslonu
Comment[hu]=A MATE logót lebegteti körbe a képernyőn
Comment[hy]=MATE լոգոյի պղպջակները էկրանի շուրջը
Comment[id]=Balonkan logo MATE di sekitar layar
Comment[is]=Freyðir MATE-merkinu um skjáinn
Comment[it]=Fa rimbalzare il logo di MATE sullo schermo
Comment[ja]=画面の回りに MATE のロゴが浮かびます
Comment[ko]=화면에 마테 로고가 떠다닙니다
Comment[lt]=MATE logotipas „burbuliuoja“ ekrane
Comment[ms]=Buih-buih logo MATE disekeliling skrin
Comment[nb]=Bobler av MATE-logoen rundt omkring på skjermen
Comment[nl]=Toont vliegende MATE-logo's op het scherm
Comment[pl]=Wyświetla na ekranie logo MATE
Comment[pt]=Bolhas com o logótipo do MATE por todo o ecrã
Comment[pt_BR]=Borbulha o logotipo MATE ao redor da tela
Comment[ro]=Plimbă sigla MATE pe ecran
Comment[ru]=Всплывающие по всему экрану логотипы MATE
Comment[sk]=Bublinkovať logo MATE po obrazovke
Comment[sl]=Premikanje mehurčkov z logotipom MATE po zaslonu
Comment[sr]=Приказује мехуриће Мејтовог обележја по екрану
Comment[sv]=Bubblar runt MATE loggan på skärmen
Comment[th]=เลื่อนโลโก้ของ MATE ไปรอบๆหน้าจอ
Comment[tr]=Ekran üzerinde MATE logosu baloncukları oluşturur
Comment[uk]=Логотипи MATE, що виринають по усьому екрану
Comment[vi]=Thổi bong bóng biểu tượng MATE xung quanh màn hình
Comment[zh_CN]=在屏幕上如泡泡一样浮动 MATE 徽标
Comment[zh_TW]=讓 MATE 標誌圍繞畫面
Exec=/usr/lib/mate-screensaver/mate-screensaver/floaters /usr/share/pixmaps/mate-logo-white.svg
TryExec=/usr/lib/mate-screensaver/mate-screensaver/floaters
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
Keywords=MATE;screensaver;logo;bubbles;
OnlyShowIn=MATE;
