[Desktop Entry]
Name=Floating GNOME
Name[am]=ተንሳፋፊ ኖም
Name[ar]=أقدام غنّوم طافية
Name[ast]=GNOME flotante
Name[be]=GNOME плавае
Name[bg]=Плаващ GNOME
Name[ca]=GNOME flotant
Name[ca@valencia]=GNOME flotant
Name[cmn]=浮動的 GNOME
Name[cs]=Plovoucí logo GNOME
Name[da]=Flydende GNOME
Name[de]=Schwebendes Gnome
Name[el]=Ελεύθερα μετακινούμενο GNOME
Name[en_AU]=Floating GNOME
Name[en_GB]=Floating GNOME
Name[es]=GNOME flotante
Name[et]=Hõljuv GNOME
Name[fa]=GNOME معلق
Name[fr]=GNOME flottants
Name[gl]=GNOME flotante
Name[hi]=फ्लोटिंग गनोम
Name[hr]=Plutajući GNOME
Name[hu]=Lebegő MATE
Name[hy]=Փոփոխական GNOME
Name[id]=GNOME Mengapung
Name[is]=Fljótandi GNOME
Name[it]=GNOME fluttuante
Name[ja]=フローティング GNOME
Name[kk]=Қалқымалы GNOME
Name[ko]=떠다니는 GNOME
Name[lt]=Plaukiojantis MATE
Name[ms]=GNOME terapung
Name[nb]=Flytende GNOME
Name[nl]=Vliegend GNOME-logo
Name[nn]=Flytande GNOME
Name[oc]=GNOME flotants
Name[pl]=Latające GNOME
Name[pt]=GNOME flutuante
Name[pt_BR]=GNOME Flutuante
Name[ro]=GNOME plutitor
Name[ru]=Плавающий GNOME
Name[sk]=Plávajúce logo GNOME
Name[sl]=Plavajoč GNOME
Name[sr]=Лебдећи Гном
Name[sv]=Flytande GNOME
Name[th]=Floating GNOME
Name[tr]=Yüzen GNOME
Name[uk]=Плаваючий GNOME
Name[vi]=Biểu tượng GNOME lơ lửng
Name[zh_CN]=浮动的 GNOME
Name[zh_TW]=浮動 GNOME
Comment=Bubbles the GNOME logo around the screen
Comment[ar]=فقاعات شعار غنّوم حول الشّاشة
Comment[ast]=Amuesa'l logo de GNOME flotando en burbuyes
Comment[be]=Бурбалкі з лагатыпам GNOME па ўсім экране
Comment[bg]=Балончета по екрана с логото на GNOME
Comment[ca]=Bombolles amb el logotip de GNOME per tota la pantalla
Comment[ca@valencia]=Bambolles amb el logotip del GNOME per tota la pantalla
Comment[cmn]=畫面上四處移動的 GNOME 圖標泡泡
Comment[cs]=Bublinky loga GNOME po obrazovce
Comment[da]=Bobler GNOME-logoet omkring på skærmen
Comment[de]=Das GNOME-Logo auf dem Bildschirm rumschweben lassen
Comment[el]=Φούσκες του λογότυπου του GNOME στην οθόνη
Comment[en_AU]=Bubbles the GNOME logo around the screen
Comment[en_GB]=Bubbles the GNOME logo around the screen
Comment[es]=Muestra el logo de GNOME flotando en burbujas
Comment[et]=GNOME logod ekraanil ringi hõljumas
Comment[fa]=حباب‌پراکنی از لوگوی گنوم در اطراف صفحهٔ نمایش
Comment[fr]=Diffuser le logo GNOME sous forme de bulles partout sur l'écran
Comment[gl]=Move o logotipo do GNOME pola pantalla
Comment[hi]=स्क्रीन के चारों ओर गनोम के प्रतीक चिन्ह को बुदबुदाता है
Comment[hr]=Ispušta zaštitni znak GNOME po zaslonu
Comment[hu]=A MATE logót lebegteti körbe a képernyőn
Comment[hy]= GNOME լոգոյի պղպջակները էկրանի շուրջը
Comment[id]=Balonkan logo kaki MATE di sekitar layar
Comment[is]=Freyðir GNOME-merkinu um skjáinn
Comment[it]=Fa rimbalzare il logo di GNOME sullo schermo
Comment[ja]=画面の回りに GNOME のロゴが浮かびます
Comment[ko]=화면에 그놈 발바닥 로고가 떠다닙니다
Comment[lt]=GNOME logotipas „burbuliuoja“ ekrane
Comment[ms]=Buih-buih logo GNOME disekeliling skrin
Comment[nb]=Bobler av GNOME-logoen rundt omkring på skjermen
Comment[nl]=Toont een GNOME-logo dat over het scherm vliegt
Comment[pl]=Wyświetla na ekranie logo GNOME
Comment[pt]=Bolhas com o logótipo do GNOME por todo o ecrã
Comment[pt_BR]=Borbulha o logotipo GNOME ao redor da tela
Comment[ro]=Plimbă sigla GNOME pe ecran
Comment[ru]=Всплывающие по всему экрану логотипы GNOME
Comment[sk]=Bublinky loga GNOME na obrazovke
Comment[sl]=Ustvari mehurčke z logotipom GNOME po zaslonu
Comment[sr]=Приказује мехуриће Гномовог обележја по екрану
Comment[sv]=Bubblar runt GNOME loggan på skärmen
Comment[th]=เลื่อนโลโก้ของ GNOME ไปรอบๆหน้าจอ
Comment[tr]=Ekran üzerinde GNOME logosu baloncukları oluşturur
Comment[uk]=Логотипи GNOME, що виринають по усьому екрану
Comment[vi]=Thổi bong bóng biểu tượng GNOME xung quanh màn hình
Comment[zh_CN]=在屏幕上如泡泡一样浮动 GNOME 徽标
Comment[zh_TW]=讓 GNOME 標誌圍繞畫面
Exec=/usr/lib/mate-screensaver/mate-screensaver/floaters /usr/share/pixmaps/gnome-logo-white.svg
TryExec=/usr/lib/mate-screensaver/mate-screensaver/floaters
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
Keywords=MATE;screensaver;GNOME;logo;bubbles;
OnlyShowIn=MATE;
